
{% extends 'layout-app.html' %}

{% set pageHeading = "All clinics" %}

{% set back = {
  href: "/"
  } %}

{% block pageContent %}
  <h1>{{pageHeading}}</h1>

  {% if data.clinics.length === 0 %}
    <p>No clinics found.</p>
  {% else %}
    <table class="nhsuk-table">
      <thead class="nhsuk-table__head">
        <tr>
          <th scope="col">Location</th>
          <th scope="col">Date</th>
          <th scope="col">Service type</th>
          <th scope="col" class="nhsuk-table__cell--numeric">Status</th>
          <th scope="col" class="nhsuk-table__cell--numeric">Participants</th>
        </tr>
      </thead>
      <tbody class="nhsuk-table__body">
        {% for clinic in data.clinics | sort(false, false, 'date') %}
        {{ clinic | log }}
          {% set unit = data.breastScreeningUnits | findById(clinic.breastScreeningUnitId) %}
          {% set location = unit.locations | findById(clinic.locationId) %}
          {% set events = data.events | getClinicEvents(clinic.id) %}
          <tr>
            <td>
              <a href="/clinics/{{ clinic.id }}" class="nhsuk-link">
                {% if location.type === 'mobile_unit' %}
                  {{ location.name }} at {{ clinic.siteName }}
                {% else %}
                  {{ location.name }}
                {% endif %}
              </a>
            </td>
            <td>{{ clinic.date | formatDate |  noWrap }}</td>
            <td>{{ clinic.serviceType | sentenceCase }}</td>
            <td class="nhsuk-table__cell--numeric">
              {{ tag({
                text: clinic.status | formatWords | sentenceCase,
                classes: "nhsuk-tag--" + clinic.status | getStatusTagColour
              })}}
            </td>
            <td class="nhsuk-table__cell--numeric">
              {{ events.length }}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    <div class="nhsuk-action-link">
      <a class="nhsuk-action-link__link" href="/clinics/today">
        <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
          <path d="M0 0h24v24H0z" fill="none"></path>
          <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
        </svg>
        <span class="nhsuk-action-link__text">View today's clinics</span>
      </a>
    </div>
  {% endif %}
{% endblock %}
