{% extends 'layout-app.html' %}
{% set pageHeading = "Today’s clinics" %}

{% set gridColumn = "nhsuk-grid-column-full" %}

{% set back = {
  href: "/clinics",
  text: "Clinics"
} %}

{% block pageContent %}
  {% set unit = data.breastScreeningUnits | findById(clinic.breastScreeningUnitId) %}
  {# {% set events = data.events | getClinicEvents(clinicId) %} #}
  {% set events = allEvents %}

  {{ clinic | log }}

  <h1 class="nhsuk-heading-l">
    <span class="nhsuk-caption-l">{{ unit.name }}</span>
    {{ clinic.clinicType | sentenceCase }} clinic on {{ clinic.date | formatDate }}
  </h1>

  <p>{{ clinic.sessionType | sentenceCase }} clinic - {{ clinic.sessionTimes | formatTimeRange }} </p>

  {% set secondaryNavItems = [] %}

  {% for filter in [
    { id: 'all', label: 'All participants' },
    { id: 'scheduled', label: 'Scheduled' },
    { id: 'checked-in', label: 'Checked in' },
    { id: 'attended', label: 'Attended' }
  ] %}
    {% set href -%}
      /clinics/{{ clinicId }}/{{ filter.id if filter.id !== 'all' }}
    {% endset %}
    {% set secondaryNavItems = secondaryNavItems | push({
      text: (filter.label + " " + appCount(events | filterEventsByStatus(filter.id) | length)) | safe,
      href: href | trim,
      current: true if filter.id == status
    }) %}

  {% endfor %}

  {{ appSecondaryNavigation({
    visuallyHiddenTitle: "Secondary menu",
    items: secondaryNavItems
  }) }}

  {% if filteredEvents.length === 0 %}
    <p>No participants scheduled for this clinic.</p>
  {% else %}
    {# <p>{{ filteredEvents.length }} scheduled participants</p> #}

    <table class="nhsuk-table">
      <thead class="nhsuk-table__head">
        <tr>
          <th class="nhsuk-table__header">Time</th>
          <th class="nhsuk-table__header">Name</th>
          {# <th class="nhsuk-table__header">Postcode</th> #}
          <th class="nhsuk-table__header">NHS number</th>
          <th class="nhsuk-table__header">Status</th>
          <th class="nhsuk-table__header">Actions</th>
        </tr>
      </thead>
      <tbody class="nhsuk-table__body">
        {% for event in filteredEvents %}
          {% set participant = data.participants | findById(event.participantId) %}
          <tr>
            <td class="nhsuk-table__cell">{{ event.statusHistory[0].timestamp | formatTime }}</td>
            <td class="nhsuk-table__cell">
              <a href="/clinics/{{ clinicId }}/events/{{ event.id }}" class="nhsuk-link">
                {{ participant | getFullName }}
              </a>
            </td>
            <td class="nhsuk-table__cell">{{ participant.medicalInformation.nhsNumber | formatNhsNumber | noWrap }}</td>
            <td class="nhsuk-table__cell">
              {{ tag({
                text: event.status | formatWords | sentenceCase,
                classes: "nhsuk-tag--" + event.status | getStatusTagColour
              })}}
            </td>
            <td class="nhsuk-table__cell">
              {% if event.status === 'scheduled' %}
                <a href="/clinics/{{ clinicId }}/check-in/{{ event.id }}?currentFilter={{ currentFilter }}" class="nhsuk-link">
                  {{ "Check in" | noWrap }}
                </a>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}

  <h2 class="nhsuk-heading-m">Details</h2>
  
  <dl class="nhsuk-summary-list">
    <div class="nhsuk-summary-list__row">
      <dt class="nhsuk-summary-list__key">Location</dt>
      <dd class="nhsuk-summary-list__value">
        {{ unit.name }}<br>
        {% for item, line in unit.address %}
          {{ line }}{% if not loop.last %}<br>{% endif %}
        {% endfor %}
      </dd>
    </div>
    
    <div class="nhsuk-summary-list__row">
      <dt class="nhsuk-summary-list__key">Phone</dt>
      <dd class="nhsuk-summary-list__value">{{ unit.phoneNumber }}</dd>
    </div>
    
    <div class="nhsuk-summary-list__row">
      <dt class="nhsuk-summary-list__key">Date</dt>
      <dd class="nhsuk-summary-list__value">{{ clinic.date | formatDate }}</dd>
    </div>
    
    <div class="nhsuk-summary-list__row">
      <dt class="nhsuk-summary-list__key">Location</dt>
      <dd class="nhsuk-summary-list__value">{{ clinic.locationType | formatWords | sentenceCase }}</dd>
    </div>

    <div class="nhsuk-summary-list__row">
      <dt class="nhsuk-summary-list__key">Type</dt>
      <dd class="nhsuk-summary-list__value">{{ clinic.clinicType | sentenceCase }}</dd>
    </div>
  </dl>

  <a href="/clinics" class="nhsuk-back-link">Back to today's clinics</a>
{% endblock %}
