{# /app/views/_includes/summary-lists/participant.njk #}
{% set allowEdits = allowEdits | default(true) %}

{% set dob %}
  {{ participant.demographicInformation.dateOfBirth | formatDate }}<br>
  <span class="nhsuk-hint">({{ participant.demographicInformation.dateOfBirth | formatRelativeDate(true) }} old)</span>
{% endset %}

{% set ethnicGroup = participant.demographicInformation.ethnicGroup %}
{% set ethnicBackground = participant.demographicInformation.ethnicBackground %}
{% set otherEthnicBackgroundDetails = participant.demographicInformation.otherEthnicBackgroundDetails %}

{% if otherEthnicBackgroundDetails and (ethnicBackground | lower | startsWith("other")) -%}
  {% set ethnicBackground -%}
    {{- ethnicBackground }} - {{ otherEthnicBackgroundDetails }}
  {%- endset %}
{% endif %}

{% set ethnicityHtml %}
  {{ ethnicGroup if ethnicGroup }}
  {% if ethnicBackground and ethnicBackground != 'Prefer not to say' %}
    ({{ ethnicBackground | replace('Other', 'other') }})
    {% elseif ethnicBackground == "Prefer not to say" %}
      {{ ethnicBackground }}
  {% endif %}
{% endset %}

{% set addressRow %}
  {% include "_includes/summary-lists/rows/address.njk" %}
{% endset %}

{% set phoneNumbersRow %}
  {% include "_includes/summary-lists/rows/phone-numbers.njk" %}
{% endset %}

{% set emailRow %}
  {% include "_includes/summary-lists/rows/email.njk" %}
{% endset %}

{% set hasAdditionalMammograms = event.previousMammograms | length > 0 %}

{% set lastMammogramHtml %}

  <p>
    {% if hasAdditionalMammograms %}
      <span class="nhsuk-u-font-weight-bold">At this BSU</span><br>
    {% endif %}
    {# Temporarily hardcode until we can investigate bug with date #}
    {{ "2022-03-23" | formatDate }}
    ({{ "2022-03-23" | formatDate | formatRelativeDate | asHint }})</br>
    West of London BSU
    {# {% set mostRecentClinic = data | getParticipantMostRecentClinic(participant.id) %}
    {% if mostRecentClinic %}
      {{ mostRecentClinic | log }}
      {{ mostRecentClinic.event.timing.startTime | formatDate }} ({{ mostRecentClinic.event.timing.startTime | formatDate | formatRelativeDate | asHint }})</br>
      {{ mostRecentClinic.location.name }}</br>
      {{ mostRecentClinic.event.type | sentenceCase }}

    {% else %}
        {{ "Not known" | asHint }}
    {% endif %} #}
  </p>

  {% if hasAdditionalMammograms %}
    {% for previousMammogram in event.previousMammograms %}
      <p>
        <span class="nhsuk-u-font-weight-bold">Added today</span><br>

        {# Date #}
        {% if previousMammogram.dateType == 'dateKnown' %}
          {{ previousMammogram.dateTaken | formatDate }}
          ({{ previousMammogram.dateTaken | formatDate | formatRelativeDate | asHint }})</br>
        {% elseif previousMammogram.dateType == 'approximateDate' %}
          Approximate date: {{ previousMammogram.approximateDate }}</br>
        {% else %}
          Date unknown</br>
        {% endif %}

        {# Location #}
        {% if previousMammogram.location == "currentBsu" %}
          {{ unit.name }}</br>
        {% elseif previousMammogram.location == "bsu" %}
          {{ previousMammogram.bsu }}</br>
        {% elseif previousMammogram.location == "otherUk" %}
          In the UK: {{ previousMammogram.otherUk | nl2br | safe }}</br>
        {% elseif previousMammogram.location == "otherNonUk" %}
          Outside the UK: {{ previousMammogram.otherNonUk | nl2br | safe }}</br>
        {% elseif previousMammogram.location == "preferNotToSay" %}
          Location: prefer not to say</br>
        {% else %}
          Unknown location</br>
        {% endif %}

        {# Previous mammogram was less than 6 months and we are force-proceeding #}
        {% if previousMammogram.overrideReason %}
          Reason for continuing with mammograms: {{ previousMammogram.overrideReason }}
        {% endif %}

        {# Changed name #}
        {% if previousMammogram.sameName == "differentName" %}
          Previous name: {{ previousMammogram.previousName }}</br>
        {% endif %}

        {# Additional information #}
        {% if previousMammogram.otherDetails %}
          Additional information:
          {{ previousMammogram.otherDetails | nl2br | safe }}
        {% endif %}
      </p>
    {% endfor %}

  {% endif %}

{% endset %}

{% set riskLevel = participant | getCurrentRiskLevel | sentenceCase %}

{% if riskLevel == "Family history" %}
  {% set riskLevel = "Family history: moderate risk" %}
{% endif %}

{{ summaryList({
  rows: [
   {
     key: {
       text: "Full name"
     },
     value: {
       text: participant | getFullName
     },
     actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "date of birth"
          } if allowEdits
        ]
      }
   },
   {
     key: {
       text: "Gender"
     },
     value: {
       text: "Female"
     },
     actions: {
        items: [
        ]
     }
   } if not isMinimalParticipant,
   {
     key: {
       text: "NHS number"
     },
     value: {
       text: participant.medicalInformation.nhsNumber | formatNhsNumber
     },
     actions: {
        items: [
        ]
     }
   } if not isMinimalParticipant,
   {
     key: {
       text: "SX number"
     },
     value: {
       text: participant.sxNumber
     },
     actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "SX number"
          } if allowEdits
        ]
      }
   } if not isMinimalParticipant,
   {
     key: {
       text: "Date of birth"
     },
     value: {
       html: dob
     },
     actions: {
        items: [
        ]
     }
   },
   {
     key: {
       text: "Ethnicity"
     },
     value: {
       html: ethnicityHtml if ethnicGroup or ethnicBackground
     },
     actions: {
        items: [
          {
            href: eventId + "/personal-details/ethnicity",
            text: "Change",
            visuallyHiddenText: "ethnicity"
          }
        ]
      }
   },
   {
     html: addressRow
   },
   {
     html: phoneNumbersRow
   },
   {
     html: emailRow
   },
   {
     key: {
       text: "Email"
     },
     value: {
       text: participant.demographicInformation.email
     },
     actions: {
        items: [
          {
            href: participantId ~ "/personal-details/contact-details",
            text: "Change",
            visuallyHiddenText: "email"
          } if allowEdits
        ]
      }
   } if false,
   {
     key: {
       text: "Last known mammogram" if not hasAdditionalMammograms else "Last known mammograms"
     },
     value: {
       html: lastMammogramHtml
     },
     actions: {
        items: [
          {
            href: eventId + "/previous-mammograms/add",
            text: "Add another" if not hasAdditionalMammograms else "View or update",
            text: "Add another",
            visuallyHiddenText: "email"
          }
        ]
      }
   },
   {
     key: {
       text: "Screening protocol"
     },
     value: {
       text: riskLevel
     },
     actions: {
        items: [
          {
            href: "#",
            text: "View or update screening history",
            visuallyHiddenText: "screening protocol"
          } if false
        ]
      }
   }
  ]
} | handleSummaryListMissingInformation) }}
