{% set dob %}
  {{ participant.demographicInformation.dateOfBirth | formatDate }}<br>
  <span class="nhsuk-hint">({{ participant.demographicInformation.dateOfBirth | formatRelativeDate(true) }} old)</span>
{% endset %}

{% set address %}
  {{ participant.demographicInformation.address.line1 }}<br>
  {% if participant.demographicInformation.address.line2 %}
    {{ participant.demographicInformation.address.line2 }}<br>
  {% endif %}
  {{ participant.demographicInformation.address.city }}<br>
  {{ participant.demographicInformation.address.postcode }}
{% endset %}

{% set allowEdits = allowEdits | default(true) %}

{% set ethnicGroup = participant.demographicInformation.ethnicGroup  %}
{% set ethnicBackground = participant.demographicInformation.ethnicBackground %}
{% set ethnicityDetailsLink %}
  <a href="#" class="nhsuk-link">Enter ethnicity details</a>
{% endset %}

{# {% set ethnicGroup = false %} #}

{% set ethnicityHtml %}
{% if ethnicGroup %}
  {{ ethnicGroup }}
  {% if ethnicBackground and ethnicBackground != 'Not provided' %}
    ({{ethnicBackground | replace('Any other', 'any other')}})
  {% endif %}
{% else %}
  {{ ethnicityDetailsLink | safe }}
{% endif %}

  
{% endset %}

{{ summaryList({
  rows: [
   {
     key: {
       text: "Full name"
     },
     value: {
       text: participant | getFullName
     },
     actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "date of birth"
          } if allowEdits
        ]
      }
   },
   {
     key: {
       text: "Gender"  
     },
     value: {
       text: "Female"
     },
     actions: {
        items: [
        ]
     }
   } if not isMinimalParticipant,
   {
     key: {
       text: "NHS number"
     },
     value: {
       text: participant.medicalInformation.nhsNumber | formatNhsNumber
     },
     actions: {
        items: [
        ]
     }
   } if not isMinimalParticipant,
   {
     key: {
       text: "SX number"
     },
     value: {
       text: participant.sxNumber
     },
     actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "SX number"
          } if allowEdits
        ]
      }
   } if not isMinimalParticipant,
   {
     key: {
       text: "Date of birth"
     },
     value: {
       html: dob
     },
     actions: {
        items: [
        ]
     }
   },
   {
     key: {
       text: "Ethnicity"
     },
     value: {
       html: ethnicityHtml | safe
     },
     actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "address"
          } if false
        ]
      }
   },
   {
     key: {
       text: "Address"
     },
     value: {
       html: address
     },
     actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "address"
          } if allowEdits
        ]
      }
   },
   {
     key: {
       text: "Phone"
     },
     value: {
       text: participant.demographicInformation.phone | formatPhoneNumber
     },
     actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "phone"
          } if allowEdits
        ]
      }
   } if not isMinimalParticipant,
   {
     key: {
       text: "Email"
     },
     value: {
       text: participant.demographicInformation.email
     },
     actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "email"
          } if allowEdits
        ]
      }
   } if not isMinimalParticipant
  ]
}) }}
