{# /app/views/_includes/summary-lists/screening-history.njk #}

{% set today = "" | today %}
{% set upcomingAppointments = [] %}
{% set pastAppointments = [] %}

{% for record in clinicHistory %}
 {% if record.event.timing.startTime | isPast %}
   {% set pastAppointments = (pastAppointments.push(record), pastAppointments) %}
 {% else %}
  {% set upcomingAppointments = (upcomingAppointments.push(record), upcomingAppointments) %}
 {% endif %}
{% endfor %}
{% if not hideUpcoming %}
  {% if upcomingAppointments.length > 0 %}
    <h3>Upcoming appointments</h3>
    <table class="nhsuk-table">
     <thead>
       <tr>
         <th>Date</th>
         <th>Type</th>
         <th>Location</th>
         <th>Status</th>
         <th>Details</th>
       </tr>
     </thead>
     <tbody>
       {% for record in upcomingAppointments | sort(false, false, 'event.slot.dateTime') %}
         {% set event = record.event %}
         {% set clinic = record.clinic %}
         {% set unit = record.unit %}
         <tr>
           <td>{{ event.timing.startTime | formatDate }}</td>
           <td>{{ clinic.clinicType | formatWords | sentenceCase }}</td>
           <td>{{ unit.name }}</td>
           <td>
             {{ tag({
               text: event.status | getStatusText,
               classes: "nhsuk-tag--" + event.status | getStatusTagColour
             }) }}
           </td>
           <td>
             <a href="/clinics/{{ clinic.id }}/events/{{ event.id }}">
               View details
             </a>
           </td>
         </tr>
       {% endfor %}
     </tbody>
    </table>
    {% endif %}
{% endif %}


{% if pastAppointments.length > 0 %}
 <h3>Screening history</h3>
 <table class="nhsuk-table">
   <thead>
     <tr>
       <th>Date</th>
       <th>Type</th>
       <th>Location</th>
       <th>Status</th>
       {# <th>Outcome</th> #}
       <th>Details</th>
     </tr>
   </thead>
   <tbody>
     {% for record in pastAppointments | sort(true, false, 'event.timing.startTime') %}
       {% set event = record.event %}
       {% set clinic = record.clinic %}
       {% set unit = record.unit %}
       <tr>
         <td>{{ event.timing.startTime | formatDate }}</td>
         <td>{{ clinic.clinicType | formatWords | sentenceCase }}</td>
         <td>{{ unit.name }}</td>
         <td>
           {{ tag({
             text: event.status | getStatusText,
             classes: "nhsuk-tag--" + event.status | getStatusTagColour
           }) }}
         </td>
         {# <td>
           {% if event.outcome %}
             {{ event.outcome.status | formatWords | sentenceCase }}
           {% endif %}
         </td> #}
         <td>
           <a href="/clinics/{{ clinic.id }}/events/{{ event.id }}">
             View details
           </a>
         </td>
       </tr>
     {% endfor %}
   </tbody>
 </table>
{% endif %}

{% if upcomingAppointments.length === 0 and pastAppointments.length === 0 %}
 <p>No screening history found</p>
{% endif %}
