{# /app/views/_includes/summary-lists/symptoms.njk #}


{% if symptoms and symptoms.length > 0 %}
  {% set rows = [] %}

  {% for symptom in symptoms %}
    {% set valueHtml %}
      {{ symptom.details }}
      {% if symptom.location %}
        ({{ symptom.location }} {{ "breasts" if symptom.location == "both" else "breast" }})
      {% endif %}
      <br>
      {{ symptom.duration | replace('_', ' ') | sentenceCase }}

      {% if symptom.hasBeenInvestigated %}
        <p class="app-text-grey">Previously investigated: {{ symptom.investigationDetails }}</p>
      {% else %}
        <p class="app-text-grey">Has not been investigated</p>
      {% endif %}
    {% endset %}

    {% set rows = rows | push({
      key: {
        text: symptom.type | replace('_', ' ') | sentenceCase
      },
      value: {
        html: valueHtml | trim
      },
      classes: "nhsuk-summary-list--no-border" if loop.last
    }) %}
  {% endfor %}

  {{ summaryList({
    rows: rows
  }) }}
{# {% else %}
  <p class="app-text-grey">No symptoms reported</p> #}
{% endif %}