{# app/views/events/mammography/previous-mammograms/edit.html #}

{% extends 'layout-app.html' %}

{% set previousMammogramCount = event.previousMammograms | length %}

{# {% set pageHeading = "Add details of a previous mammogram" if previousMammogramCount == 0 else "Add another degree" %} #}

{% set pageHeading = "Add details of a previous mammogram" %}

{# {% set gridColumn = "nhsuk-grid-column-full" %} #}

{% set formAction = './../previous-mammograms-answer' %}

{# {% set back = {
  href: "/clinics/" + clinicId,
  text: "Back to clinic"
} %}
 #}


{% block pageContent %}

  {{ participant | log }}
  {{ data.event | log("Temp event") }}

  {% set previousMammogramCount = data.event.previousMammograms | length %}


  {% set unit = data.breastScreeningUnits | findById(clinic.breastScreeningUnitId) %}

  <h1 class="nhsuk-heading-l">
    <span class="nhsuk-caption-l">
      {{ participant | getFullName }}
    </span>
    {{ pageHeading }}
  </h1>

  {% set bsuHtml %}

    {% set selectItems = [{
      value: "",
      text: "",
      selected: true,
      disabled: true
    }] %}


    {% for bsu in data.allBreastScreeningUnits %}
      {% set selectItems = selectItems | push({
        value: bsu,
        text: bsu
      }) %}
    {% endfor %}

    {{ select({
      id: "bsu",
      name: "event[previousMammogramTemp][bsu]",
      label: {
        text: "Select a unit"
      },
      items: selectItems,
      value: event.previousMammogramTemp.bsu
    }) }}

  {% endset %}

  {% set otherUkHtml %}

    {{ textarea({
      name: "event[previousMammogramTemp][otherUk]",
      rows: "2",
      label: {
        text: "Location",
        _classes: "nhsuk-label--s"
      },
      value: event.previousMammogramTemp.otherUk,
      hint: {
        text: "Include the clinic or hospital name, or any location details"
      }
    }) }}

  {% endset %}

  {% set otherNonUkHtml %}

    {{ textarea({
      name: "event[previousMammogramTemp][otherNonUk]",
      rows: "2",
      label: {
        text: "Location",
        _classes: "nhsuk-label--s"
      },
      hint: {
        text: "Include the clinic or hospital name, or any location details"
      },
      value: event.previousMammogramTemp.otherNonUk
    }) }}

  {% endset %}

  {{ radios({
    idPrefix: "location",
    name: "event[previousMammogramTemp][location]",
    fieldset: {
      legend: {
        text: "Where were the breast x-rays taken?",
        classes: "nhsuk-fieldset__legend--m",
        isPageHeading: false
      }
    },
    value: event.previousMammogramTemp.location,
    items: [
      {
        value: "currentBsu",
        text: "At " + unit.name
      },
      {
        value: "bsu",
        text: "At another NHS breast screening unit",
        conditional: {
          html: bsuHtml
        }
      },
      {
        value: "otherUk",
        text: "Somewhere else in the UK",
        conditional: {
          html: otherUkHtml
        }
      },
      {
        value: "otherNonUk",
        text: "Outside the UK",
        conditional: {
          html: otherNonUkHtml
        }
      },
      {
        divider: "or"
      },
      {
        value: "preferNotToSay",
        text: "Prefer not to say"
      }
    ]
  }) }}

  {% set dateKnownHtml %}
    {{ dateInput({
      id: "dateTaken",
      namePrefix: "event[previousMammogramTemp][dateTaken]",
      fieldset: {
        legend: {
          text: "Date of mammogram",
          classes: "nhsuk-u-visually-hidden",
          isPageHeading: false
        }
      },
      hint: {
        text: "For example, 15 3 2025"
      },
      value: event.previousMammogramTemp.dateTaken,
      items: [
        {
          name: "day",
          classes: "nhsuk-input--width-2"
        },
        {
          name: "month",
          classes: "nhsuk-input--width-2"
        },
        {
          name: "year",
          classes: "nhsuk-input--width-4"
        }
      ]
    }) }}
  {% endset %}

  {% set approximateDateHtml %}
    {{ input({
      id: "approximateDate",
      name: "event[previousMammogramTemp][approximateDate]",
      label: {
        text: "Enter an approximate date",
        classes: "nhsuk-u-visually-hidden"
      },
      hint: {
        text: "For example, 9 months ago"
      },
      classes: "nhsuk-u-width-two-thirds",
      value: event.previousMammogramTemp.approximateDate
    }) }}
  {% endset %}

  {# Radios for when were they taken - choices 'Date known' and 'Enter approximate date' and 'Not sure'  #}
  {{ radios({
    idPrefix: "dateType",
    name: "event[previousMammogramTemp][dateType]",
    fieldset: {
      legend: {
        text: "When were the x-rays taken?",
        classes: "nhsuk-fieldset__legend--m",
        isPageHeading: false
      }
    },
    value: event.previousMammogramTemp.dateType,
    items: [
      {
        value: "dateKnown",
        text: "Enter an exact date",
        conditional: {
          html: dateKnownHtml
        }
      },
      {
        value: "approximateDate",
        text: "Enter an approximate date",
        conditional: {
          html: approximateDateHtml
        }
      },
      {
        value: "notSure",
        text: "Not sure"
      }
    ]
  }) }}

  {# Radios for 'Were they taken with the same name' with optoins for 'Same name [name here]' and 'Different name ' #}

  {% set differentNameHtml %}

    {{ input({
      id: "sameNameInput",
      name: "event[previousMammogramTemp][previousName]",
      label: {
        text: "Enter the previously used name"
      },
      value: event.previousMammogramTemp.previousName,
      classes: "nhsuk-u-width-two-thirds"
    }) }}

  {% endset %}

  {{ radios({
    idPrefix: "sameName",
    name: "event[previousMammogramTemp][sameName]",
    fieldset: {
      legend: {
        text: "Were they taken with the name " + (participant | getFullName) + "?",
        classes: "nhsuk-fieldset__legend--m",
        isPageHeading: false
      }
    },
    value: event.previousMammogramTemp.sameName,
    items: [
      {
        value: "sameName",
        text: "Yes"
      },
      {
        value: "differentName",
        text: "No, under a different name",
        conditional: {
          html: differentNameHtml
        }
      }
    ]
  }) }}

  {# Textarea for any other relevant details #}

  {{ textarea({
    name: "event[previousMammogramTemp][otherDetails]",
    rows: "2",
    label: {
      text: "Additional information (optional)",
      classes: "nhsuk-label--m"
    },
    value: event.previousMammogramTemp.otherDetails,
    hint: {
      text: "For example, the reason for the mammograms and the outcome of the assessment"
    }
  }) }}

  {{ button({
    text: "Continue"
  }) }}

{% endblock %}

