{# app/views/events/mammography/previous-mammograms/proceed-anyway.html #}

{% extends 'layout-app.html' %}

{% set pageHeading = "You are continuing despite a recent mammogram" %}

{% set formAction = './../previous-mammograms-answer' %}

{% block pageContent %}
  {{ participant | log }}
  {{ data.event | log("Temp event") }}

  <h1 class="nhsuk-heading-l">
    <span class="nhsuk-caption-l">
      {{ participant | getFullName }}
    </span>
    {{ pageHeading }}
  </h1>

  <div class="nhsuk-warning-callout">
    <h2 class="nhsuk-warning-callout__label">
      <span role="text">
        <span class="nhsuk-u-visually-hidden">Important: </span>
        Clinical decision needed
      </span>
    </h2>
    <p>
      Taking breast x-rays within 6 months of a previous mammogram should only be done when clinically necessary.
    </p>
  </div>

  <input type="hidden" name="action" value="proceed-anyway">

  {{ textarea({
    name: "event[previousMammogramTemp][overrideReason]",
    rows: "3",
    label: {
      text: "Provide a reason for continuing",
      classes: "nhsuk-label--m"
    },
    errorMessage: errors.event_previousMammogramTemp_overrideReason
  }) }}

  {{ button({
    text: "Proceed with this appointment"
  }) }}


{% endblock %}