.app-mammogram-image--placeholder {
  background-color: black;
  width: 150px;
  height:200px;

  p {
    color: white;
    margin-left: 5px;
  }
}


.app-suppress-link-styles * {
  text-decoration: none;
  color: $nhsuk-secondary-text-color;
}
