{% set existingRead = event | getCurrentUserRead %}
{% set existingResult = existingRead.result %}
{% set hasSymptoms = event.currentSymptoms | length > 0 %}


{% set opionionHeading = "Review images" %}
{% if existingResult %}
  {% set opionionHeading = "Update review" %}
{% endif %}

<div class="nhsuk-grid-row app-header-with-status">
  <div class="nhsuk-grid-column-two-thirds">

    <span class="nhsuk-caption-l">
      {{ participant | getFullName }}
    </span>
    <h1 class="nhsuk-heading-l js-image-count">
      {{ opionionHeading }}
    </h1>
  </div>
  <div class="nhsuk-grid-column-one-third app-header-with-status__status-tag">
    {% set requestedWithDateHtml %}
      {{ "Images requested" | toTag | safe }}<br>
      Requested 10 Feb 2025
    {% endset %}
    {{ (requestedWithDateHtml | safe) if event.hasRequestedImages | falsify }}
  </div>
</div>
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    {% set symptoms = event.currentSymptoms %}
    {% include "symptomsWarningCard.njk" %}
  </div>
</div>



{% set questionText = "What is your opinion of these images?" %}

<form action="./assessment-answer" method="POST">

{# Temporary ui to support changing an answer #}
{% if existingResult %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      {# Show radios when updating an existing result #}
      {{ radios({
        name: "imageReadingTemp[updatedResult]",
        fieldset: {
          legend: {
            text: questionText,
            classes: "nhsuk-fieldset__legend--m",
            isPageHeading: false
          }
        },
        items: [
          {
            value: "normal",
            text: "Normal"
          },
          {
            value: "technical_recall",
            text: "Technical recall"
          },
          {
            value: "recall_for_assessment",
            text: "Recall for assessment"
          }
        ],
        value: existingResult or data.imageReadingTemp.result
      } | decorateAttributes(data, "imageReadingTemp.result" )) }}

      {{ button({
        text: "Update opinion"
      }) }}
    </div>
  </div>
{% else %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    {# Show buttons for initial assessment #}
    <h2>{{ questionText }}</h2>
  </div>
</div>

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-one-third">
    <div class="form-group">
      {% if hasSymptoms %}
        {{ button({
          text: "Normal, and add details",
          href: "./normal-details",
          classes: "app-button-full-width nhsuk-u-margin-bottom-3"
        }) }}
      {% else %}
        {{ button({
          text: "Normal",
          value: "normal",
          name: "result",
          classes: "app-button-full-width nhsuk-u-margin-bottom-3"
        }) }}

        <p class="nhsuk-u-margin-bottom-0">
          <a href="./normal-details" class="nhsuk-link--no-visited-state">
            Normal, but add details
          </a>
        </p>
      {% endif %}

    </div>
  </div>
  <div class="nhsuk-grid-column-one-third">
    <div class="form-group">
      {{ button({
        text: "Technical recall",
        classes: "nhsuk-button--secondary app-button-full-width",
        href: "./recall-reason"
      }) }}
    </div>
  </div>
  <div class="nhsuk-grid-column-one-third">
    <div class="form-group">
      {{ button({
        "text": "Recall for assessment",
        "classes": "nhsuk-button--warning app-button-full-width",
        href: "./recall-for-assessment-details"
      }) }}
    </div>
  </div>

</div>

{% endif %}

{% set isPartialMammography = event.mammogramData.isPartialMammography %}
{% set partialMammographyHtml %}
<p>
  <b>Partial mammography:</b> Patient was uncomfortable and asked to stop
</p>
{% endset %}
{% if isPartialMammography %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    {{ insetText({
      html: partialMammographyHtml
    }) }}
  </div>
</div>
{% endif %}

</form>