{# /app/views/events/reading/_includes/reading-header.njk #}

{% set secondaryNavItems = [] %}

{# {% set tabItems = [
  { id: '#', label: 'Reading outcomes' } if event.reads | length > 10,
  { id: 'assessment', label: 'Review' },
  { id: 'participant-details', label: 'Participant info' },
  { id: 'medical-information', label: 'Medical info' },
  { id: 'images', label: 'Image history' }
] | removeEmpty %} #}

{% set tabItems = [
  { id: 'medical-information', label: 'Relevant medical information' },
  { id: 'images', label: 'Image history' }
] | removeEmpty %}

{% for tab in tabItems %}
  {% set href -%}
    ./{{ tab.id }}
  {% endset %}

  {% set secondaryNavItems = secondaryNavItems | push({
    text: tab.label,
    href: href | trim,
    current: true if tabActive == tab.id
  }) %}
{% endfor %}


{{ appSecondaryNavigation({
  visuallyHiddenTitle: "Secondary menu",
  items: secondaryNavItems,
  classes: "nhsuk-u-margin-bottom-6"
}) }}