
{% extends 'layout-app.html' %}


{% set pageHeading = "Ethnicity" %}

{% set gridColumn = "nhsuk-grid-column-two-thirds" %}

{% set formAction = "./ethnicity-answer" %}


{# {% set back = {
  href: "/events/" + clinicId,
  text: "Back"
} %}
 #}


{% block pageContent %}

  {{ participant | log("participant") }}

  {% set unit = data.breastScreeningUnits | findById(clinic.breastScreeningUnitId) %}

  <h1 class="nhsuk-heading-l">
    <span class="nhsuk-caption-m">
      {{ participant | getFullName }}
    </span>
    {{ pageHeading }}
  </h1>

  <p>Assure the participant that this information is collected to help the NHS identify breast cancer trends so screening programmes can be improved. It will not be used to determine individual patient treatment or services.</p>

  {# This creates a unique input for each 'other' option, so that we don't end up with an array  #}
  {% macro otherBackground(ethnicGroup) %}
    {{ input({
      name: "participant[demographicInformation][otherEthnicBackgroundDetails]",
      id: "other" + ethnicGroup + "EthnicBackgroundDetails",
      value: participant.demographicInformation["otherEthnicBackgroundDetails"],
      label: {
        text: "How do they describe their background? (optional)"
      }
    } ) }}
  {% endmacro %}

  {% set ethnicityLegend %}
    How does {{ participant | getFullName }} describe their ethnicity?
  {% endset %}

  {% call fieldset({
    legend: {
      text: ethnicityLegend,
      classes: "nhsuk-fieldset__legend--m",
      isPageHeading: false
    }
  }) %}

    {# White ethnic background #}
    <h2 class="nhsuk-fieldset__legend--s">White</h2>
    {{ radios({
      idPrefix: "ethnicBackgroundWhite",
      name: "participant[demographicInformation][ethnicBackground]",
      value: participant.demographicInformation.ethnicBackground,
      items: [
        { value: "English, Welsh, Scottish, Northern Irish or British", text: "English, Welsh, Scottish, Northern Irish or British" },
        { value: "Irish", text: "Irish" },
        { value: "Gypsy or Irish Traveller", text: "Gypsy or Irish Traveller" },
        { value: "Other White background",
          text: "Other White background",
          conditional: {
            html: otherBackground("White")
          }
        }
      ]
    }) }}

    {# Mixed or multiple ethnic groups #}
    <h2 class="nhsuk-fieldset__legend--s">Mixed or multiple ethnic groups</h2>
    {{ radios({
      idPrefix: "ethnicBackgroundMixed",
      name: "participant[demographicInformation][ethnicBackground]",
      value: participant.demographicInformation.ethnicBackground,
      items: [
        { value: "White and Black Caribbean", text: "White and Black Caribbean" },
        { value: "White and Black African", text: "White and Black African" },
        { value: "White and Asian", text: "White and Asian" },
        { value: "Other mixed or multiple ethnic background",
          text: "Other mixed or multiple ethnic background",
          conditional: {
            html: otherBackground("Mixed")
          }
        }
      ]
    }) }}

    {# Asian or Asian British #}
    <h2 class="nhsuk-fieldset__legend--s">Asian or Asian British</h2>
    {{ radios({
      idPrefix: "ethnicBackgroundAsian",
      name: "participant[demographicInformation][ethnicBackground]",
      value: participant.demographicInformation.ethnicBackground,
      items: [
        { value: "Indian", text: "Indian" },
        { value: "Pakistani", text: "Pakistani" },
        { value: "Bangladeshi", text: "Bangladeshi" },
        { value: "Chinese", text: "Chinese" },
        { value: "Other Asian or Asian British background",
          text: "Other Asian or Asian British background",
          conditional: {
            html: otherBackground("Asian")
          }
        }
      ]
    }) }}

    {# Black, African, Caribbean or Black British #}
    <h2 class="nhsuk-fieldset__legend--s">Black, African, Caribbean or Black British</h2>
    {{ radios({
      idPrefix: "ethnicBackgroundBlack",
      name: "participant[demographicInformation][ethnicBackground]",
      value: participant.demographicInformation.ethnicBackground,
      items: [
        { value: "African", text: "African" },
        { value: "Caribbean", text: "Caribbean" },
        { value: "Other Black, African, Caribbean or Black British background",
          text: "Other Black, African, Caribbean or Black British background",
          conditional: {
            html: otherBackground("Black")
          }
        }
      ]
    }) }}

    {# Other ethnic group #}
    <h2 class="nhsuk-fieldset__legend--s">Other ethnic group</h2>
    {{ radios({
      idPrefix: "ethnicBackgroundOther",
      name: "participant[demographicInformation][ethnicBackground]",
      value: participant.demographicInformation.ethnicBackground,
      items: [
        { value: "Arab", text: "Arab" },
        {
          value: "Other ethnic background",
          text: "Other ethnic background",
          conditional: {
            html: otherBackground("Other")
          }
        },
        {
          divider: "or"
        },
        {
          value: "Prefer not to say",
          text: "Prefer not to say"
        }
      ]
    }) }}

  {% endcall %}

  {{ button({
    text: "Save"
  }) }}


{% endblock %}

