
{% extends 'layout-app.html' %}


{% set pageHeading = "Appointment cannot go ahead" %}

{# {% set gridColumn = "nhsuk-grid-column-full" %} #}

{% set formAction = './attended-not-screened-answer' %}

{# {% set back = {
  href: "/clinics/" + clinicId,
  text: "Back to clinic"
} %}
 #}


{% block pageContent %}

  {{ participant | log }}

  {% set unit = data.breastScreeningUnits | findById(clinic.breastScreeningUnitId) %}

  <h1 class="nhsuk-heading-l">
    <span class="nhsuk-caption-l">
      {{ participant | getFullName }}
    </span>
    {{ pageHeading }}
  </h1>

  {% macro makeCheckboxConditionalItem(params) %}
    {{ input({
      label: {
        text: "Provide details"
      },
      id: params.value + "Details",
      name: params.value + "Details"
    }) }}
  {% endmacro %}

  {% set checkboxItems = [] %}

  {% for reason in [
    'Participant did not attend',
    'Failed identity check',
    'Language difficulties',
    'Physical health issue',
    'Mental health issue',
    'Last mammogram within 6 months',
    'Breast implant risks',
    'Pain during screening',
    'Technical issues',
    'Participant withdrew consent',
    'Other'
  ] %}
    {% set checkboxItems = checkboxItems | push({
      text: reason,
      value: reason | camelCase,
      conditional: {
        html: makeCheckboxConditionalItem({value:reason | camelCase})
      }
    }) %}
  {% endfor %}

  {{ checkboxes({
    idPrefix: "appointment-stopped-reason",
    name: "appointment-stopped-reason",
    fieldset: {
      legend: {
        text: "Why can this appointment not go ahead?",
        classes: "nhsuk-fieldset__legend--s",
        isPageHeading: false
      }
    },
    items: checkboxItems
  }) }}

  {{ radios({
    idPrefix: "appointmentReschedule",
    name: "appointmentReschedule",
    fieldset: {
      legend: {
        text: "Does the appointment need to be rescheduled?",
        classes: "nhsuk-fieldset__legend--s",
        isPageHeading: false
      }
    },
    items: [
      {
        value: "yes",
        text: "Yes"
      },
      {
        value: "no",
        text: "No"
      }
    ]
  }) }}


  {{ button({
    text: "Save"
  }) }}

{% endblock %}

