
{% extends 'layout-app.html' %}


{% set pageHeading = "Appointment cannot go ahead" %}

{# {% set gridColumn = "nhsuk-grid-column-full" %} #}

{% set formAction = './attended-not-screened-answer' %}

{# {% set back = {
  href: "/clinics/" + clinicId,
  text: "Back to clinic"
} %}
 #}


{% block pageContent %}

  {{ participant | log }}
  {{ data.event | log("Temp event") }}


  {% set unit = data.breastScreeningUnits | findById(clinic.breastScreeningUnitId) %}

  <h1 class="nhsuk-heading-l">
    <span class="nhsuk-caption-l">
      {{ participant | getFullName }}
    </span>
    {{ pageHeading }}
  </h1>

  {% macro makeCheckboxConditionalItem(params) %}
    {{ input({
      label: {
        text: "Provide details" +  ( " (optional)" if params.value !== "other" else "")
      },
      id: params.value + "Details",
      name: "event[appointmentStopped][" + params.value + "Details]",
      value: event.appointmentStopped[params.value + "Details"]
    } | populateErrors) }}
  {% endmacro %}

  {% set checkboxItems = [] %}

  {% for reason in [
    'Failed identity check',
    'Language difficulties',
    'Physical health issue',
    'Mental health issue',
    'Last mammogram within 6 months',
    'Breast implant risks',
    'Pain during screening',
    'Technical issues',
    'Participant withdrew consent',
    'Other'
  ] %}
    {% set checkboxItems = checkboxItems | push({
      text: reason,
      value: reason | camelCase,
      conditional: {
        html: makeCheckboxConditionalItem({value:reason | camelCase})
      }
    }) %}
  {% endfor %}

  {{ checkboxes({
    idPrefix: "stoppedReason",
    name: "event[appointmentStopped][stoppedReason]",
    fieldset: {
      legend: {
        text: "Why has this appointment been stopped?",
        classes: "nhsuk-fieldset__legend--m",
        isPageHeading: false
      }
    },
    values: event.appointmentStopped.stoppedReason,
    hint: {
      text: "Select all that apply"
    },
    items: checkboxItems
  } | populateErrors ) }}

  {{ radios({
    idPrefix: "needsReschedule",
    name: "event[appointmentStopped][needsReschedule]",
    fieldset: {
      legend: {
        text: "Does the appointment need to be rescheduled?",
        classes: "nhsuk-fieldset__legend--m",
        isPageHeading: false
      }
    },
    value: event.appointmentStopped.needsReschedule,
    items: [
      {
        value: "yes",
        text: "Yes, add participant to reinvite list"
      },
      {
        value: "no",
        text: "No"
      }
    ]
  } | populateErrors ) }}


  {{ button({
    text: "Save and return to clinic"
  }) }}

{% endblock %}

