
{% extends 'layout-app.html' %}


{% set pageHeading = "Screening cannot proceed" %}

{# {% set gridColumn = "nhsuk-grid-column-full" %} #}

{% set formAction = './attended-not-screened-answer' %}

{# {% set back = {
  href: "/clinics/" + clinicId,
  text: "Back to clinic"
} %}
 #}


{% block pageContent %}

  {{ participant | log }}

  {% set unit = data.breastScreeningUnits | findById(clinic.breastScreeningUnitId) %}

  <h1 class="nhsuk-heading-l">
    <span class="nhsuk-caption-l">
      {{ participant | getFullName }}
    </span>
    {{ pageHeading }}
  </h1>

  {{ textarea({
    name: "example",
    id: "example",
    label: {
      text: "Details of why screening cannot proceed"
    }
  }) }}

  {{ radios({
    idPrefix: "example",
    name: "example",
    fieldset: {
      legend: {
        text: "Follow-up action",
        classes: "nhsuk-fieldset__legend--s",
        isPageHeading: false
      }
    },
    items: [
      {
        value: "yes",
        text: "Reschedule appointment"
      },
      {
        value: "no",
        text: "Review with clinician"
      },
      {
        value: "no",
        text: "Other"
      }
    ]
  }) }}


  {{ button({
    text: "Save"
  }) }}

{% endblock %}

