
{% extends 'layout-app.html' %}


{% set pageHeading = "Waiting for images" %}

{% set gridColumn = "nhsuk-grid-column-full" %}

{% set formAction = './imaging-answer' %}



{% block pageContent %}

  {{ participant | log }}

  {% set unit = data.breastScreeningUnits | findById(clinic.breastScreeningUnitId) %}

  <span class="nhsuk-caption-l">
    {{ participant | getFullName }}
  </span>
  <h1 class="nhsuk-heading-l js-image-count">
    {{ pageHeading }}
  </h1>

  <div id="loading-spinner" class="">
    <p class="app-suppress-link-styles"><a href="./imaging"><span class="">Loading images...</span></a></p>
  </div>


  {% include "screening-cannot-proceed-link.njk" %}

{% endblock %}


