
{% extends 'layout-app.html' %}


{% set pageHeading = "Confirm updates" %}

{% set gridColumn = "nhsuk-grid-column-full" %}

{% set formAction = './complete' %}

{# {% set back = {
  href: "/clinics/" + clinicId,
  text: "Back to clinic"
} %}
 #}


{% block pageContent %}

  {{ participant | log }}

  {% set unit = data.breastScreeningUnits | findById(clinic.breastScreeningUnitId) %}

  <h1 class="nhsuk-heading-l">
    <span class="nhsuk-caption-l">
      {{ participant | getFullName }}
    </span>
    {{ pageHeading }}
  </h1>

  {{ summaryList({
    rows: [
      {
        key: {
          text: "Images"
        },
        value: {
          html: "4 images recorded"
        },
        actions: {
          items: [
            {
              href: "#",
              text: "Change",
              visuallyHiddenText: "images"
            }
          ]
        }
      },
      {
        key: {
          text: "Physical characteristics"
        },
        value: {
          html: 'Not provided' | asHint
        },
        actions: {
          items: [
            {
              href: "#",
              text: "Change",
              visuallyHiddenText: "observations"
            }
          ]
        }
      }
    ]
    }) }}

  {{ button({
    text: "Complete screening"
  }) }}

  {# <p><a href="./attended-not-screened-reason">Screening cannot proceed</a></p> #}

{% endblock %}
