
{% extends 'layout-app.html' %}


{% set pageHeading = "Confirm information" %}

{% set gridColumn = "nhsuk-grid-column-full" %}

{% set formAction = './complete' %}

{# {% set back = {
  href: "/clinics/" + clinicId,
  text: "Back to clinic"
} %}
 #}


{% block pageContent %}

  {{ participant | log }}

  {% set unit = data.breastScreeningUnits | findById(clinic.breastScreeningUnitId) %}

  <h1 class="nhsuk-heading-l">
    <span class="nhsuk-caption-l">
      {{ participant | getFullName }}
    </span>
    {{ pageHeading }}
  </h1>

  {% set medicalInformationCardHtml %}
    {{ summaryList({
      rows: [
        {
          key: {
            text: "Breast implants"
          },
          value: {
            html: "None"
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Change",
                visuallyHiddenText: "images"
              }
            ]
          }
        },
        {
          key: {
            text: "Breast cancer history"
          },
          value: {
            html: "None"
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Change",
                visuallyHiddenText: "observations"
              }
            ]
          }
        },
        {
          key: {
            text: "Other breast diagnosis"
          },
          value: {
            html: "None"
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Change",
                visuallyHiddenText: "observations"
              }
            ]
          }
        },
        {
          key: {
            text: "Hormone replacement therapy (HRT)"
          },
          value: {
            html: "No"
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Change",
                visuallyHiddenText: "observations"
              }
            ]
          }
        },
        {
          key: {
            text: "Pregnant or breastfeeding"
          },
          value: {
            html: "No"
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Change",
                visuallyHiddenText: "observations"
              }
            ]
          }
        },
        {
          key: {
            text: "Recent breast changes and symptoms"
          },
          value: {
            html: "None"
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Change",
                visuallyHiddenText: "observations"
              }
            ]
          }
        },
        {
          key: {
            text: "Other physical or mental health issues"
          },
          value: {
            html: "None"
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Change",
                visuallyHiddenText: "observations"
              }
            ]
          }
        }
      ]
    }) }}
  {% endset %}
{#
  {{ card({
    heading: "Medical information",
    headingLevel: "2",
    feature: true,
    descriptionHtml: medicalInformationCardHtml
  }) }} #}

  {% set valueHtml = 'None' %}

  {% set medicalInformationCardHtml %}
    {# {{ taskList({
      idPrefix: "your-health",
      items: taskListSections
    }) }} #}
    {{ summaryList({
      rows: [
        {
          key: {
            text: "Breast cancer history"
          },
          value: {
            html: valueHtml
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Change",
                visuallyHiddenText: "breast cancer history"
              }
            ]
          }
        },
        {
          key: {
            text: "Non-cancerous lump disagnoses"
          },
          value: {
            html: valueHtml
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Change",
                visuallyHiddenText: "non-cancerous lump disagnoses"
              }
            ]
          }
        },
        {
          key: {
            text: "Other breast or chest proceedures"
          },
          value: {
            html: valueHtml
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Change",
                visuallyHiddenText: "other breast or chest proceedures"
              }
            ]
          }
        },
        {
          key: {
            text: "Recent breast changes or symptoms"
          },
          value: {
            html: valueHtml
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Change",
                visuallyHiddenText: "recent breast changes or symptoms"
              }
            ]
          }
        }
      ]
    } | showMissingInformationLink) }}
  {% endset %}

  {{ card({
    heading: "Medical information",
    headingLevel: "2",
    feature: false,
    descriptionHtml: medicalInformationCardHtml
  }) }}

  {% set valueHtml = "No" %}

  {% set otherInformationHtml %}
    {{ summaryList({
      rows: [
        {
          key: {
            text: "Hormone replacement therapy (HRT)"
          },
          value: {
            html: valueHtml
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Change",
                visuallyHiddenText: "hormone replacement therapy (HRT)"
              }
            ]
          }
        },
        {
          key: {
            text: "Pregnancy and breastfeeding"
          },
          value: {
            html: valueHtml
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Change",
                visuallyHiddenText: "pregnancy and breastfeeding"
              }
            ]
          }
        }
      ]
    } | showMissingInformationLink) }}
  {% endset %}

  {{ card({
    heading: "Other information",
    headingLevel: "2",
    feature: false,
    descriptionHtml: otherInformationHtml
  }) }}

  {% set observationsCardHtml %}
    {# <p>There were <a href="#">2 observations</a> made by the mammographer during screening.</p> #}
    {# <p>This could include tattoos, lumps, moles or scars on the breasts.</p> #}

    {% set tattooHtml %}
      Tattoo<br>
      {{ "(Manchester united badge)" | asHint }}
    {% endset %}

    {% set scarHtml %}
      Surgical scar<br>
      {{ "(2 inches long)" | asHint }}
    {% endset %}

    {{ summaryList({
      rows: [
        {
          key: {
            text: "Right upper outer (RUO)"
          },
          value: {
            html: tattooHtml
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Change",
                visuallyHiddenText: "images"
              }
            ]
          }
        },
        {
          key: {
            text: "Left lower inner (LLI)"
          },
          value: {
            html: scarHtml
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Change",
                visuallyHiddenText: "observations"
              }
            ]
          }
        }
      ]
    }) }}

    <p><a href="#">Add a feature</a></p>
  {% endset %}

  {{ card({
    heading: "Breast features",
    headingLevel: "2",
    feature: false,
    descriptionHtml: observationsCardHtml
  }) }}

  {% set imagesCardHtml %}
    <ul class="nhsuk-list nhsuk-list--bullet">
      <li>2 right breast images</li>
      <li>3 left breast images (one repeat)</li>
    </ul>

    <p><a href="./imaging">View or update imaging information</a></p>
  {% endset %}

  {{ card({
    heading: "5 images taken",
    headingLevel: "2",
    feature: true,
    descriptionHtml: imagesCardHtml
  }) }}

  {% set otherDetailsCardHtml %}

    {% set specialAppointmentHtml %}
      {% if event.details.isSpecialAppointment %}
        {{ tag({
          text: "Special appointment",
          classes: "nhsuk-tag--yellow nhsuk-u-margin-bottom-3"
        })}}
        <ul class="nhsuk-list nhsuk-list--bullet">
          {% for need in participant.extraNeeds %}
            <li>{{need}}</li>
          {% endfor %}
        </ul>
      {% else %}
        <p>No</p>
      {% endif %}
    {% endset %}

    {{ summaryList({
      rows: [
        {
          key: {
            text: "Appointment needs"
          },
          value: {
            html: specialAppointmentHtml
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Change",
                visuallyHiddenText: "images"
              }
            ]
          }
        },
        {
          key: {
            text: "Notes about appointment"
          },
          value: {
            html: "Not provided" | asHint
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Change",
                visuallyHiddenText: "observations"
              }
            ]
          }
        }
      ]
    }) }}
  {% endset %}

  {{ card({
    heading: "Other details",
    headingLevel: "2",
    feature: true,
    descriptionHtml: otherDetailsCardHtml
  }) }}

  {{ button({
    text: "Complete screening and return to clinic"
  }) }}

  {# <p><a href="./attended-not-screened-reason">Screening cannot proceed</a></p> #}

{% endblock %}
