
{% extends 'layout-app.html' %}


{% set pageHeading %}
  {{ clinic.clinicType | sentenceCase }} for {{ participant | getFullName }}
{% endset %}

{% set gridColumn = "nhsuk-grid-column-full" %}

{% set formAction = './complete' %}

{% set back = {
  href: "/clinics/" + clinicId,
  text: "Back to clinic"
} %}

{% block pageContent %}

  {{ participant | log("Participant") }}

  {% include "event-header.njk" %}

  {% set activeTab = 'images' %}

  {% include "event-navigation.njk" %}


  {% include "fake-images.njk" %}


{% endblock %}

