
{% extends 'layout-app.html' %}

{% set imageCount = event.mammogramData.metadata.totalImages %}

{% set pageHeading = imageCount + " images taken" %}

{% set gridColumn = "nhsuk-grid-column-full" %}
{% set formAction = './imaging-answer' %}


{% block pageContent %}

  {{ participant | log("Participant") }}
  {{ event | log("Event") }}
  {% set unit = data.breastScreeningUnits | findById(clinic.breastScreeningUnitId) %}

  <span class="nhsuk-caption-l">
    {{ participant | getFullName }}
  </span>
  <h1 class="nhsuk-heading-l js-image-count">
    {{ pageHeading }}
  </h1>

  {% set animateImages = true %}
  {% include "fake-images.njk" %}

  <div class="app-button-group nhsuk-u-margin-bottom-0">
    {{ button({
      text: "Re-scan PACS for image updates",
      classes: "nhsuk-button--secondary"
    }) }}

    <a class="nhsuk-link app-link--error" href="#">There is a problem with the images</a>
  </div>

  <hr class="nhsuk-section-break nhsuk-section-break--l nhsuk-section-break--visible nhsuk-u-margin-top-3">

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      {# {% set notImportedCorrectlyHtml %}

        {{ input({
          label: {
            text: "How many images were taken?"
          },
          id: "imageCount",
          name: "imageCount",
          classes: "nhsuk-input--width-5"
        }) }}

        {{ input({
          label: {
            text: "Describe the issue"
          },
          id: "issueComment",
          name: "issueComment"
        }) }}

      {% endset %}

      {{ radios({
        idPrefix: "imagesImportedCorrectly",
        name: "imagesImportedCorrectly",
        fieldset: {
          legend: {
            text: "Have all images imported correctly?",
            classes: "nhsuk-fieldset__legend--m",
            isPageHeading: false
          }
        },
        items: [
          {
            value: "yes",
            text: "Yes, " + imageCount + " images were taken"
          },
          {
            value: "yesPartial",
            text: "No, there is an issue and rescanning has not fixed it",
            conditional: {
              html: notImportedCorrectlyHtml
            }
          }
        ]
      }) }} #}

      {% set reasonHtml %}
        {{ textarea({
          name: "event[mammogramData][partialMammographyReason]",
          value: event.mammogramData.partialMammographyReason,
          id: "partialMammographyReason",
          label: {
            text: "Reason for partial mammography"
          }
        }) }}
      {% endset %}

      {{ radios({
        idPrefix: "imagingComplete",
        name: "event[mammogramData][isPartialMammography]",
        fieldset: {
          legend: {
            text: "Has the full mammography been taken?",
            classes: "nhsuk-fieldset__legend--m",
            isPageHeading: false
          }
        },
        value: event.mammogramData.isPartialMammography,
        items: [
          {
            value: "no",
            text: "Yes (" + imageCount + " images)"
          },
          {
            value: "yes",
            text: "No, partial mammography only",
            conditional: {
              html: reasonHtml
            }
          }
        ]
      }) }}

      {{ button({
        text: "Continue"
      }) }}

    </div>
  </div>

{% endblock %}


