
{% extends 'layout-app.html' %}


{% set pageHeading = "5 images taken" %}

{% set gridColumn = "nhsuk-grid-column-full" %}

{% set formAction = './imaging-answer' %}



{% block pageContent %}

  {{ participant | log }}

  {% set unit = data.breastScreeningUnits | findById(clinic.breastScreeningUnitId) %}

  <span class="nhsuk-caption-l">
    {{ participant | getFullName }}
  </span>
  <h1 class="nhsuk-heading-l js-image-count">
    {{ pageHeading }}
  </h1>


  {% set animateImages = true %}
  {% include "fake-images.njk" %}




  {% set observationHtml %}
    <p>This could include tattoos, lumps, moles or scars on the breasts.</p>
    {% set insetHtml %}
      <p>No physical observations recorded</p>
    {% endset %}
    {{ insetText({
      html: insetHtml
    }) }}

    <p><a href="#">Add physical observation</a></p>
  {% endset %}

  {{ card({
    heading: "Physical observations",
    headingLevel: "2",
    descriptionHtml: observationHtml
  }) }}

    <hr class="nhsuk-section-break nhsuk-section-break--l nhsuk-section-break--visible">

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
        {% set reasonHtml %}
          {{ textarea({
            name: "partialMammographyReason",
            id: "partialMammographyReason",
            label: {
              text: "Reason for partial mammography"
            }
          }) }}
        {% endset %}

        {{ radios({
          idPrefix: "imagingComplete",
          name: "imagingComplete",
          fieldset: {
            legend: {
              text: "Is imaging complete?",
              classes: "nhsuk-fieldset__legend--m",
              isPageHeading: false
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes - full mammography"
            },
            {
              value: "yesPartial",
              text: "Yes - partial mammography only",
              conditional: {
                html: reasonHtml
              }
            },
            {
              value: "no",
              text: "No, the images could not be taken"
            }
          ]
        }) }}

        {{ button({
          text: "Continue"
        }) }}

      </div>
    </div>




  {# <p><a href="./attended-not-screened-reason">Screening cannot proceed</a></p> #}

{% endblock %}


