
{% extends 'layout-app.html' %}


{% set pageHeading = "Medical information" %}

{% set gridColumn = "nhsuk-grid-column-two-thirds" %}

{% set formAction = './imaging' %}

{# {% set back = {
  href: "/clinics/" + clinicId,
  text: "Back to clinic"
} %}
 #}

{% macro makeRow(params) %}
<h3>{{ params.title }}</h3>

<p>{{params.content}}</p>

<p><a href="#">Provide details</a></p>
  
{% endmacro %}


{% block pageContent %}

  {{ participant | log }}

  {% set unit = data.breastScreeningUnits | findById(clinic.breastScreeningUnitId) %}

  <h1 class="nhsuk-heading-l">
    <span class="nhsuk-caption-l">
      {{ participant | getFullName }}
    </span>
    {{ pageHeading }}
  </h1>

  {% set taskStatus = {} %}
  {% set valueHtml = "" %}

  {{ query.taskStatus | log }}
  {% if query.taskStatus == 'complete' %}
    {% set taskStatus = {
        text: "Completed",
        classes: "nhsuk-task-list__status--completed"
      }
     %}
     {% set valueHtml = "None" %}
  {% else %}
    {% set taskStatus = {
        tag: {
          text: "Incomplete",
          classes: "nhsuk-tag--blue"
        }
      }
     %}
     {# {% set valueHtml = tag({
          text: "Incomplete",
          classes: "nhsuk-tag--blue"
        }) %} #}
    {% set valueHtml = "Incomplete" | asHint %}

  {% endif %}

{% set insetHtml %}
<p>No details recorded. <a href="#">Provide details</a>.</p>
{% endset %}


<h2>Breast cancer history</h2>
<p>Any history of breast cancer in participant or immediate family</p>
{{ insetText({
  html: insetHtml
}) }}

<h2>Breast proceedures</h2>
<p>Including cysts, benign lumps, other breast surgery, previous biopsy, non-implant based augmentation</p>
{{ insetText({
  html: insetHtml
}) }}

<h2>Breast symptoms</h2>
<p>Current or hisoric breast symptoms</p>
{{ insetText({
  html: insetHtml
}) }}

<h2>Scars / visual features</h2>
<p>Including cysts, benign lumps, other breast surgery, previous biopsy, non-implant based augmentation</p>
{{ insetText({
  html: insetHtml
}) }}

<h2>Other items</h2>
{{ summaryList({
  rows: [
    {
      key: {
        text: "Mammographer notes"
      },
      value: {
        html: valueHtml
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "name"
          }
        ]
      }
    },
    {
      key: {
        text: "Pregnancy and breastfeeding"
      },
      value: {
        html: valueHtml
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "date of birth"
          }
        ]
      }
    },
    {
      key: {
        text: "Lymph nodes - medications or conditions"
      },
      value: {
        html: valueHtml
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "date of birth"
          }
        ]
      }
    },
    {
      key: {
        text: "Menopause"
      },
      value: {
        html: valueHtml
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "date of birth"
          }
        ]
      }
    }
  ]
}) }}
  {# {{ summaryList({
  rows: [
    {
      key: {
        text: "Breast implants"
      },
      value: {
        html: valueHtml
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "name"
          }
        ]
      }
    },
    {
      key: {
        text: "Implanted medical devices and pacemakers",
        classes: "nhsuk-u-width-one-half"
      },
      value: {
        html: valueHtml,
        classes: "nhsuk-u-width-one-half"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "name"
          }
        ]
      }
    },
    {
      key: {
        text: "Special appointment needs"
      },
      value: {
        html: valueHtml
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "name"
          }
        ]
      }
    } if false,
    {
      key: {
        text: "Pregnancy and breastfeeding"
      },
      value: {
        html: valueHtml
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "name"
          }
        ]
      }
    },
    {
      key: {
        text: "History of breast cancer"
      },
      value: {
        html: valueHtml
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "name"
          }
        ]
      }
    },
    {
      key: {
        text: "Other breast diagnosis or proceedures"
      },
      value: {
        html: valueHtml
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "date of birth"
          }
        ]
      }
    },
    {
      key: {
        text: "Scars and other visual features"
      },
      value: {
        html: valueHtml
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "contact information"
          }
        ]
      }
    },
    {
      key: {
        text: "Current health status"
      },
      value: {
        html: valueHtml
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "contact details"
          }
        ]
      }
    },
    {
      key: {
        text: "Hormone replacement therapy (HRT)"
      },
      value: {
        html: valueHtml
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "contact details"
          }
        ]
      }
    },
    {
      key: {
        text: "Breast symptoms"
      },
      value: {
        html: valueHtml
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "contact details"
          }
        ]
      }
    },
    {
      key: {
        text: "Appointment notes / other"
      },
      value: {
        html: valueHtml
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "contact details"
          }
        ]
      }
    }
  ]
}) }} #}

{{ radios({
  idPrefix: "example",
  name: "example",
  fieldset: {
    legend: {
      text: "How should empty sections be completed?",
      classes: "nhsuk-fieldset__legend--m",
      isPageHeading: false
    }
  },
  items: [
    {
      value: "yes",
      text: "Set remaining sections to 'none' / 'negative'",
      _hint: {
        text: "Sections without answers will be set to 'none'"
      }
    },
    {
      value: "no",
      text: "Leave as incomplete"
    }
  ]
}) }}

{#   {% if query.taskStatus !== 'complete' %}
    <div class="nhsuk-form-group">
      {{ button({
        text: "Answer all incomplete as 'No' / 'None'",
        classes: "nhsuk-button--secondary",
        href: "./medical-information?taskStatus=complete"
      }) }}
    </div>
  {% endif %} #}


  {{ button({
    text: "Continue"
  }) }}

  <p><a href="./attended-not-screened-reason">Screening cannot proceed</a></p>

{% endblock %}

