
{% extends 'layout-app.html' %}


{% set pageHeading = "Medical information" %}

{% set gridColumn = "nhsuk-grid-column-two-thirds" %}

{% set formAction = './medical-information-answer' %}

{# {% set back = {
  href: "/clinics/" + clinicId,
  text: "Back to clinic"
} %}
 #}

{% block pageContent %}

  {{ participant | log }}

  {% set unit = data.breastScreeningUnits | findById(clinic.breastScreeningUnitId) %}

  <h1 class="nhsuk-heading-l">
    <span class="nhsuk-caption-l">
      {{ participant | getFullName }}
    </span>
    {{ pageHeading }}
  </h1>


  {# {% set insetHtml %}
    <p>The participant did not complete a pre-appointment questionnaire</p>
  {% endset %}
  {{ insetText({
    html: insetHtml
  }) }} #}

  <p>Ask them about any:</p>
  <ul class="nhsuk-list nhsuk-list--bullet">
    <li>history of breast cancer</li>
    <li>lump examinations or biopsies</li>
    <li>other procedures in the breast or chest area</li>
    <li>recent breast changes or symptoms</li>
    <li>breast features (such as moles) that may appear on an x-ray</li>
    <li>relevant medication (such as HRT)</li>
  </ul>

  {{ radios({
    idPrefix: "hasRelevantMedicalInformation",
    name: "event[medicalInformation][hasRelevantMedicalInformation]",
    fieldset: {
      legend: {
        text: "Has the participant shared any relevant medical information?",
        classes: "nhsuk-fieldset__legend--m",
        isPageHeading: false
      }
    },
    value: event.medicalInformation.hasRelevantMedicalInformation,
    items: [
      {
        value: "yes",
        text: "Yes"
      },
      {
        value: "no",
        text: "No - proceed to imaging"
      }
    ]
  }) }}

  {{ button({
    text: "Continue"
  }) }}

  {% include "screening-cannot-proceed-link.njk" %}

{% endblock %}

