
{% extends 'layout-app.html' %}


{% set pageHeading = "Ready for mammography" %}

{% set gridColumn = "nhsuk-grid-column-two-thirds" %}

{% set formAction = false %}



{% block pageContent %}

  {{ participant | log }}

  {% set unit = data.breastScreeningUnits | findById(clinic.breastScreeningUnitId) %}

  <h1 class="nhsuk-heading-l">
    <span class="nhsuk-caption-l">
      {{ participant | getFullName }}
    </span>
    {{ pageHeading }}
  </h1>

  <p>When taking images you should:</p>

  <ul class="nhsuk-list nhsuk-list--bullet">
    <li>explain the process to the participant so they feel at ease</li>
    <li>check that the participant is not in any pain</li>
    <li>look out for any notable breast features (such as lumps, scars or tattoos)</li>
    <li>minimise the number of repeat images</li>
  </ul>

  {{ button({
    text: "Start imaging",
    href: "./imaging"
  }) }}


  <p><a href="./attended-not-screened-reason">Screening cannot proceed</a></p>

{% endblock %}


