{# app/views/events/mammography/record-medical-information.html #}

{% extends 'layout-app.html' %}


{% set pageHeading = "Record medical information" %}

{% set gridColumn = "nhsuk-grid-column-full" %}

{% set formAction = './record-medical-information-answer' %}

{# {% set back = {
  href: "/clinics/" + clinicId,
  text: "Back to clinic"
} %}
 #}

{% block pageContent %}

  {{ participant | log("Participant") }}
  {{ event | log("Event") }}

  {% set unit = data.breastScreeningUnits | findById(clinic.breastScreeningUnitId) %}

  <h1 class="nhsuk-heading-l">
    <span class="nhsuk-caption-l">
      {{ participant | getFullName }}
    </span>
    {{ pageHeading }}
  </h1>

  {% set valueHtml = null %}

  {# Symptoms #}
  {% include "cards/medical-information/symptoms.njk" %}

  {# Breast cancer history, non-cancerous lumps, chest procedures #}
  {% include "cards/medical-information/medical-information.njk" %}

  {# Scars, moles, warts, lumps #}
  {% include "cards/medical-information/breast-features.njk" %}

  {# HRT, pregnancy and breastfeeding #}
  {% include "cards/medical-information/other-information.njk" %}

  {{ radios({
    idPrefix: "imagingCanProceed",
    name: "event[appointment][imagingCanProceed]",
    fieldset: {
      legend: {
        text: "Can imaging go ahead?",
        classes: "nhsuk-fieldset__legend--m",
        isPageHeading: false
      }
    },
    value: event.appointment.imagingCanProceed,
    items: [
      {
        value: "yes",
        text: "Yes, mark incomplete sections as ‘none’ or ‘no’"
      },
      {
        value: "no",
        text: "No, appointment needs to stop"
      }
    ]
  }) }}

  {{ button({
    text: "Continue"
  }) }}

  {# {% include "screening-cannot-proceed-link.njk" %} #}

{% endblock %}

