
{% extends 'layout-app.html' %}


{% set pageHeading = participant | getFullName %}

{% set gridColumn = "nhsuk-grid-column-full" %}



{% set back = {
  href: "/clinics/" + clinicId,
  text: "Back to clinic"
} %}

{% block pageContent %}

{{ participant | log }}

  {% set unit = data.breastScreeningUnits | findById(clinic.breastScreeningUnitId) %}

  <h1 class="nhsuk-heading-l">
    <span class="nhsuk-caption-l">
      {{ unit.name }} - {{ clinic.date | formatDate }}
    </span>
    {{ pageHeading }}
  </h1>

  <h2 class="nhsuk-heading-m">Appointment</h2>

  {% set statusHtml %}
    {{ tag({
      text: event.status | formatWords | sentenceCase,
      classes: "nhsuk-tag--" + event.status | getStatusTagColour
    }) }}
    {% if event.status === 'scheduled' %}
      {% set href -%}
        /clinics/{{ clinicId }}/check-in/{{ event.id }}?returnTo=/clinics/{{ clinicId }}/participants/{{ participantId }}
      {%- endset %}
      <p class="nhsuk-u-margin-top-2"><a href="{{href | trim}}">Check in participant</a></p>

    {% endif %}
  {% endset %}


  {% set appointmentHtml %}
    {{ summaryList({
      rows: [
        {
          key: {
            text: "Clinic type"
          },
          value: {
            text: clinic.clinicType | formatWords | sentenceCase
          },
          actions: {
            items: [
              
            ]
          }
        },
        {
          key: {
            text: "Appointment time"  
          },
          value: {
            text: event.statusHistory[0].timestamp | formatTime
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Reschedule appointment",
                visuallyHiddenText: "name"
              } if event.status == "scheduled"
            ]
          }
        },
        {
          key: {
            text: "Status"
          },
          value: {
            html: statusHtml
          },
          actions: {
            items: [
              
            ]
          }
        }
      ]
    }) }}
  {% endset %}

  {{ card({
    heading: "Appointment",
    headingLevel: "2",
    descriptionHtml: appointmentHtml
  }) }}

  {% set personalDetailsHtml %}
    {% set dob %}
      {{ participant.demographicInformation.dateOfBirth | formatDate }}<br>
      <span class="nhsuk-hint">({{ participant.demographicInformation.dateOfBirth | formatRelativeDate(true) }} old)</span>
    {% endset %}

    {% set address %}
      {{ participant.demographicInformation.address.line1 }}<br>
      {% if participant.demographicInformation.address.line2 %}
        {{ participant.demographicInformation.address.line2 }}<br>
      {% endif %}
      {{ participant.demographicInformation.address.city }}<br>
      {{ participant.demographicInformation.address.postcode }}
    {% endset %}

    {{ summaryList({
      rows: [
       {
         key: {
           text: "Full name"
         },
         value: {
           text: participant | getFullName
         }
       },
       {
         key: {
           text: "Gender"  
         },
         value: {
           text: "Female"
         }
       },
       {
         key: {
           text: "NHS number"
         },
         value: {
           text: participant.medicalInformation.nhsNumber | formatNhsNumber
         }
       },
       {
         key: {
           text: "SX number"
         },
         value: {
           text: participant.sxNumber
         }
       },
       {
         key: {
           text: "Date of birth"
         },
         value: {
           html: dob
         }
       },
       {
         key: {
           text: "Address"
         },
         value: {
           html: address
         }
       },
       {
         key: {
           text: "Phone"
         },
         value: {
           text: participant.demographicInformation.phone | formatPhoneNumber
         }
       },
       {
         key: {
           text: "Email"
         },
         value: {
           text: participant.demographicInformation.email
         }
       }
      ]
    }) }}
  {% endset %}



  {{ card({
    heading: "Personal details",
    headingLevel: "2",
    descriptionHtml: personalDetailsHtml
  }) }}

  {% set screeningHistoryHtml %}

    {% set lastMamogramDateHtml %}
      {% set lastMamogramDate = "2021-12-27T12:54:27.756Z" %}
      {{ lastMamogramDate | formatDate }}<br>
      <span class="nhsuk-hint">({{ lastMamogramDate | formatRelativeDate }})</span>
    {% endset %}

    {{ summaryList({
      rows: [
        {
          key: { text: "Date of last mamogram" },
          value: { 
            html: lastMamogramDateHtml
          }
        }
      ] | removeEmpty
    }) }}
  {% endset %}

  {{ card({
    heading: "Screening history",
    headingLevel: "2",
    descriptionHtml: screeningHistoryHtml
  }) }}

  {% set medicalInformationHtml %}
    {% set riskFactorsList %}
      <ul class="nhsuk-list nhsuk-list--bullet">
       {% for factor in participant.medicalInformation.riskFactors %}
         <li>{{ factor | formatWords | sentenceCase }}</li>
       {% endfor %}
      </ul>
    {% endset %}

    {% set medicationsList %}
      <ul class="nhsuk-list nhsuk-list--bullet">
       {% for medication in participant.currentHealthInformation.medications %}
         <li>{{ medication | formatWords | sentenceCase }}</li>
       {% endfor %}
      </ul>
    {% endset %}

    {{ summaryList({
      rows: [
       {
         key: {
           text: "Risk factors"
         },
         value: {
           html: riskFactorsList
         }
       } if participant.medicalInformation.riskFactors.length > 0,
       {
         key: {
           text: "Current medications"
         }, 
         value: {
           html: medicationsList
         }
       } if participant.currentHealthInformation.medications.length > 0
      ] | removeEmpty
    }) }}

    {# Medical history survey information #}
  {% if participant.medicalInformation.medicalHistorySurvey %}
    {# Previous cancer history #}
    {% if participant.medicalInformation.previousCancerHistory %}
      {% set cancer = participant.medicalInformation.previousCancerHistory %}
      {% set treatmentsList %}
        <ul class="nhsuk-list nhsuk-list--bullet">
        {% for treatment in cancer.treatments %}
          <li>{{ treatment.type | formatWords | sentenceCase }} - {{ treatment.details }}</li>
        {% endfor %}
        </ul>
      {% endset %}

      {{ summaryList({
        rows: [
          {
            key: { text: "Previous breast cancer" },
            value: { text: "Yes, " + cancer.yearDiagnosed }
          },
          {
            key: { text: "Position" },
            value: { text: cancer.position }
          } if cancer.position,
          {
            key: { text: "Treatments" },
            value: { html: treatmentsList }
          },
          {
            key: { text: "Hospital" },
            value: { text: cancer.hospital }
          }
        ] | removeEmpty
      }) }}
    {% endif %}

    {# Non-cancerous procedures #}
    {% if participant.medicalInformation.medicalHistorySurvey.nonCancerousProcedures %}
      {% set procedures = participant.medicalInformation.medicalHistorySurvey.nonCancerousProcedures %}
      {% set proceduresList %}
        <ul class="nhsuk-list nhsuk-list--bullet">
        {% for procedure in procedures %}
          <li>
            {{ procedure.type | formatWords | sentenceCase }}
            {% if procedure.date %}({{ procedure.date | formatDate }}){% endif %}
            {% if procedure.location %} - {{ procedure.location }}{% endif %}
            {% if procedure.notes %} - {{ procedure.notes }}{% endif %}
          </li>
        {% endfor %}
        </ul>
      {% endset %}

      {{ summaryList({
        rows: [
          {
            key: { text: "Previous procedures" },
            value: { html: proceduresList }
          }
        ]
      }) }}
    {% endif %}

    {# Other medical history #}
    {% if participant.medicalInformation.medicalHistorySurvey.otherMedicalHistory %}
      {% set otherHistoryList %}
        <ul class="nhsuk-list nhsuk-list--bullet">
        {% for item in participant.medicalInformation.medicalHistorySurvey.otherMedicalHistory %}
          <li>{{ item }}</li>
        {% endfor %}
        </ul>
      {% endset %}

      {{ summaryList({
        rows: [
          {
            key: { text: "Other medical history" },
            value: { html: otherHistoryList }
          }
        ]
      }) }}
    {% endif %}
  {% endif %}

  {% endset %}

  {# {% if participant.medicalInformation.riskFactors | length or participant.currentHealthInformation.medications | length %} #}
    {{ card({
      heading: "Medical information",
      headingLevel: "2",
      descriptionHtml: medicalInformationHtml
    }) }}
  {# {% endif %} #}

  {% set preAppointmentQuestionnaireHtml %}
    {% if participant.questionnaire %}
      {% set questionnaire = participant.questionnaire %}
      {% set headingLevel = 'h3' %}
      {% set allowEdits = false %}
      {% include "summary-lists/questionnaire.njk" %}
    {% else %}

      {% set insetHtml %}
        <p>The pre-appointment questionnaire has not been completed yet.</p>
      {% endset %}
      {{ insetText({
        html: insetHtml,
        classes: "nhsuk-u-margin-top-2 nhsuk-u-margin-bottom-4"
      }) }}

      {{ button({
        text: "Open participant pre-appointment questionnaire",
        href: "./" + participantId + "/questionnaire"
      }) }}
    {% endif %}

  {% endset %}

  {{ card({
    heading: "Pre-appointment questionnaire",
    headingLevel: "2",
    descriptionHtml: preAppointmentQuestionnaireHtml
  }) }}

  {% set screeningHtml %}

    {{ radios({
      idPrefix: "beginScreening",
      name: "beginScreening",
      fieldset: {
        legend: {
          text: "Are you ready to begin screening?",
          classes: "nhsuk-fieldset__legend--s",
          isPageHeading: false
        }
      },
      items: [
        {
          value: "yes",
          text: "Yes"
        },
        {
          value: "no",
          text: "No, screening cannot proceed"
        }
      ]
    }) }}

    {{ button({
      text: "Continue",
      html: ""
    }) }}

  {% endset %}

  {% if event.status == 'checked_in' and participant.questionnaire %}
    {{ card({
      heading: "Screening",
      headingLevel: "2",
      descriptionHtml: screeningHtml
    }) }}
  {% endif %}


{% endblock %}
