
{% extends 'layout-app.html' %}


{% set pageHeading = participant | getFullName %}

{% set gridColumn = "nhsuk-grid-column-full" %}



{% set back = {
  href: "/participants" | getReturnUrl(referrerChain),
  text: "Back to participants" if not referrerChain else "Back to appointment"
} %}

{% block pageContent %}

  {{ participant | log("Participant") }}
  {{ event | log("Event") }}



  <h1 class="nhsuk-heading-l">
    <span class="nhsuk-caption-l">
      Participant record
    </span>
    {{ pageHeading | safe }}
  </h1>

  {# For these summary cards we want to show the authoritative record, not the temp data.
  The temp data only gets saved once going through a confirmation page #}
  {% set tempParticipant = participant %}
  {% set participant = originalParticipant %}

  {% set personalDetailsHtml %}
    {% include "summary-lists/participant.njk" %}
  {% endset %}

  {{ card({
    heading: "Personal details",
    headingLevel: "2",
    descriptionHtml: personalDetailsHtml
  }) }}

  {% set screeningHistoryHtml %}
    {% include "summary-lists/screening-history.njk" %}
  {% endset %}

  {{ card({
    heading: "Screening history",
    headingLevel: "2",
    descriptionHtml: screeningHistoryHtml
  }) }}


{% endblock %}
