
{% set hrtHtml %}
{% set hrtData = event.medicalInformation.hrt %}

{% if hrtData %}
  {% if hrtData.hrtQuestion == 'yes' %}
    <p>
      Currently taking HRT
    </p>
    <p>
      {# Example: "Duration taken: 3 months" #}
      Duration taken: {{ hrtData.hrtDuration }}
    </p>
  {% elseif hrtData.hrtQuestion == 'no-recently-stopped' %}
    <p>
      Recently stopped taking HRT
    </p>
    <p>
      Duration taken: {{ hrtData.hrtDurationBeforeStopping }}<br>
      Stopped: {{ hrtData.hrtDurationSinceStopped }} ago<br>
    </p>
  {% elseif hrtData.hrtQuestion == 'no' %}
    Not taking HRT
  {% else %}
    No information provided
  {% endif %}
{% else %}
  {{ valueHtml }}
{% endif %}
{% endset %}

{% set pregnancyAndBreastfeedingHtml %}
{% set pregnancyAndBreastfeedingData = event.medicalInformation.pregnancyAndBreastfeeding %}

{% if pregnancyAndBreastfeedingData %}
  {% if pregnancyAndBreastfeedingData.pregnancyStatus == 'yes' %}
    <p>
      Currently pregnant
    </p>
    <p>
      {# Example: "Duration taken: 3 months" #}
      Timeframe: {{ pregnancyAndBreastfeedingData.currentlyPregnantDetails }}
    </p>
  {% elseif pregnancyAndBreastfeedingData.pregnancyStatus == 'noButRecently' %}
    <p>
      Recently pregnant
    </p>
    <p>
      Details: {{ pregnancyAndBreastfeedingData.recentlyPregnantDetails }}
    </p>
  {% elseif pregnancyAndBreastfeedingData.pregnancyStatus == 'noNotPregnant' %}
    <p>Not pregnant</p>
  {% else %}
    <p>No information provided</p>
  {% endif %}

 {% if pregnancyAndBreastfeedingData.breastfeedingStatus == 'yes' %}
    <p>
      Currently breastfeeding
    </p>
    <p>
      {# Example: "Duration taken: 3 months" #}
      Duration: {{ pregnancyAndBreastfeedingData.currentlyBreastfeedingDuration }}
    </p>
  {% elseif pregnancyAndBreastfeedingData.breastfeedingStatus == 'recentlyStopped' %}
    <p>
      Recently breastfeeding
    </p>
    <p>
      Details: {{ pregnancyAndBreastfeedingData.recentlyBreastfeedingDuration }}
    </p>
  {% elseif pregnancyAndBreastfeedingData.breastfeedingStatus == 'no' %}
    <p>Not breastfeeding</p>
  {% else %}
    <p>No information provided</p>
  {% endif %}
{% else %}
  {{ valueHtml }}
{% endif %}

{% endset %}

{% set otherInformationHtml %}
  {{ summaryList({
    rows: [
      {
        key: {
          text: "Hormone replacement therapy (HRT)"
        },
        value: {
          html: hrtHtml
        },
        actions: {
          items: [
            {
              href: "./medical-information/hormone-replacement-therapy" | urlWithReferrer(currentUrl),
              text: "Change",
              visuallyHiddenText: "hormone replacement therapy (HRT)"
            }
          ]
        }
      },
      {
        key: {
          text: "Pregnancy and breastfeeding"
        },
        value: {
          html: pregnancyAndBreastfeedingHtml
        },
        actions: {
          items: [
            {
              href: "./medical-information/pregnancy-and-breastfeeding" | urlWithReferrer(currentUrl),
              text: "Change",
              visuallyHiddenText: "pregnancy and breastfeeding"
            }
          ]
        }
      }
    ]
  } | handleSummaryListMissingInformation ) }}
{% endset %}

{{ card({
heading: "Other information",
headingLevel: "2",
feature: false,
descriptionHtml: otherInformationHtml
}) }}