<p class="nhsuk-u-margin-bottom-1">
  <a href="/clinics/{{ clinicId }}/events/{{ event.id }}" class="nhsuk-link">
    {{ participant | getFullName }}
  </a>
</p>
{% if event.details.isSpecialAppointment %}
  {{ tag({
    text: "Special appointment",
    classes: "nhsuk-tag--orange nhsuk-u-margin-top-2"
  })}}
{% endif %}
<p class="app-text-grey nhsuk-u-margin-bottom-0">
  DOB: {{ participant.demographicInformation.dateOfBirth | formatDate }} ({{ participant.demographicInformation.dateOfBirth | formatRelativeDate(true) }})
  <br>
  NHS Number: {{ participant.medicalInformation.nhsNumber | formatNhsNumber }}
  <br>
  {% set lastScreenedDate = data | getParticipantMostRecentClinicDate(participant.id) %}
  {% if lastScreenedDate %}
    Last screened: {{ lastScreenedDate | formatDate }} ({{ lastScreenedDate | formatRelativeDate }})
  {% endif %}
  
{#   <br>
  SX Number: {{ participant.sxNumber }} #}
</p>
