<p class="nhsuk-u-margin-bottom-1">
  <a href="/clinics/{{ clinicId }}/events/{{ event.id }}" class="nhsuk-link">
    {{ participant | getFullName }}
  </a>
</p>
<p class="app-text-grey nhsuk-u-margin-bottom-0">
  {# DOB: {{ participant.demographicInformation.dateOfBirth | formatDate }} ({{ participant.demographicInformation.dateOfBirth | formatRelativeDate(true) }})
  <br> #}
  NHS: {{ participant.medicalInformation.nhsNumber | formatNhsNumber }}
{#   <br>
  SX Number: {{ participant.sxNumber }} #}
</p>
