{% set unit = data.breastScreeningUnits | findById(clinic.breastScreeningUnitId) %}

{% set statusHtml %}
{# Status tag with check-in link #}
{{ eventStatus({
  clinicId: clinicId,
  event: event,
  referrer: currentUrl
})}}
{% endset %}

<div class="app-header-with-status">
  <h1 class="nhsuk-heading-l">
    <span class="nhsuk-caption-l">
      {{ clinic.clinicType | sentenceCase }} appointment
    </span>
    {{ pageHeading }}
  </h1>

  <div class="app-header-with-status__status-tag">
    {{ statusHtml | safe }}
  </div>
</div>


<p class="app-text-grey"><span>NHS Number: {{ participant.medicalInformation.nhsNumber | formatNhsNumber }}</span><span class="nhsuk-u-margin-left-4">SX Number: {{ participant.sxNumber }}</span></p>
{{appointmentTimeHtml}}

<p>{{ event.timing.startTime | formatTimeString }} ({{ event.timing.duration }} minutes) - {{ clinic.date | formatDate }} ({{ clinic.date | formatRelativeDate }})<span class="nhsuk-u-margin-left-3"><a href="#">Reschedule appointment</a></span></p>

<p class="nhsuk-u-margin-bottom-4"><a href="{{ '/participants/' + participant.id | withReferrer(currentUrl) }}">View participant record</a></p>

