{% set hasSymptoms = symptoms | length > 0 %}

{% if hasSymptoms %}

  {% set warningCalloutHtml %}
    {% include "summary-lists/medical-information/symptoms/summary.njk" %}
  {% endset %}

  {{ warningCallout({
    heading: 'Significant symptoms reported',
    HTML: warningCalloutHtml
  }) }}
{% endif %}
