@use 'nhsuk-frontend/packages/core/settings' as *;
@use 'nhsuk-frontend/packages/core/tools' as *;
@use "sass:color";
@use "sass:math";

// Adapted from https://github.com/alphagov/govuk-frontend/blob/main/packages/govuk-frontend/src/govuk/components/notification-banner/_index.scss

$nhsuk-success-color: $color_nhsuk-green !default;

/// Success link styles
///
/// Makes links use the success colour. The link will darken if it's active or a
/// user hovers their cursor over it.
///
/// If you use this mixin in a component, you must also include the
/// `govuk-link-common` mixin to get the correct focus and hover states.
///
/// @example scss
///   .govuk-component__link {
///     @include govuk-link-common;
///     @include govuk-link-style-success;
///   }
///
/// @access public

@mixin nhsuk-link-style-success {
  &:link,
  &:visited {
    color: $nhsuk-success-color;
  }

  &:hover {
    color: color.scale($nhsuk-success-color, $lightness: -30%);
  }

  &:active {
    color: $nhsuk-success-color;
  }

  // When focussed, the text colour needs to be darker to ensure that colour
  // contrast is still acceptable
  &:focus {
    color: $nhsuk-focus-text-color;
  }
}

.app-notification-banner {
  border: $nhsuk-border-width solid $color_nhsuk-blue;
  background-color: $color_nhsuk-blue;

  @include nhsuk-font($size: 19);
  @include nhsuk-responsive-margin(8, "bottom");

  &:focus {
    outline: $nhsuk-focus-width solid $nhsuk-focus-color;
  }
}

.app-notification-banner__header {
  padding: 2px nhsuk-spacing(3) nhsuk-spacing(1);

  // Ensures the notification header appears separate to the notification body
  // text in high contrast mode
  border-bottom: 1px solid transparent;

  @include govuk-media-query($from: tablet) {
    padding: 2px nhsuk-spacing(4) nhsuk-spacing(1);
  }
}

.app-notification-banner__title {
  // Set the size again because this element is a heading and the user agent
  // font size overrides the inherited font size
  margin: 0;
  padding: 0;
  color: $color_nhsuk-white;
  @include nhsuk-font($size: 19, $weight: bold);
}

.app-notification-banner__content {
  $padding-tablet: nhsuk-spacing(4);
  color: $nhsuk-text-color;
  padding: nhsuk-spacing(3);

  background-color: $color_nhsuk-white;

  @include govuk-media-query($from: tablet) {
    padding: $padding-tablet;
  }

  // Wrap content at the same place that a 2/3 grid column ends, to maintain
  // shorter line-lengths when the notification banner is full width
  > * {
    // When elements have their own padding (like lists), include the padding
    // in the max-width calculation
    box-sizing: border-box;

    // Calculate the internal width of a two-thirds column...
    $two-col-width: math.div($nhsuk-page-width * 2, 3) - math.div($nhsuk-gutter * 1, 3);

    // ...and then factor in the left border and padding
    $banner-exterior: ($padding-tablet + $nhsuk-border-width);
    max-width: $two-col-width - $banner-exterior;
  }

  > :last-child {
    margin-bottom: 0;
  }
}

.app-notification-banner__heading {
  margin: 0 0 nhsuk-spacing(3);
  padding: 0;
  @include nhsuk-font($size: 24, $weight: bold);
}

.app-notification-banner__link {
  @include nhsuk-link-style-default;
  @include nhsuk-link-style-no-visited-state;
}

.app-notification-banner--success {
  border-color: $nhsuk-success-color;
  background-color: $nhsuk-success-color;

  .app-notification-banner__link {
    @include nhsuk-link-style-success;
  }
}