@use 'nhsuk-frontend/packages/core/settings' as *;
@use 'nhsuk-frontend/packages/core/tools' as *;

// ==========================================================================
// COMPONENTS / #RELATED-NAV
// ==========================================================================

.nhsuk-related-nav {
  border-top: 1px solid $nhsuk-border-color;

  @include mq($until: desktop) {
    margin-top: nhsuk-spacing(7);
  }
}

.nhsuk-related-nav__heading {
  margin-bottom: 12px;
  padding-top: nhsuk-spacing(3);
  @include nhsuk-typography-responsive(19, $override-line-height: 1.2);
}

.nhsuk-related-nav__list {
  list-style: none;
  padding-left: 0;
  @include nhsuk-typography-responsive(16);
}
