show
{% extends 'layout-app.html' %}


{% set pageHeading = participant | getFullName %}

{% set gridColumn = "nhsuk-grid-column-full" %}



{% set back = {
  href: "/clinics/" + clinicId,
  text: "Back to clinic"
} %}

{% block pageContent %}

{{ participant | log }}

  {% set unit = data.breastScreeningUnits | findById(clinic.breastScreeningUnitId) %}

  <h1 class="nhsuk-heading-l">
    <span class="nhsuk-caption-l">
      {{ unit.name }} - {{ clinic.date | formatDate }}
    </span>
    {{ pageHeading }}
  </h1>

  <p><a href="/participants/{{ participant.id }}">View participant record</a></p>

  {% set statusHtml %}
    {{ tag({
      text: event.status | formatWords | sentenceCase,
      classes: "nhsuk-tag--" + event.status | getStatusTagColour
    }) }}
    {% if event.status === 'scheduled' %}
      {% set href -%}
        /clinics/{{ clinicId }}/check-in/{{ event.id }}?returnTo=/clinics/{{ clinicId }}/events/{{ eventId }}
      {%- endset %}
      <p class="nhsuk-u-margin-top-2"><a href="{{href | trim}}">Check in participant</a></p>

    {% endif %}
  {% endset %}

  {{event | log}}

  {% set appointmentTimeHtml -%}
    <p>{{ clinic.date | formatDate }} ({{ clinic.date | formatRelativeDate }})</p>
    <p>{{ event.timing | formatTimeRange }} ({{ event.timing.duration }} minutes)</p>
    
  {% endset %}

  {% set appointmentHtml %}
    {{ summaryList({
      rows: [
        {
          key: {
            text: "Date"
          },
          value: {
            html: appointmentTimeHtml
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Reschedule appointment",
                visuallyHiddenText: "name"
              } if event.status == "scheduled"
            ]
          }
        },
        {
          key: {
            text: "Clinic type"
          },
          value: {
            text: clinic.clinicType | formatWords | sentenceCase
          },
          actions: {
            items: [
              
            ]
          }
        },
        {
          key: {
            text: "Status"
          },
          value: {
            html: statusHtml
          },
          actions: {
            items: [
              
            ]
          }
        }
      ]
    }) }}
  {% endset %}

  {{ card({
    heading: "Appointment",
    headingLevel: "2",
    descriptionHtml: appointmentHtml
  }) }}

  {% set personalDetailsHtml %}
    {% set dob %}
      {{ participant.demographicInformation.dateOfBirth | formatDate }}<br>
      <span class="nhsuk-hint">({{ participant.demographicInformation.dateOfBirth | formatRelativeDate(true) }} old)</span>
    {% endset %}

    {% set address %}
      {{ participant.demographicInformation.address.line1 }}<br>
      {% if participant.demographicInformation.address.line2 %}
        {{ participant.demographicInformation.address.line2 }}<br>
      {% endif %}
      {{ participant.demographicInformation.address.city }}<br>
      {{ participant.demographicInformation.address.postcode }}
    {% endset %}

    {{ summaryList({
      rows: [
       {
         key: {
           text: "Full name"
         },
         value: {
           text: participant | getFullName
         }
       },
       {
         key: {
           text: "Gender"  
         },
         value: {
           text: "Female"
         }
       },
       {
         key: {
           text: "NHS number"
         },
         value: {
           text: participant.medicalInformation.nhsNumber | formatNhsNumber
         }
       },
       {
         key: {
           text: "SX number"
         },
         value: {
           text: participant.sxNumber
         }
       },
       {
         key: {
           text: "Date of birth"
         },
         value: {
           html: dob
         }
       },
       {
         key: {
           text: "Address"
         },
         value: {
           html: address
         }
       },
       {
         key: {
           text: "Phone"
         },
         value: {
           text: participant.demographicInformation.phone | formatPhoneNumber
         }
       },
       {
         key: {
           text: "Email"
         },
         value: {
           text: participant.demographicInformation.email
         }
       }
      ]
    }) }}
  {% endset %}



  {{ card({
    heading: "Personal details",
    headingLevel: "2",
    descriptionHtml: personalDetailsHtml
  }) }}

  {% set screeningHistoryHtml %}

    {% set clinicHistory = data | getParticipantClinicHistory(participant.id) %}

    {% set lastMammogram = null %}

    {% for record in clinicHistory %}
       {% if record.event.status === 'attended' and (not lastMammogram or record.event.timing.startTime > lastMammogram.event.timing.startTime) %}
         {% set lastMammogram = record %}
       {% endif %}
    {% endfor %}

    <h3>Last known mammogram</h3>
    {% if lastMammogram %}
      <table class="nhsuk-table">
       <thead>
         <tr>
           <th>Date</th>
           <th>Type</th>
           <th>Location</th>
           <th>Details</th>
         </tr>
       </thead>
       <tbody>
          {% set record = lastMammogram %}
           {% set event = record.event %}
           {% set clinic = record.clinic %}
           {% set unit = record.unit %}
           <tr>
             <td>{{ event.timing.startTime | formatDate }}
              <br>
              <span class="nhsuk-hint">({{ event.timing.startTime | formatRelativeDate }})</span>
             </td>
             <td>{{ clinic.clinicType | formatWords | sentenceCase }}</td>
             <td>{{ unit.name }}</td>
             <td>
               <a href="/clinics/{{ clinic.id }}/events/{{ event.id }}">
                 View details
               </a>
             </td>
           </tr>
       </tbody>
     </table>
    {% else %}
      <p>No details.</p>
    {% endif %}

    {{clinicHistory | log }}

    {% set detailsHtml %}
      {% set hideUpcoming = true %}
      {% include "summary-lists/screening-history.njk" %}
    {% endset %}

    {{ details({
      text: "View full screening history",
      HTML: detailsHtml
    }) }}


  {% endset %}

  {{ card({
    heading: "Screening history",
    headingLevel: "2",
    descriptionHtml: screeningHistoryHtml
  }) }}


{#   {% set preAppointmentQuestionnaireHtml %}
    {% if participant.questionnaire %}
      {% set questionnaire = participant.questionnaire %}
      {% set headingLevel = 'h3' %}
      {% set allowEdits = false %}
      {% include "summary-lists/questionnaire.njk" %}
    {% else %}

      {% set insetHtml %}
        <p>The pre-appointment questionnaire has not been completed yet.</p>
      {% endset %}
      {{ insetText({
        html: insetHtml,
        classes: "nhsuk-u-margin-top-2 nhsuk-u-margin-bottom-4"
      }) }}

      {{ button({
        text: "Open participant pre-appointment questionnaire",
        href: "./" + participantId + "/questionnaire"
      }) }}
    {% endif %}

  {% endset %}

  {{ card({
    heading: "Pre-appointment questionnaire",
    headingLevel: "2",
    descriptionHtml: preAppointmentQuestionnaireHtml
  }) }} #}

  {% set screeningHtml %}

    {{ radios({
      idPrefix: "beginScreening",
      name: "beginScreening",
      fieldset: {
        legend: {
          text: "Are you ready to begin screening?",
          classes: "nhsuk-fieldset__legend--s",
          isPageHeading: false
        }
      },
      items: [
        {
          value: "yes",
          text: "Yes"
        },
        {
          value: "no",
          text: "No, screening cannot proceed"
        }
      ]
    }) }}

    {{ button({
      text: "Continue",
      html: ""
    }) }}

  {% endset %}

  {% if event.status == 'checked_in' and participant.questionnaire %}
    {{ card({
      heading: "Screening",
      headingLevel: "2",
      descriptionHtml: screeningHtml
    }) }}
  {% endif %}


{% endblock %}

