
{% extends 'layout-app.html' %}

{% set pageHeading %}
  {{ clinic.clinicType | sentenceCase }} for {{ participant | getFullName }}
{% endset %}

{% set gridColumn = "nhsuk-grid-column-full" %}


{% set back = {
  href: "/clinics/" + clinicId,
  text: "Back to clinic"
} %}

{% block pageContent %}

  {{ participant | log("Participant:") }}

  {% include "event-header.njk" %}

  {% set activeTab = 'all' %}

  {# Show tabs if we've done mammography #}
  {% if event.status == "complete" %}
    {% include "event-navigation.njk" %}
  {% endif %}

  {% set statusHtml %}
    {{ tag({
      text: event.status | formatWords | sentenceCase,
      classes: "nhsuk-tag--" + event.status | getStatusTagColour
    }) }}
    {% if event.status === 'scheduled' %}
      {% set href -%}
        /clinics/{{ clinicId }}/check-in/{{ event.id }}?returnTo=/clinics/{{ clinicId }}/events/{{ eventId }}
      {%- endset %}
      <p class="nhsuk-u-margin-top-2"><a href="{{href | trim}}">Check in participant</a></p>

    {% endif %}
    {% if event.status === "attended_not_screened" %}
      <p class="nhsuk-u-margin-top-2">[Reason for not screened here]</p>
    {% endif %}
  {% endset %}


  {% set appointmentTimeHtml -%}
    <p>{{ clinic.date | formatDate }} ({{ clinic.date | formatRelativeDate }})</p>
    <p>{{ event.timing.startTime | formatTime }} ({{ event.timing.duration }} minutes)</p>
    
  {% endset %}

  {% set otherDetailsHtml %}
    {% if event.details.isSpecialAppointment %}
      {{ tag({
        text: "Special appointment",
        classes: "nhsuk-tag--orange nhsuk-u-margin-bottom-3"
      })}}
      {% if participant.extraNeeds | length > 1 %}
        <ul>
          {% for need in participant.extraNeeds %}
            <li>{{need}}</li>
          {% endfor %}
        </ul>
      {% else %}
        <p>{{ participant.extraNeeds }}</p>
      {% endif %}
    {% else %}
     {{ "Not provided" | asHint }}
    {% endif %}
    
  {% endset %}

  {% set appointmentHtml %}
    {{ summaryList({
      rows: [
        {
          key: {
            text: "Date"
          },
          value: {
            html: appointmentTimeHtml
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Reschedule appointment",
                visuallyHiddenText: "name"
              } if event.status == "scheduled"
            ]
          }
        },
        {
          key: {
            text: "Clinic type"
          },
          value: {
            text: clinic.clinicType | formatWords | sentenceCase
          },
          actions: {
            items: [
              
            ]
          }
        },
        {
          key: {
            text: "Appointment status"
          },
          value: {
            html: statusHtml
          },
          actions: {
            items: [
              
            ]
          }
        },
        {
          key: {
            text: "Other details"
          },
          value: {
            html: otherDetailsHtml
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Change",
                visuallyHiddenText: "other details"
              }
            ]
          }
        }
      ]
    }) }}
  {% endset %}

  {{ card({
    heading: "Appointment",
    headingLevel: "2",
    descriptionHtml: appointmentHtml
  }) }}

  {% set participantDetailsHtml %}
    {% set isMinimalParticipant = true %}
    {% set allowEdits = false %}
    {% include "summary-lists/participant.njk" %}
  {% endset %}


  {{ card({
    heading: "Participant",
    headingLevel: "2",
    descriptionHtml: participantDetailsHtml
  }) }}

  {% set screeningHistoryHtml %}

    {% set clinicHistory = data | getParticipantClinicHistory(participant.id) %}

    {% set lastMammogram = null %}

    {% for record in clinicHistory %}
       {% if record.event.status === 'complete' and (not lastMammogram or record.event.timing.startTime > lastMammogram.event.timing.startTime) %}
         {% set lastMammogram = record %}
       {% endif %}
    {% endfor %}

    <h3>Last known mammogram</h3>
    {% if lastMammogram %}
      <table class="nhsuk-table">
       <thead>
         <tr>
           <th>Date</th>
           <th>Type</th>
           <th>Location</th>
           <th>Details</th>
         </tr>
       </thead>
       <tbody>
           {% set record = lastMammogram %}
           {% set lastEvent = record.event %}
           {% set clinic = record.clinic %}
           {% set unit = record.unit %}
           <tr>
             <td>{{ lastEvent.timing.startTime | formatDate }}
              <br>
              <span class="nhsuk-hint">({{ lastEvent.timing.startTime | formatRelativeDate }})</span>
             </td>
             <td>{{ clinic.clinicType | formatWords | sentenceCase }}</td>
             <td>{{ unit.name }}</td>
             <td>
               <a href="/clinics/{{ clinic.id }}/events/{{ lastEvent.id }}">
                 View details
               </a>
             </td>
           </tr>
       </tbody>
     </table>
    {% else %}
      <p>{{ "No details" | asHint }}</p>
    {% endif %}

    {{clinicHistory | log("Clinic history") }}

    {{ button({
      text: "Record additional screening history",
      classes: "nhsuk-button--secondary"
    }) }}

    {% set detailsHtml %}
      {% set hideUpcoming = true %}
      {% include "summary-lists/screening-history.njk" %}
    {% endset %}

    {% if clinicHistory | length > 1 %}
      {{ details({
        text: "View full screening history",
        HTML: detailsHtml
      }) }}
    {% endif %}

  {% endset %}

  {{ card({
    heading: "Screening history",
    headingLevel: "2",
    descriptionHtml: screeningHistoryHtml
  }) }}


{#   {% set preAppointmentQuestionnaireHtml %}
    {% if participant.questionnaire %}
      {% set questionnaire = participant.questionnaire %}
      {% set headingLevel = 'h3' %}
      {% set allowEdits = false %}
      {% include "summary-lists/questionnaire.njk" %}
    {% else %}

      {% set insetHtml %}
        <p>The pre-appointment questionnaire has not been completed yet.</p>
      {% endset %}
      {{ insetText({
        html: insetHtml,
        classes: "nhsuk-u-margin-top-2 nhsuk-u-margin-bottom-4"
      }) }}

      {{ button({
        text: "Open participant pre-appointment questionnaire",
        href: "./" + participantId + "/questionnaire"
      }) }}
    {% endif %}

  {% endset %}

  {{ card({
    heading: "Pre-appointment questionnaire",
    headingLevel: "2",
    descriptionHtml: preAppointmentQuestionnaireHtml
  }) }} #}

  {% set screeningHtml %}

  <h3 class="nhsuk-heading-s">Confirm the following before continuing</h3>

  <ul>
    <li>Identity has been confirmed</li>
    <li>Mammogram history
      <ul>
        <li>Date and location of last mammogram</li>
        <li>No mammograms within last 6 months</li>
      </ul>
    </li>
  </ul>

    <form action="./{{eventId}}/start" method="post">

      {# {{ input({
        label: {
          text: "Full name"
        },
        id: "example",
        name: "save[participant--" + participantId + "][first-name]"
      }) }} #}

      {{ radios({
        idPrefix: "beginScreening",
        name: "beginScreening",
        fieldset: {
          legend: {
            text: "Can screening proceed?",
            classes: "nhsuk-fieldset__legend--s",
            isPageHeading: false
          }
        },
        items: [
          {
            value: "yes",
            text: "Yes"
          },
          {
            value: "no",
            text: "No, screening cannot proceed"
          }
        ]
      }) }}

      {{ button({
        text: "Continue"
      }) }}
    </form>



  {% endset %}

  {% if event.status == 'checked_in' or event.status == 'scheduled' %}
    {{ card({
      heading: "Pre-screening checks",
      headingLevel: "2",
      descriptionHtml: screeningHtml
    }) }}
  {% endif %}


{% endblock %}

