
{% extends 'layout-app.html' %}

{% set pageHeading %}
  {{ participant | getFullName }}
{% endset %}

{% set gridColumn = "nhsuk-grid-column-full" %}


{% set back = {
  href: "/clinics/" + clinicId,
  text: "Back to clinic"
} %}

{% block pageContent %}

  {{ participant | log("Participant:") }}
  {{ event | log("Event:") }}

  {# Event header #}
  {% include "event-header.njk" %}

  {% set activeTab = 'all' %}

  {# Show tabs if we've done mammography #}
  {% if ['event_complete', 'event_partially_screened'] | includes(event.status) %}
    {% include "event-navigation.njk" %}
  {% endif %}

  {% set statusHtml %}
    {# Status tag with check-in link #}
    {{ eventStatus({
      clinicId: clinicId,
      event: event,
      referrer: currentUrl
    })}}

    {% if event.status === "event_attended_not_screened" %}
      <p class="nhsuk-u-margin-top-2">[Reason for not screened here]</p>
    {% endif %}
  {% endset %}


  {% set appointmentTimeHtml -%}
    <p>{{ clinic.date | formatDate }} ({{ clinic.date | formatRelativeDate }})</p>
    <p>{{ event.timing.startTime | formatTimeString }} ({{ event.timing.duration }} minutes)</p>

  {% endset %}

  {% set specialAppointmentHtml %}
    {% if participant.extraNeeds | length > 1 %}
      <ul>
        {% for need in participant.extraNeeds %}
          <li>{{need}}</li>
        {% endfor %}
      </ul>
    {% else %}
      <p>{{ participant.extraNeeds }}</p>
    {% endif %}
    <p><a href="#">Change</a></p>
  {% endset %}

  {% if event.details.isSpecialAppointment %}
    {{ warningCallout({
      heading: "Special appointment",
      HTML: specialAppointmentHtml
    }) }}
  {% endif %}

  {% set otherDetailsHtml %}
    {% if event.details.isSpecialAppointment %}
      {{ tag({
        text: "Special appointment",
        classes: "nhsuk-tag--yellow nhsuk-u-margin-bottom-3"
      })}}
      {% if participant.extraNeeds | length > 1 %}
        <ul>
          {% for need in participant.extraNeeds %}
            <li>{{need}}</li>
          {% endfor %}
        </ul>
      {% else %}
        <p>{{ participant.extraNeeds }}</p>
      {% endif %}
    {% else %}
     {{ "Not provided" | asHint }}
    {% endif %}

  {% endset %}

  {% set appointmentHtml %}
    {{ summaryList({
      rows: [
        {
          key: {
            text: "Date"
          },
          value: {
            html: appointmentTimeHtml
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Reschedule appointment",
                visuallyHiddenText: "name"
              } if event.status == "event_scheduled"
            ]
          }
        },
        {
          key: {
            text: "Clinic type"
          },
          value: {
            text: clinic.clinicType | formatWords | sentenceCase
          },
          actions: {
            items: [

            ]
          }
        },
        {
          key: {
            text: "Appointment status"
          },
          value: {
            html: statusHtml
          },
          actions: {
            items: [

            ]
          }
        },
        {
          key: {
            text: "Other details"
          },
          value: {
            html: otherDetailsHtml
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Change",
                visuallyHiddenText: "other details"
              }
            ]
          }
        }
      ]
    }) }}
  {% endset %}

  {# {{ card({
    heading: "Appointment",
    headingLevel: "2",
    descriptionHtml: appointmentHtml
  }) }} #}

  {# {{ card({
    heading: "Appointment",
    headingLevel: "2",
    descriptionHtml: appointmentHtml,
    feature: true
  }) }} #}

  {% set participantDetailsHtml %}
    {% set isMinimalParticipant = true %}
    {% set allowEdits = false %}
    {% include "summary-lists/participant.njk" %}
  {% endset %}


  {{ card({
    _heading: "Important details",
    headingHtml: " ",
    _feature: true,
    headingLevel: "2",
    descriptionHtml: participantDetailsHtml
  }) }}

  {% set screeningHistoryHtml %}

    {% set clinicHistory = data | getParticipantClinicHistory(participant.id) %}

    {% set lastMammogram = null %}

    {% for record in clinicHistory %}
       {% if record.event.status === 'event_complete' and (not lastMammogram or record.event.timing.startTime > lastMammogram.event.timing.startTime) %}
         {% set lastMammogram = record %}
       {% endif %}
    {% endfor %}

    <h3>Last known mammogram</h3>
    {% if lastMammogram %}
      <table class="nhsuk-table">
       <thead>
         <tr>
           <th>Date</th>
           <th>Type</th>
           <th>Location</th>
           <th>Details</th>
         </tr>
       </thead>
       <tbody>
           {% set record = lastMammogram %}
           {% set lastEvent = record.event %}
           {% set clinic = record.clinic %}
           {% set unit = record.unit %}
           <tr>
             <td>{{ lastEvent.timing.startTime | formatDate }}
              <br>
              <span class="nhsuk-hint">({{ lastEvent.timing.startTime | formatRelativeDate }})</span>
             </td>
             <td>{{ clinic.clinicType | formatWords | sentenceCase }}</td>
             <td>{{ unit.name }}</td>
             <td>
               <a href="/clinics/{{ clinic.id }}/events/{{ lastEvent.id }}">
                 View details
               </a>
             </td>
           </tr>
       </tbody>
     </table>
    {% else %}
      <p>{{ "No details" | asHint }}</p>
    {% endif %}

    {{clinicHistory | log("Clinic history") }}

    {{ button({
      text: "Record additional screening history",
      classes: "nhsuk-button--secondary"
    }) }}

    {% set detailsHtml %}
      {% set hideUpcoming = true %}
      {% include "summary-lists/screening-history.njk" %}
    {% endset %}

    {% if clinicHistory | length > 1 %}
      {{ details({
        text: "View full screening history",
        HTML: detailsHtml
      }) }}
    {% endif %}

  {% endset %}

  {# {{ card({
    heading: "Screening history",
    headingLevel: "2",
    descriptionHtml: screeningHistoryHtml
  }) }} #}


{#   {% set preAppointmentQuestionnaireHtml %}
    {% if participant.questionnaire %}
      {% set questionnaire = participant.questionnaire %}
      {% set headingLevel = 'h3' %}
      {% set allowEdits = false %}
      {% include "summary-lists/questionnaire.njk" %}
    {% else %}

      {% set insetHtml %}
        <p>The pre-appointment questionnaire has not been completed yet.</p>
      {% endset %}
      {{ insetText({
        html: insetHtml,
        classes: "nhsuk-u-margin-top-2 nhsuk-u-margin-bottom-4"
      }) }}

      {{ button({
        text: "Open participant pre-appointment questionnaire",
        href: "./" + participantId + "/questionnaire"
      }) }}
    {% endif %}

  {% endset %}

  {{ card({
    heading: "Pre-appointment questionnaire",
    headingLevel: "2",
    descriptionHtml: preAppointmentQuestionnaireHtml
  }) }} #}



{% set screeningHint %}
Before you proceed, check the participant’s identity and confirm that their last mammogram was more than 6 months ago.
{% endset %}

  {% set screeningHtml %}
    <form action="./{{eventId}}/can-appointment-go-ahead-answer" method="post">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
          {{ radios({
            name: "eventTemp[appointment][canAppointmentGoAhead]",
            idPrefix: "canAppointmentGoAhead",
            fieldset: {
              legend: {
                text: "Can the appointment go ahead?",
                classes: "nhsuk-fieldset__legend--m",
                isPageHeading: false
              }
            },
            hint: {
              text: screeningHint
            },
            value: eventTemp.appointment.canAppointmentGoAhead,
            items: [
              {
                value: "yes",
                text: "Yes, go to medical information"
              },
              {
                value: "no",
                text: "No, screening cannot proceed"
              }
            ]
          }) }}
        </div>
      </div>

      {{ button({
        text: "Continue"
      }) }}
    </form>



  {% endset %}

  {% if event.status == 'event_checked_in' or event.status == 'event_scheduled' %}
    {{ screeningHtml | safe}}
    {# {{ card({
      heading: "Pre-screening checks",
      headingLevel: "2",
      descriptionHtml: screeningHtml
    }) }} #}
  {% endif %}


{% endblock %}

