{# /app/views/events/reading/awaiting-annotations.html #}

{% extends 'layout-reading.html' %}

{% set pageHeading = "Add " + query.side + " breast abnormality" %}

{% set gridColumn = "none" %}

{% set formAction = './result-abnormal' %}

{% set hideSecondaryNavigation = true %}


{% block pageContent %}

  {{ participant | log("participant") }}
  {{ progress.skippedEvents | log("progress") }}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <span class="nhsuk-caption-l">
        {{ participant | getFullName }}
      </span>

      <h1 class="nhsuk-heading-l">
        {{ pageHeading }}
      </h1>

      <h2 class="nhsuk-heading-m">Mark the location</h2>
    </div>
  </div>

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      {% if query.side == 'right' %}
        {% set views = ['RMLO', 'RCC'] %}
      {% else %}
        {% set views = ['LMLO', 'LCC'] %}
      {% endif %}

      <div class="app-image-two-up nhsuk-u-margin-bottom-6">
        {% for view in views %}
          <img class="nhsuk-image__img" src="/images/mammogram-diagrams/{{ view | lower }}.png" alt="">
        {% endfor %}
      </div>

    </div>
  </div>

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      {{ input({
        label: {
          text: "Location",
          classes: "nhsuk-label--s"
        },
        hint: {
          text: "For example, upper right quadrant"
        },
        id: "other text",
        name: "other text"
      }) }}
    </div>
  </div>

  {% set checkboxItems = [] %}

  {% macro makeCheckboxConditionalItem(params) %}
    {{ input({
      label: {
        text: "Provide details"
      },
      id: params.value + "Details",
      name: params.value + "Details"
    }) }}
  {% endmacro %}

  {% set abnormalityList = [
    "Mass well-defined",
    "Mass ill-defined",
    "Architectural distortion",
    "Asymetric density",
    "Microcalcification outside a mass",
    "Clinical abnormality",
    "Lymph node abnormality"
    ] %}

  {% for abnormality in abnormalityList %}
    {% set checkboxItems = checkboxItems | push({
      value: abnormality | camelCase,
      text: abnormality,
      conditional: {
        html: makeCheckboxConditionalItem({value: abnormality | camelCase})
      }
    }) %}
  {% endfor %}

  {% set otherTextInputHtml %}
    {{ input({
      label: {
        text: "Provide details"
      },
      id: "other text",
      name: "other text"
    }) }}
  {% endset %}

  {% set checkboxItems = checkboxItems | push({
    value: "other",
    text: "Other",
    conditional: {
      html: otherTextInputHtml
    }
  }) %}

  {{ checkboxes({
    idPrefix: "example",
    name: "example",
    fieldset: {
      legend: {
        text: "Select abnormality type",
        classes: "nhsuk-fieldset__legend--s",
        isPageHeading: true
      }
    },
    items: checkboxItems
  }) }}

  {{ select({
    id: "select-1",
    name: "select-1",
    label: {
      text: "Level of concern",
      classes: "nhsuk-label--s"
    },
    items: [
      {
        value: 1,
        text: "Please select",
        disabled: true,
        selected: true
      },
      {
        value: 1,
        text: "1 - Normal"
      },
      {
        value: 2,
        text: "2 - Benign"
      },
      {
        value: 3,
        text: "3 - Probably benign"
      },
      {
        value: 4,
        text: "4 - Probably cancerous"
      },
      {
        value: 5,
        text: "5 - Likely cancerous"
      }
    ]
  }) }}

  {# {{ textarea({
    label: {
      text: "Provide additional comments",
      classes: "nhsuk-label--s"
    },
    id: "comment",
    name: "comment"
  }) }} #}

  <div class="nhsuk-form-group nhsuk-u-margin-top-7">
    {{ button({
      text: "Save and close",
      href: "./recall-for-assessment-details?[imageReadingTemp][" + query.side + "][annotatedCount]=" + (data.imageReadingTemp[query.side].annotatedCount | int | default(0) + 1)
    }) }}

    {{ button({
      text: "Save and add another abnormality",
      classes: "nhsuk-button--secondary",
      href: "#"
    }) }}
  </div>

{% endblock %}


