{# /app/views/events/reading/assessment.html #}

{% extends 'layout-reading.html' %}

{% set existingResult = event.reads[0].result %}

{% set pageHeading = "Review images for " + participant | getFullName %}
{% if existingResult %}
  {% set pageHeading = "Update review for " + participant | getFullName %}
{% endif %}

{% set gridColumn = "none" %}

{% set mainClasses = "nhsuk-u-padding-top-3" %}
{% set tabActive = "assessment" %}

{% set formAction = './assessment-answer' %}

{% block pageContent %}

  {{ participant | log("Participant") }}
  {{ event | log("Event") }}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-l js-image-count">
        {{ pageHeading }}
      </h1>
    </div>
  </div>
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      {% set thingsToReview = [] %}
      {% set hasSymptoms = event.currentSymptoms | length > 0 %}
      {% if hasSymptoms %}
        {% set thingsToReview = thingsToReview | push("Symptoms") %}
      {% endif %}

      {% set imageCount = event.mammogramData.metadata.totalImages %}
      {% set hasAdditionalImages = imageCount > 4 %}

      {% if hasAdditionalImages %}
        {% set thingsToReview = thingsToReview | push("Additional images") %}
      {% endif %}

      {% if thingsToReview | length %}
        {% set warningCalloutHtml %}

          {% if hasSymptoms %}
            {# {% if thingsToReview | length > 1 %} #}
              <h3>{{ event.currentSymptoms | length }} {{ "symptom" | pluralise(event.currentSymptoms | length )}} reported</h3>
            {# {% endif %} #}
            {% set symptoms = event.currentSymptoms %}
            {% include "summary-lists/symptoms.njk" %}
            <p><a href="./medical-information">See participant’s medical information</a></p>
          {% endif %}

          {% if hasAdditionalImages %}

            {# {% if thingsToReview | length > 1 %} #}
              <h3>Record includes {{ imageCount }} images</h3>
            {# {% endif %} #}

            {% set repeatImagesRows = [] %}

            {% for viewKey, viewData in event.mammogramData.views %}
              {% if viewData.images.length > 1 %}
                {% set valueText %}
                  {% if viewData.isRepeat %}
                    {{ viewData.repeatReason | sentenceCase }}
                  {% else %}
                    View required additional images to capture the full breast
                  {% endif %}
                {% endset %}
                {% set repeatImagesRows = repeatImagesRows | push({
                  key: {
                    text: viewData.viewShortWithSide + " repeated"
                  },
                  value: {
                    text: valueText
                  }
                }) %}

              {% endif %}


            {% endfor %}

            {{ summaryList({
              rows: repeatImagesRows
            }) }}

            {# <ul class="nhsuk-list">
              {% for viewKey, viewData in event.mammogramData.views %}
                {% if viewData.images.length > 1 %}
                  <li>
                    {% if viewData.isRepeat %}
                      {{ viewData.viewShortWithSide }} view was repeated because: {{ viewData.repeatReason }}
                    {% else %}
                      {{ viewData.viewShortWithSide }} view required additional images to capture the full breast
                    {% endif %}
                  </li>
                {% endif %}
              {% endfor %}
            </ul> #}

          {% endif %}

          {# <hr class="nhsuk-section-break nhsuk-section-break--m nhsuk-section-break--visible">

          {% set symptomsCheckboxQuestionText %}
            Acknowledge these
              {% if thingsToReview | length > 1 %}
                items
              {% else %}
                {{ thingsToReview[0] | lower }}
              {% endif %}
            {% endset %}

            {{ checkboxes({
              idPrefix: "acknowledgeItems",
              name: "acknowledgeItems",
              items: [
                {
                  value: "true",
                  text: symptomsCheckboxQuestionText,
                  checked: true if (data.acknowledgeItems == "true" or existingResult) else false
                }
              ]
            } | populateErrors) }} #}
        {% endset %}

        {% set calloutHeading %}
          {% if thingsToReview | length > 1 %}
            To review
          {% else %}
            {{ thingsToReview[0] }}
          {% endif %}
        {% endset %}
        {{ warningCallout({
          heading: "Important" or calloutHeading | trim,
          HTML: warningCalloutHtml
        }) }}
      {% endif %}
    </div>
  </div>



<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
  {# {% set isPartialMammography = event.mammogramData.isPartialMammography %}

  {% if isPartialMammography %}
    {% set partialMammographyHtml %}
      <h3>Partial mammography</h3>
      <p>
        Partial mamography reason: Patient was uncomfortable and asked to stop
      </p>
    {% endset %}
    {{ insetText({
      html: partialMammographyHtml
    }) }}
  {% endif %} #}

  {% set questionText = "What is your opinion of these images?" %}

  {# Temporary ui to support changing an answer #}
  {% if existingResult %}
      {# Show radios when updating an existing result #}
      {{ radios({
        idPrefix: "result",
        name: "result",
        fieldset: {
          legend: {
            text: questionText,
            classes: "nhsuk-fieldset__legend--m",
            isPageHeading: false
          }
        },
        items: [
          {
            value: "normal",
            text: "Normal",
            checked: existingResult == "normal"
          },
          {
            value: "technical_recall",
            text: "Technical recall",
            checked: existingResult == "technical_recall"
          },
          {
            value: "recall_for_assessment",
            text: "Recall for assessment",
            checked: existingResult == "recall_for_assessment"
          }
        ],
        value: data.result or existingResult
      }) }}

      {{ button({
        text: "Update assessment"
      }) }}
  {% else %}

    {# Show buttons for initial assessment #}
    <h2>{{ questionText }}</h2>
  </div>
</div>
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-one-third">
        <div class="form-group">
          {{ button({
            text: "Normal" if not hasSymptoms else "Normal, and add details",
            value: "normal",
            name: "result",
            classes: "app-button-full-width nhsuk-u-margin-bottom-3"
          }) }}

          {# Go to page to collect a comment and mark features #}
          {% if not hasSymptoms %}
            <p class="nhsuk-u-margin-bottom-0">
              <a href="#" class="nhsuk-link--no-visited-state">
                Normal, but add details
              </a>
            </p>
          {% endif %}

        </div>
      </div>
      <div class="nhsuk-grid-column-one-third">
        <div class="form-group">
          {{ button({
            text: "Technical recall",
            classes: "nhsuk-button--secondary app-button-full-width",
            value: "technical_recall",
            name: "result"
          }) }}
        </div>
      </div>
      <div class="nhsuk-grid-column-one-third">
        <div class="form-group">
          {{ button({
            "text": "Recall for assessment",
            "classes": "nhsuk-button--warning app-button-full-width",
            "value": "recall_for_assessment",
            name: "result"
          }) }}
        </div>
      </div>
    </div>




  {% endif %}

  <hr class="nhsuk-section-break nhsuk-section-break--m nhsuk-section-break--visible">

  {# <p><a href="#">Skip to next participant</a></p> #}

  {% if progress.hasNextUnread %}
    <p>
      <a href="/clinics/{{clinicId}}/reading/{{progress.nextUnreadId}}/assessment?skipped={{eventId}}" class="nhsuk-link--no-visited-state">Skip to next participant
      </a>
    </p>
  {% endif %}

  {% if progress.hasPrevious %}
    <p>
      <a href="/clinics/{{clinicId}}/reading/{{progress.previousEventId}}/assessment" class="nhsuk-link--no-visited-state">Previous participant
      </a>
    </p>

  {% endif %}

{% endblock %}


