{# /app/views/events/reading/assessment.html #}

{% extends 'layout-reading.html' %}

{% set existingResult = event.reads[0].result %}

{% set pageHeading = "Review images for " + participant | getFullName %}
{% if existingResult %}
  {% set pageHeading = "Update review for " + participant | getFullName %}
{% endif %}

{% set gridColumn = "none" %}

{% set mainClasses = "nhsuk-u-padding-top-3" %}
{% set tabActive = "assessment" %}

{% set formAction = './assessment-answer' %}

{% block pageContent %}

  {{ participant | log("Participant") }}
  {{ event | log("Event") }}

{# {% include "reading/opinion-ui.njk" %} #}

{% endblock %}


