{# /app/views/events/reading/awaiting-annotations.html #}

{% extends 'layout-reading.html' %}

{% set pageHeading = "Awaiting annotations" %}

{% set gridColumn = "nhsuk-grid-column-two-thirds" %}

{% set formAction = './reading-answer' %}
{% set hideSecondaryNavigation = true %}


{% block pageContent %}

  {{ participant | log("participant") }}
  {{ progress.skippedEvents | log("progress") }}

  <span class="nhsuk-caption-l">
    {{ participant | getFullName }}
  </span>

  <h1 class="nhsuk-heading-l js-image-count">
    {{ pageHeading }}
  </h1>

  {% set insetHtml %}
    <p>Annotations will appear here once they have been transmitted by PACS</p>
  {% endset %}
  {{ insetText({
    html: insetHtml
  }) }}

  {{ button({
    text: "Check PACS for updates",
    classes: "nhsuk-button--secondary",
    href: "./confirm-abnormal"
  }) }}

  <p><a href="./confirm-abnormal">Enter results manually</a></p>

{% endblock %}


