{# /app/views/reading/batch.html #}

{% extends 'layout-app.html' %}

{% set isClinicContext = batch.clinicId %}

{% set back = {
  href: "/reading",
  text: "Back to reading"
} %}

{% if isClinicContext %}
  {% set back = {
    href: "/reading/clinics",
    text: "Back to clinics"
  } %}
{% endif %}

{% set pageHeading %}
  {{ batch.name }}
{% endset %}

{% set gridColumn = "none" %}

{% block pageContent %}

{{ batch | log("Batch")}}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <div class="app-header-with-status">
      <span class="nhsuk-caption-l">Image reading</span>
      <h1 class="nhsuk-heading-l">
        {{ pageHeading }}
      </h1>
      {% set isClinicContext = batch.clinicId %}
      {% if isClinicContext %}
        <div class="app-header-with-status__status-tag">
          {{ readingStatus.status | formatWords | sentenceCase | toTag }}
        </div>
      {% endif %}
    </div>
  </div>
</div>
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    {% set currentUserHasRead = readingStatus.userReadCount > 0 %}

    {% if firstUserReadableEvent %}
      {# Reading progress #}
      {% set insetTextHtml %}
        <p>Reading status:</p>
        <ul class="nhsuk-list">
          <li>First read: {{ readingStatus.firstReadCount }} complete, {{ readingStatus.firstReadRemaining }} remaining</li>
          <li>Second read: {{ readingStatus.secondReadCount }} complete, {{ readingStatus.secondReadReady }} ready for 2nd read</li>
          {% if batch.skippedEvents | length > 0 %}
            <li>{{ batch.skippedEvents | length }} cases skipped</li>
          {% endif %}
          {% if readingStatus.arbitrationCount > 0 %}
            <li>{{ readingStatus.arbitrationCount }} cases need arbitration</li>
          {% endif %}
        </ul>
      {% endset %}

      {{ insetText({
        html: insetTextHtml
      }) }}

      <a href="/reading/batch/{{ batch.id }}/events/{{ firstUserReadableEvent.id }}" class="nhsuk-button">
        {{ "Resume reading" if currentUserHasRead else "Start reading" }}
      </a>
    {% else %}
      {% set notificationBannerHtml %}
        <h3 class="nhsuk-notification-banner__heading">
          {{ "All cases in this batch have been read" if not currentUserHasRead else "You have read all available cases" }}
        </h3>
      {% endset %}

      {{ appNotificationBanner({
        html: notificationBannerHtml,
        type: "success"
      }) }}
    {% endif %}

    {# Organize events into three categories #}
    {% set userCanReadEvents = [] %}
    {% set userHasReadEvents = [] %}
    {% set completelyReadEvents = [] %}

    {% for event in events %}
      {% set metadata = event.readingMetadata %}

      {# Categorize events #}
      {% if metadata.secondReadComplete %}
        {% set completelyReadEvents = completelyReadEvents | push(event) %}
      {% elif event | userHasReadEvent %}
        {% set userHasReadEvents = userHasReadEvents | push(event) %}
      {% elif event | canUserReadEvent %}
        {% set userCanReadEvents = userCanReadEvents | push(event) %}
      {% else %}
        {# Events the user can't read (other readers involved) #}
        {% if not metadata.secondReadComplete %}
          {% set userHasReadEvents = userHasReadEvents | push(event) %}
        {% endif %}
      {% endif %}
    {% endfor %}

    {# Display categories in the desired order #}
    {% set categories = [
      {
        title: "Cases",
        events: events
      }

    ] %}

          {# {
        title: "Cases you can read",
        events: userCanReadEvents,
        empty_message: "No cases available for you to read"
      },
      {
        title: "Your first reads",
        events: userHasReadEvents
      },
      {
        title: "Completed first and second reads",
        events: completelyReadEvents,
        empty_message: "No completely read cases yet"
      } #}

    {% for category in categories %}
      {% if category.events | length %}
        <h2>{{ category.title }} ({{ category.events | length }})</h2>
      {% endif %}

      {% if category.events | length > 0 %}
        <table class="nhsuk-table">
          <thead>
            <tr>
              <th scope="col">Case</th>
              <th scope="col">Screened</th>
              <th scope="col">Read type</th>
              {# <th scope="col">Reader</th> #}
              <th scope="col">Opinion</th>
            </tr>
          </thead>
          <tbody>
            {% for event in category.events %}
              {% set metadata = event.readingMetadata %}
              <tr>
                <td>
                  {% set readingHref -%}
                    /reading/batch/{{ batch.id }}/events/{{ event.id }}
                  {%- endset %}
                  <a href="{{ readingHref if metadata.readCount < 2 or category.title === 'Cases you can read' else '#' }}">{{ event.participant | getFullName }}</a>

                  {% if event.currentSymptoms | length %}
                  <br>
                    {{ tag({
                      text: "Has symptoms",
                      classes: "nhsuk-tag--yellow"
                    })}}
                  {% endif %}
                  {% if (data.settings.reading.showRepeatsTag | falsify) and event.mammogramData.metadata.hasRepeat %}
                    {{ tag({
                      text: "Has repeat",
                      classes: "nhsuk-tag--yellow"
                    })}}
                  {% endif %}
                </td>
                <td>
                  {% set daysSinceScreening = event.timing.startTime | daysSince %}
                  {% if daysSinceScreening > 9 %}
                    {{ tag({
                      text: "Urgent",
                      classes: "nhsuk-tag--red"
                    })}}<br>
                  {% elseif daysSinceScreening > 6 %}
                    {{ tag({
                      text: "Due soon",
                      classes: "nhsuk-tag--orange"
                    })}}<br>
                  {% endif %}
                  {{ event.timing.startTime | formatDate }}<br>
                  <span class="app-text-grey app-nowrap nhsuk-body-s">
                    {{ event.timing.startTime | formatRelativeDate }}
                  </span>
                </td>
                <td>

                  {% set readCount = metadata.readCount %}
                  {% if event | userHasReadEvent %}
                    {% if readCount == 1 %}
                      First read
                    {% else %}
                      Second read
                    {% endif %}
                  {% else %}
                    {% if readCount == 0 %}
                      First read
                    {% else %}
                      Second read
                    {% endif %}
                  {% endif %}
                </td>
                {# <td>
                  {% if metadata.readCount >= 1 %}
                    {% if metadata.readCount > 1 %}
                      {% set readType = "second" %}
                      {% set readIndex = 1 %}
                    {% else %}
                      {% set readType = "first" %}
                      {% set readIndex = 0 %}
                    {% endif %}
                    {% set read = metadata.reads[readIndex] %}
                    {{ read.readerId | getUsername({identifyCurrentUser: true}) }}
                  {% endif %}
                </td> #}
                <td>
                  {% set skipped = "Skipped" if batch.skippedEvents | includes(event.id) else false %}
                  {% if event | userHasReadEvent %}
                    {% set read = event | getReadForUser %}
                    {% if read.result == "normal" %}
                      {{ "Normal" | toTag("green") }}
                    {% elif read.result == "technical_recall" %}
                      {{ "Technical recall" | toTag({colour: "orange"}) }}
                    {% elif read.result == "recall_for_assessment" %}
                      {{ "Recall for assessment" | toTag({colour: "red"}) }}
                    {% else %}
                      {{ read.result | formatWords | sentenceCase | toTag }}
                    {% endif %}
                  {% elseif skipped %}
                    {{ "Skipped" | toTag({colour: "grey"}) }}
                  {% else %}
                    {{ "Not read" | toTag({colour: "grey"}) }}
                  {% endif %}


                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% else %}
        {# <p>{{ category.empty_message }}</p> #}
      {% endif %}
    {% endfor %}
  </div>
</div>
{% endblock %}