{# app/views/reading/clinics.html #}

{% extends 'layout-app.html' %}

{% set showRemaining = data.settings.reading.showRemaining | falsify %}

{% set pageHeading = "Clinics awaiting image reading" %}
{% set back = {
  href: "/reading",
  text: "Back to reading"
} %}
{% set gridColumn = "nhsuk-grid-column-full" %}

{% block pageContent %}
  <h1>{{ pageHeading }}</h1>

  {{ readingStatus | log("Reading status")}}

  {% set secondaryNavItems = [] %}

  {% for item in [
    { id: 'mine', label: 'Available for you to read' },
    { id: 'all', label: 'All that need reading' }
  ] %}
    {% set href -%}
      /reading/clinics/{{ item.id }}
    {%- endset %}
    {% set secondaryNavItems = secondaryNavItems | push({
      text: item.label,
      href: href | trim,
      current: true if item.id == view
    }) %}
  {% endfor %}

  {{ appSecondaryNavigation({
    visuallyHiddenTitle: "Clinic views",
    items: secondaryNavItems
  }) }}

  {% if incompleteClinics | length === 0 %}
    <p>No clinics available for reading.</p>
  {% else %}
    <table class="nhsuk-table">
      <thead class="nhsuk-table__head">
        <tr>
          <th scope="col">Reading</th>
          <th scope="col" class="nhsuk-u-width-one-third">Clinic</th>
          <th scope="col">Date</th>
          <th scope="col">Cases</th>
          <th scope="col">1st read</th>
          <th scope="col">2nd read</th>
          {# <th scope="col">Status</th> #}
        </tr>
      </thead>
      <tbody class="nhsuk-table__body">
        {% for clinic in clinicsToDisplay %}
          {% set location = clinic.location %}
          {% set stats = clinic.readingStatus %}

          <tr>
            <td>

              {% set currentUserHasRead = stats.userReadCount > 0 %}
              {% set currentUserCanRead = stats.userReadableCount > 0 %}

              {% if currentUserCanRead %}
                <a href="/reading/clinics/{{ clinic.id }}/start" class="nhsuk-link">
                  {{ "Resume reading" if currentUserHasRead else "Start reading" }}
                </a>
              {% elif stats.userReadCount > 0 %}
                {{ 'You have read this' | toTag({colour: 'grey'}) }}
              {% else %}
                <span class="app-text-grey">No cases for you to read</span>
              {% endif %}
            </td>
            <td>
              <a href="/reading/clinics/{{ clinic.id }}" class="nhsuk-link">
                {% if location.type === 'mobile_unit' %}
                  {{ location.name }} at {{ clinic.siteName }}
                {% else %}
                  {{ location.name }}
                {% endif %}
                <br>
                {{ clinic.sessionType }} ({{ clinic.clinicCode }})
              </a>
            </td>
            <td>
              {% set daysSinceClinic = clinic.date | daysSince %}
              {% if daysSinceClinic > 9 %}
                {{ tag({
                  text: "Urgent",
                  classes: "nhsuk-tag--red"
                })}}<br>
              {% elseif daysSinceClinic > 6 %}
                {{ tag({
                  text: "Due soon",
                  classes: "nhsuk-tag--orange"
                })}}<br>
              {% endif %}
              {{ clinic.date | formatDate | noWrap }}<br>
              {{ clinic.date | formatRelativeDate | sentenceCase | asHint }}
            </td>

            {# Total cases #}
            <td>
              {{ stats.total }}
            </td>
            {# First read #}
            <td>
              {% if showRemaining %}
                {{ stats.firstReadRemaining }}
              {% else %}
                {{ stats.firstReadCount }}
              {% endif %}
            </td>
            <td>
              {% if showRemaining %}
                {{ stats.secondReadReady }}
              {% else %}
                {{ stats.secondReadCount }}
              {% endif %}
            </td>
            {# Reading status #}
            {# <td>
              {{ stats.status | toTag }}
            </td> #}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}

{% endblock %}