{# app/views/events/image-reading/result.html #}

{% extends 'layout-reading.html' %}

{% set pageHeading = "Confirm abnormal result" %}

{% set gridColumn = "nhsuk-grid-column-two-thirds" %}

{% set formAction = './result-abnormal' %}

{% block pageContent %}

  {{ participant | log }}

  <span class="nhsuk-caption-l">
    {{ participant | getFullName }}
  </span>

  <h1 class="nhsuk-heading-l js-image-count">
    {{ pageHeading }}
  </h1>

  {% set insetHtml %}
    <p>[Annotations]</p>
  {% endset %}

  {{ insetText({
    html: insetHtml
  }) }}

  {{ textarea({
    name: "additionalNotes",
    id: "additionalNotes",
    label: {
      text: "Additional notes",
      classes: "nhsuk-label--m"
    }
  }) }}

  {{ button({
    text: "Confirm abnormal result and move to next"
  }) }}

{% endblock %}


