{# app/views/events/image-reading/index.html #}

{% extends 'layout-app.html' %}

{% set pageHeading = "Image reading" %}
{% set hideBackLink = true %}
{% set gridColumn = "nhsuk-grid-column-full" %}

{% block pageContent %}
  <h1>{{ pageHeading }}</h1>

  {# {% if totalToRead > 0 %}
    <p class="nhsuk-body">{{ totalToRead }} participants' images remaining to be read from clinics in the last 7 days</p>
  {% else %}
    <p class="nhsuk-body">All images from recent clinics have been read</p>
  {% endif %} #}

  <ul class="nhsuk-grid-row nhsuk-card-group">
    <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">

      {% set clinic = clinics[0] %}
      {{ clinic | log("First clinic") }}

      {% set clinicCardDescriptionHtml %}

        <ul class="nhsuk-list nhsuk-list--bullet nhsuk-body-s nhsuk-u-margin-bottom-3">
          <li>
            172 cases requiring a 1st read
            {# {{ clinic.location.name }}
            {% if clinic.location.type === 'mobile_unit' %}
              at {{ clinic.siteName }}
            {% endif %} #}
          </li>
          <li>
            Oldest from
            {{ clinic.date | formatDate | noWrap }} ({{ clinic.date | formatRelativeDate | sentenceCase }})
          </li>
          {# <li>
            {{ clinic.readingStatus.total }} image {{ "record" if clinic.readingStatus.total == 1 else "records" }}
          </li> #}
        </ul>
      {% endset %}

      {% set firstUnreadEvent = data | getFirstUnreadEventOverall %}
      {{ firstUnreadEvent | log("First unread event") }}

      {% set clinicHref -%}
        /reading/clinics/{{ firstUnreadEvent.clinicId }}/events/{{ firstUnreadEvent.id }}
      {%- endset %}

      {{ card({
        heading: "1st reads",
        headingClasses: "nhsuk-heading-s",
        descriptionHtml: clinicCardDescriptionHtml ~ actionLink({
          classes: "nhsuk-link--no-visited-state",
          text: "Start 1st reading",
          href: clinicHref
        })
      }) }}

    </li>
    <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">

      {% set clinic = clinics[2] %}
      {{ clinic | log("Second clinic") }}

      {% set clinicCardDescriptionHtml %}
        <ul class="nhsuk-list nhsuk-list--bullet nhsuk-body-s nhsuk-u-margin-bottom-3">
          <li>
            52 cases requiring 2nd read
          </li>
          {# <li>
            {{ clinic.location.name }}
            {% if clinic.location.type === 'mobile_unit' %}
              at {{ clinic.siteName }}
            {% endif %}
          </li> #}
          <li>
            Oldest from {{ clinic.date | formatDate | noWrap }} ({{ clinic.date | formatRelativeDate | sentenceCase }})
          </li>
          {# <li>
            {{ clinic.readingStatus.total }} image {{ "record" if clinic.readingStatus.total == 1 else "records" }}
          </li> #}
        </ul>
      {% endset %}

      {% set firstUnreadEvent = data | getFirstUnreadEventOverall %}
      {{ firstUnreadEvent | log("First unread event") }}

      {% set clinicHref -%}
        /reading/clinics/{{ firstUnreadEvent.clinicId }}/events/{{ firstUnreadEvent.id }}
      {%- endset %}

      {{ card({
        heading: "2nd reads",
        headingClasses: "nhsuk-heading-s",
        descriptionHtml: clinicCardDescriptionHtml ~ actionLink({
          classes: "nhsuk-link--no-visited-state",
          text: "Start 2nd reading",
          href: clinicHref
        })
      }) }}

    </li>
    <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">

      {% set clinicCardDescriptionHtml %}
        <p class="nhsuk-body-s nhsuk-u-margin-bottom-3">
          16 cases require a final decision
        </p>
      {% endset %}

      {{ card({
        heading: "Arbitration",
        headingClasses: "nhsuk-heading-s",
        descriptionHtml: clinicCardDescriptionHtml ~ actionLink({
          classes: "nhsuk-link--no-visited-state",
          text: "See cases",
          href: "#"
        })
      }) }}

    </li>
  </ul>

  <h2>Available clinics</h2>

  <p><a href="#">See previously read clinics</a></p>

  {% if clinics | length === 0 %}
    <p>No clinics from the last 7 days available for reading.</p>
  {% else %}
    <table class="nhsuk-table">
      <thead class="nhsuk-table__head">
        <tr>
          <th scope="col" class="nhsuk-u-width-one-half">Clinic</th>
          <th scope="col">Date</th>
          <th scope="col">Cases</th>
          <th scope="col">1st read </th>
          <th scope="col">2nd read </th>
          <th scope="col">Status</th>
        </tr>
      </thead>
      <tbody class="nhsuk-table__body">
        {% for clinic in clinics %}
          {% set location = clinic.location %}
          {% set stats = clinic.readingStatus %}

          <tr>
            <td>
              {% set queryExtra = "?firstReadComplete=true" if (loop.index0 < 4) else "" %}
              <a href="/reading/clinics/{{ clinic.id }}{{ queryExtra }}" class="nhsuk-link">
                {% if location.type === 'mobile_unit' %}
                  {{ location.name }} at {{ clinic.siteName }}
                {% else %}
                  {{ location.name }}
                {% endif %}
                {# <br> #}
                ({{ clinic.sessionType }})
                <br>
                {{ clinic.clinicCode }}
              </a>
            </td>
            <td>
              {{ clinic.date | formatDate | noWrap }}<br>
              {{ clinic.date | formatRelativeDate | sentenceCase | asHint }}
            </td>
            {# Total cases #}
            <td>
              {{ stats.total }}
            </td>
            {# First read #}
            <td>
              {{ stats | log("Stats") }}
              {# {{ stats.total }} #}
              {% if loop.index0 < 4 %}
                {{ stats.total }}
              {% else %}
                {{ stats.complete }}
              {% endif %}
            </td>
            {# <td>
              Total: {{ stats.total }}<br>
              1st remaining: {{stats.total}}<br>
              2nd remaining: 0
            </td> #}
            {# Second read #}
            <td>
              0
              <br>
              {% if stats.complete > 0 %}
                {# <span class="app-text-grey app-nowrap">
                  ({{ stats.complete }} available)
                </span> #}
              {% endif %}
              {# <span class="noWrap">
                0 available
              </span>
              <br>
              <span class="app-text-grey">
                {% set hint %}
                  ({{ stats.total }} required)
                {% endset %}
                {{ hint | noWrap }}
              </span> #}
            </td>
            {# Reading status #}
            <td>
              {% if loop.index0 < 4 %}
                {{ "In progress" | toTag }}
              {% else %}
                {{ stats.status | toTag }}
              {% endif %}

              {# {% if stats.status != "Not read" %}
                <br>
                {{ (stats.remaining + " remaining") | noWrap | asHint }}
              {% endif %} #}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}
{% endblock %}