{% extends 'layout-app.html' %}

{% set pageHeading = "Image reading" %}
{% set hideBackLink = true %}
{% set gridColumn = "nhsuk-grid-column-full" %}

{% block pageContent %}
  <h1>{{ pageHeading }}</h1>

  {# {% if totalToRead > 0 %}
    <p class="nhsuk-body">{{ totalToRead }} participants' images remaining to be read from clinics in the last 7 days</p>
  {% else %}
    <p class="nhsuk-body">All images from recent clinics have been read</p>
  {% endif %} #}

  {% if clinics | length === 0 %}
    <p>No clinics from the last 7 days available for reading.</p>
  {% else %}
    <table class="nhsuk-table">
      <thead class="nhsuk-table__head">
        <tr>
          <th scope="col">Clinic</th>
          <th scope="col">Date</th>
          <th scope="col" class="nhsuk-table__cell--numeric">Participants</th>
          <th scope="col" class="nhsuk-table__cell--numeric">Days since screening</th>
          <th scope="col">Reading status</th>
        </tr>
      </thead>
      <tbody class="nhsuk-table__body">
        {% for clinic in clinics %}
          {% set location = clinic.location %}
          {% set stats = clinic.readingStats %}

          <tr>
            <td>
              <a href="/clinics/{{ clinic.id }}/reading" class="nhsuk-link">
                {% if location.type === 'mobile_unit' %}
                  {{ location.name }} at {{ clinic.siteName }}
                {% else %}
                  {{ location.name }}
                {% endif %}
                <br>
                ({{ clinic.sessionType | sentenceCase }})
              </a>
            </td>
            <td>{{ clinic.date | formatDate |  noWrap }}<br>
              {{clinic.sessionTimes | formatTimeRange | asHint }}
            </td>
            <td class="nhsuk-table__cell--numeric">
              {{ stats.total }}
            </td>
            <td class="nhsuk-table__cell--numeric">
              {{ stats.daysSinceScreening }}
            </td>
            <td>
              {{ tag({
                text: stats.status,
                classes: "nhsuk-tag--" + stats.statusColor
              })}}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}
{% endblock %}