{# /app/views/events/reading/participant.html #}

{% extends 'layout-reading.html' %}

{% set pageHeading = "Medical information" %}

{% set gridColumn = "nhsuk-grid-column-two-thirds" %}

{% set formAction = './result-normal' %}

{% set tabActive = "medical-information" %}

{% block pageContent %}




  {# <span class="nhsuk-caption-l">
    {{ participant | getFullName }}
  </span> #}

  {# <h2 class="nhsuk-heading-m js-image-count">
    {{ pageHeading }}
  </h2> #}


  {% set randomDate = seededFaker().date.between({ from: '2019-01-01', to: '2023-01-01' }) %}

  {% set lastMammogramText %}
    {{ randomDate | formatDate }} ({{ randomDate | formatRelativeDate }})
  {% endset %}


  {% set hasHrt = randomBool(0.25, 'hrt') %}

  {% set hasBreastFeature = randomBool(0.25, 'breastFeatures') %}
  {% set breastFeatureText %}
    {{ ['Mole', 'Scar', 'Wart', 'Lump'] | randomItem }} ({{ [3,4,5,6] | randomItem }}mm) on {{ ['left upper outer', 'right upper inner ', 'left lower outer', 'right lower inner'] | randomItem }} breast
  {% endset %}

  {% if hasBreastFeature or hasHrt %}
    {{ summaryList({
      rows: [
        {
          key: {
            text: "Breast features"
          },
          value: {
            text: breastFeatureText
          }
        } if hasBreastFeature,
        {
          key: {
            text: "Hormone replacement therapy (HRT)"
          },
          value: {
            html: "Taken since December " + [2022, 2023, 2024] | randomItem
          }
        } if hasHrt
      ]
    }) }}
  {% else %}
    <p>
      No relevant medical information to show.
    </p>

  {% endif %}

  <p><a href="#">View participant record</a></p>

  {# {{ card({
    heading: "Symptoms",
    headingLevel: "2",
    feature: false,
    descriptionHtml: symptomsHtml
  }) }} #}

  {% set valueHtml = 'None' %}

  {% set medicalInformationCardHtml %}
    {# {{ taskList({
      idPrefix: "your-health",
      items: taskListSections
    }) }} #}
    {{ summaryList({
      rows: [
        {
          key: {
            text: "Breast cancer history"
          },
          value: {
            html: valueHtml
          }
        },
        {
          key: {
            text: "Non-cancerous lump disagnoses"
          },
          value: {
            html: valueHtml
          }
        },
        {
          key: {
            text: "Other breast or chest proceedures"
          },
          value: {
            html: valueHtml
          }
        },
        {
          key: {
            text: "Recent breast changes or symptoms"
          },
          value: {
            html: valueHtml
          }
        }
      ]
    } | handleSummaryListMissingInformation) }}
  {% endset %}

  {# {{ card({
    heading: "Medical information",
    headingLevel: "2",
    feature: false,
    descriptionHtml: medicalInformationCardHtml
  }) }} #}

  {% set valueHtml = "No" %}

  {% set otherInformationHtml %}
    {{ summaryList({
      rows: [
        {
          key: {
            text: "Hormone replacement therapy (HRT)"
          },
          value: {
            html: valueHtml
          }
        },
        {
          key: {
            text: "Pregnancy and breastfeeding"
          },
          value: {
            html: valueHtml
          }
        }
      ]
    } | handleSummaryListMissingInformation) }}
  {% endset %}

  {# {{ card({
    heading: "Other information",
    headingLevel: "2",
    feature: false,
    descriptionHtml: otherInformationHtml
  }) }} #}

  {% set observationsCardHtml %}
    {# <p>There were <a href="#">2 observations</a> made by the mammographer during screening.</p> #}
    {# <p>This could include tattoos, lumps, moles or scars on the breasts.</p> #}

    {% set tattooHtml %}
      Tattoo<br>
      {{ "(Manchester united badge)" | asHint }}
    {% endset %}

    {% set scarHtml %}
      Surgical scar<br>
      {{ "(2 inches long)" | asHint }}
    {% endset %}

    {{ summaryList({
      rows: [
        {
          key: {
            text: "Right upper outer (RUO)"
          },
          value: {
            html: tattooHtml
          }
        },
        {
          key: {
            text: "Left lower inner (LLI)"
          },
          value: {
            html: scarHtml
          }
        }
      ]
    }) }}

  {% endset %}

  {# {{ card({
    heading: "Breast features",
    headingLevel: "2",
    feature: false,
    descriptionHtml: observationsCardHtml
  }) }} #}

{% endblock %}


