{# /app/views/events/reading/recall-reason.html #}

{% extends 'layout-reading.html' %}

{% set pageHeading = "Confirm opinion normal" %}

{% set gridColumn = "nhsuk-grid-column-two-thirds" %}

{% set formAction = './result-normal' %}

{% set hideSecondaryNavigation = true %}

{% set backLink = value %}

{% block pageContent %}

  {{ participant | log("Participant") }}
  {{ event | log("Event") }}

  <span class="nhsuk-caption-l">
    {{ participant | getFullName }}
  </span>

  <h1 class="nhsuk-heading-l js-image-count">
    {{ pageHeading }}
  </h1>

  {% set hasSymptoms = event.currentSymptoms | length > 0 %}

  {% if hasSymptoms %}

      {% set calloutHeading %}
        Significant {{ "symptom" | pluralise(event.currentSymptoms | length )}} reported
      {% endset %}

      {% set warningCalloutHtml %}
        {% set symptoms = event.currentSymptoms %}
        {% include "summary-lists/symptoms.njk" %}
      {% endset %}

      {{ warningCallout({
        heading: calloutHeading | trim,
        HTML: warningCalloutHtml
      }) }}

  {% endif %}

  {{ textarea({
    name: "normalDetails",
    id: "normalDetails",
    label: {
      text: "Provide information to support your decision",
      classes: "nhsuk-label--s"
    }
  }) }}

  {% if hasSymptoms %}
    {{ checkboxes({
      idPrefix: "symptomsAcknowledged",
      name: "symptomsAcknowledged",
      items: [
        {
          value: "true",
          text: "I acknowledge that the reported symptoms have been considered in my decision"
        }
      ]
    }) }}
  {% endif %}

  {# {% for side in ['right', 'left'] %}
    {{ input({
      label: {
        text: (side + " breast comment (optional)") | sentenceCase,
        classes: "nhsuk-label--s"
      },
      _classes: "nhsuk-u-width-two-thirds",
      id: "normalDetails-" + side,
      name: "normalDetails-" + side
    }) }}
  {% endfor %}

  {% set radioConditionalHtml %}
    <p>
      <a href="./annotation?side={{ params.side }}">Add an annotation</a>
    </p>
  {% endset %}

  {{ radios({
    idPrefix: "markFeatures",
    name: "markFeatures",
    fieldset: {
      legend: {
        text: "Do you want to mark any features on these images?",
        classes: "nhsuk-fieldset__legend--s",
        isPageHeading: false
      }
    },
    items: [
      {
        value: "yes",
        text: "Yes",
        conditional: {
          html: radioConditionalHtml
        }
      },
      {
        value: "no",
        text: "No"
      }
    ]
  }) }} #}

  {{ button({
    text: "Confirm opinion and continue"
  }) }}

{% endblock %}


