{# /app/views/events/reading/recall-reason.html #}

{% extends 'layout-reading.html' %}

{% set pageHeading = "Confirm opinion normal" %}

{% set gridColumn = "none" %}

{% set formAction = './result-normal' %}

{% set hideSecondaryNavigation = true %}

{% set backLink = value %}

{% block pageContent %}

  {{ event | log("Event") }}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <span class="nhsuk-caption-l">
        {{ participant | getFullName }}
      </span>
      <h1 class="nhsuk-heading-l js-image-count">
        {{ pageHeading }}
      </h1>
    </div>
  </div>

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      {% set symptoms = event.medicalInformation.symptoms %}
      {% set hasSymptoms = symptoms | length > 0 %}

      {% include "symptomsWarningCard.njk" %}
    </div>
  </div>

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      {{ textarea({
        name: "normalDetails",
        id: "normalDetails",
        label: {
          text: "Provide information to support your decision" ~(" (optional)" if hasSymptoms),
          classes: "nhsuk-label--s"
        }
      }) }}

      {% if hasSymptoms %}
        {{ checkboxes({
          idPrefix: "symptomsAcknowledged",
          name: "symptomsAcknowledged",
          items: [
            {
              value: "true",
              text: "I acknowledge that the reported symptoms have been considered in my decision"
            }
          ]
        }) }}
      {% endif %}

      {{ button({
        text: "Confirm opinion and continue"
      }) }}
    </div>
  </div>

{% endblock %}


