{# /app/views/events/reading/recall-for-assessment-reasons.html #}

{% extends 'layout-reading.html' %}

{% set pageHeading = "Recall for assessment" %}

{% set gridColumn = "none" %}

{% set formAction = './result-recall-for-assessment' %}

{% set hideSecondaryNavigation = true %}

{% macro breastDetails(params) %}

  {% set breastDetailsHtml %}

    {% set Side = params.side | capitalize %}

    {% set abnormalDetailsHtml %}

      {% if data.imageReadingTemp[params.side].annotatedCount | int %}


        {% set annotationValueHtml -%}
          {% if params.side == 'right' %}
            Location: upper right quadrant
            Level of concern: 4 - Probably cancerous
          {% else %}
            Location: Lower left quadrant
            Level of concern: 3 - Probably benign
          {% endif %}
        {%- endset %}

        {% set summaryItems = [] %}

        {% for item in range(0, data.imageReadingTemp[params.side].annotatedCount | int) %}

          {% set abnormalityList = [
            "Mass well-defined",
            "Mass ill-defined",
            "Architectural distortion",
            "Asymetric density",
            "Microcalcification outside a mass",
            "Clinical abnormality",
            "Lymph node abnormality"
          ] %}

          {% set abnormalityType = abnormalityList | randomItem(params.side ~ loop.index0) %}

          {% set summaryItems = summaryItems | push(
            {
              key: {
                text: abnormalityType
              },
              value: {
                html: annotationValueHtml | trim | nl2br
              },
              actions: {
                items: [
                  {
                    href: "#",
                    text: "Change",
                    visuallyHiddenText: "name"
                  }
                ]
              }
            }
          ) %}
        {% endfor %}

        {{ summaryItems | log("Summary items") }}

        {{ summaryList({
          rows: summaryItems
        }) }}
      {% endif %}

      {{ button({
        text: "Mark an abnormality" if not (data.imageReadingTemp[params.side].annotatedCount | int > 0) else "Mark another abnormality",
        classes: "nhsuk-button--secondary",
        href: "./annotation?side=" + params.side + "&[imageReadingTemp][" + params.side + "][breastAssessment]=abnormal"
      }) }}

    {% endset %}

    {{ data.imageReadingTemp | log("Image reading") }}

    {{ radios({
      fieldset: {
        legend: {
          text: "What is your opinion of the " + params.side + " breast?",
          classes: "nhsuk-fieldset__legend--s",
          isPageHeading: false
        }
      },
      items: [
        {
          value: "normal",
          text: "Normal"
        },
        {
          value: "clinical",
          text: "Normal, but symptoms need clinical assessment"
        } if event.currentSymptoms | length > 0,
        {
          value: "abnormal",
          text: "Abnormal, recall for assessment",
          conditional: {
            html: abnormalDetailsHtml
          }
        }
      ] | removeEmpty
    } | decorateAttributes(data, "imageReadingTemp." + params.side + ".breastAssessment" )) }}

    {{ input({
      label: {
        text: Side + " breast comment (optional)",
        classes: "nhsuk-label--s"
      },
      classes: "nhsuk-u-width-two-thirds"
    } | decorateAttributes(data, "imageReadingTemp." + params.side + ".comment")) }}


  {% endset %}

  {{ card({
    heading: Side + " breast",
    headingLevel: "2",
    feature: true,
    descriptionHtml: breastDetailsHtml
  }) }}

{% endmacro %}

{% block pageContent %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <span class="nhsuk-caption-l">
        {{ participant | getFullName }}
      </span>

      <h1 class="nhsuk-heading-l js-image-count">
        {{ pageHeading }}
      </h1>
    </div>
  </div>

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      {% set symptoms = event.currentSymptoms %}
      {% include "symptomsWarningCard.njk" %}

      {% for breastSide in ["right", "left"] %}

        {{ breastDetails({
          side: breastSide
        }) }}

      {% endfor %}

    </div>
  </div>

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      {{ button({
        text: "Confirm opinion and continue"
      }) }}

    </div>
  </div>

{% endblock %}


