{# /app/views/_includes/summary-lists/event-symptoms.njk #}

{% if event.medicalInformation.symptoms and event.medicalInformation.symptoms.length > 0 %}
  {% set rows = [] %}

  {% for symptom in event.medicalInformation.symptoms %}
    {% set symptomHtml %}
      {# Start with an array to build content, then join with <br> #}
      {% set contentLines = [] %}

      {# Add symptom-specific details #}
      {% if symptom.type == "Nipple change" and symptom.nippleChangeType %}
        {% set line = symptom.nippleChangeType | sentenceCase %}
        {% if symptom.nippleChangeType == "other" and symptom.nippleChangeDescription %}
          {% set line = line + " - " + symptom.nippleChangeDescription %}
        {% endif %}
        {% set contentLines = contentLines | push(line) %}
      {% elseif symptom.type == "Skin change" and symptom.skinChangeType %}
        {% set line = symptom.skinChangeType | sentenceCase %}
        {% if symptom.skinChangeType == "other" and symptom.skinChangeDescription %}
          {% set line = line + " - " + symptom.skinChangeDescription %}
        {% endif %}
        {% set contentLines = contentLines | push(line) %}
      {% elseif symptom.type == "Persistent pain" %}
        {% set line = symptom.persistentPainDescription %}
        {% set contentLines = contentLines | push(line) %}
      {% elseif symptom.type == "Other" and symptom.otherDescription %}
        {% set contentLines = contentLines | push(symptom.otherDescription) %}
      {% endif %}

      {# Add area description if it adds meaningful info beyond the key #}
      {% if symptom.location == "right breast" and symptom.rightBreastDescription %}
        {% set contentLines = contentLines | push(symptom.rightBreastDescription | sentenceCase) %}
      {% elseif symptom.location == "left breast" and symptom.leftBreastDescription %}
        {% set contentLines = contentLines | push(symptom.leftBreastDescription | sentenceCase) %}
      {% elseif symptom.location == "both breasts" and symptom.bothBreastsDescription %}
        {% set contentLines = contentLines | push(symptom.bothBreastsDescription | sentenceCase) %}
      {% endif %}

      {# Duration #}
      {% set startDateLine %}
        {% if symptom.dateType == 'dateKnown' %}
          Started: {{ symptom.dateStarted | formatMonthYear }}
            ({{ symptom.dateStarted | formatRelativeDate }})

        {% elseif symptom.dateType == 'approximateDate' %}
          Started: {{ symptom.approximateDateStarted }}
        {% elseif symptom.dateType == 'notSure' %}
          Started: not sure
        {% else %}
          Started: not provided
        {% endif %}
      {% endset %}
      {% set contentLines = contentLines | push(startDateLine) %}

      {% if symptom.hasStopped %}
        {% set endDateLine %}
          Stopped: {{ symptom.approximateDateStopped }}
        {% endset %}
        {% set contentLines = contentLines | push(endDateLine) %}
      {% endif %}

      {# Add duration #}
      {% if symptom.approxStartDate %}
        {% if symptom.isOngoing == "yes" %}
          {% set contentLines = contentLines | push("Ongoing since " + (symptom.approxStartDate | formatMonthYear)) %}
        {% elseif symptom.isOngoing == "no" and symptom.approxEndDate %}
          {% set contentLines = contentLines | push((symptom.approxStartDate | formatMonthYear) + " to " + (symptom.approxEndDate | formatMonthYear)) %}
        {% endif %}
      {% endif %}

      {# Join content lines with <br> #}
      {{ contentLines | join('<br>') | safe }}

      {# Add investigation status #}
      {% if symptom.hasBeenInvestigated == "yes" and symptom.investigatedDescription %}
        <p class="app-text-grey nhsuk-u-margin-top-2 nhsuk-u-margin-bottom-0">
          Previously investigated: {{ symptom.investigatedDescription }}
        </p>
      {% elseif symptom.hasBeenInvestigated == "no" %}
        <p class="app-text-grey nhsuk-u-margin-top-2 nhsuk-u-margin-bottom-0">
          Has not been investigated
        </p>
      {% endif %}

      {# Add additional info if present #}
      {% if symptom.additionalInfo %}
        <p class="app-text-grey nhsuk-u-margin-top-1 nhsuk-u-margin-bottom-0">
          Additional info: {{ symptom.additionalInfo }}
        </p>
      {% endif %}
    {% endset %}

    {# Generate key with location for most symptoms #}
    {% set keyText %}
      {% if symptom.nippleChangeLocation %}
        {% if symptom.nippleChangeLocation == "right nipple" %}
          {{ symptom.type }} on right nipple
        {% elseif symptom.nippleChangeLocation == "left nipple" %}
          {{ symptom.type }} on left nipple
        {% elseif symptom.nippleChangeLocation == "both nipples" %}
          {{ symptom.type }} on both nipples
        {% else %}
          {{ symptom.type }}
        {% endif %}
      {% elseif symptom.location %}
        {% if symptom.location == "right breast" %}
          {{ symptom.type }} on right breast
        {% elseif symptom.location == "left breast" %}
          {{ symptom.type }} on left breast
        {% elseif symptom.location == "both breasts" %}
          {{ symptom.type }} on both breasts
        {% elseif symptom.location == "other" %}
          {{ symptom.type }} on {{ symptom.otherLocationDescription | lower or "other area" }}
        {% else %}
          {{ symptom.type }}
        {% endif %}
      {% else %}
        {{ symptom.type }}
      {% endif %}
    {% endset %}

    {% set rows = rows | push({
      key: {
        text: keyText | trim
      },
      value: {
        html: symptomHtml | trim
      },
      actions: {
        items: [
          {
            href: "./medical-information/symptoms/edit/" + symptom.id,
            text: "Change",
            visuallyHiddenText: symptom.type | lower
          }
        ]
      },
      classes: "nhsuk-summary-list--no-border" if loop.last
    }) %}
  {% endfor %}

  {{ summaryList({
    rows: rows
  }) }}
{% endif %}