{# app/views/events/mammography/medical-information/symptoms/details.html #}

{% extends 'layout-app.html' %}

{% set type = event.symptomTemp.type %}
{% if type != "Other" %}
  {% set pageHeading = "Details of the " + (type | lower) %}
{% else %}
  {% set pageHeading = "Symptom details" %}
{% endif %}

{% set gridColumn = "nhsuk-grid-column-two-thirds" %}

{% set formAction = './save' | urlWithReferrer(referrerChain) %}

{# {% set back = {
  href: "/clinics/" + clinicId,
  text: "Back to clinic"
} %}
 #}




{% block pageContent %}

  {{ participant | log("Participant") }}
  {{ event | log("Temp event") }}


  <h1 class="nhsuk-heading-l">
    <span class="nhsuk-caption-l">
      {{ participant | getFullName }}
    </span>
    {{ pageHeading }}
  </h1>

    {# Location #}

  {# Nipple change location #}
  {% if event.symptomTemp.type == "Nipple change" %}

    {{ checkboxes({
      idPrefix: "nippleChangeLocation",
      name: "event[symptomTemp][nippleChangeLocation]",
      values: event.symptomTemp.nippleChangeLocation,
      classes: "app-checkboxes--inline",
      fieldset: {
        legend: {
          text: "Which nipple has changed?",
          classes: "nhsuk-fieldset__legend--m",
          isPageHeading: false
        }
      },
      items: [
        {
          value: "right nipple",
          text: "Right nipple"
        },
        {
          value: "left nipple",
          text: "Left nipple"
        }
      ]
    }) }}

    {# {{ radios({
      idPrefix: "nippleChangeLocation",
      name: "event[symptomTemp][nippleChangeLocation]",
      value: event.symptomTemp.nippleChangeLocation,
      fieldset: {
        legend: {
          text: "Which nipple has changed?",
          classes: "nhsuk-fieldset__legend--m",
          isPageHeading: false
        }
      },
      items: [
        {
          value: "right nipple",
          text: "Right nipple"
        },
        {
          value: "left nipple",
          text: "Left nipple"
        },
        {
          value: "both nipples",
          text: "Both nipples"
        }
      ]
    }) }} #}

  {% else %}

    {% set radioQuestionText %}
      {% if event.symptomTemp.type == "Other" %}
        Where is the symptom?
      {% else %}
        Where is the {{ event.symptomTemp.type | lower }} located?
      {% endif %}
    {% endset %}

    {{ radios({
      idPrefix: "location",
      name: "event[symptomTemp][location]",
      value: event.symptomTemp.location,
      fieldset: {
        legend: {
          text: radioQuestionText,
          classes: "nhsuk-fieldset__legend--m",
          isPageHeading: false
        }
      },
      items: [
        {
          value: "right breast",
          text: "Right breast",
          conditional: {
            html: input({
              name: "event[symptomTemp][rightBreastDescription]",
              label: {
                text: "Describe the specific area"
              },
              value: event.symptomTemp.rightBreastDescription,
              classes: "nhsuk-u-width-two-thirds"
            })
          }
        },
        {
          value: "left breast",
          text: "Left breast",
          conditional: {
            html: input({
              name: "event[symptomTemp][leftBreastDescription]",
              label: {
                text: "Describe the specific area"
              },
              value: event.symptomTemp.leftBreastDescription,
              classes: "nhsuk-u-width-two-thirds"
            })
          }
        },
        {
          value: "both breasts",
          text: "Both breasts",
          conditional: {
            html: input({
              name: "event[symptomTemp][bothBreastsDescription]",
              label: {
                text: "Describe the specific areas"
              },
              value: event.symptomTemp.bothBreastsDescription,
              classes: "nhsuk-u-width-two-thirds"
            })
          }
        } if event.symptomTemp.type == "Lumps" else {},
        {
          divider: "or"
        },
        {
          value: "other",
          text: "Other",
          _hint: {
            text: "For example, the armpit"
          },
          conditional: {
            html: input({
              name: "event[symptomTemp][otherLocationDescription]",
              label: {
                text: "Describe the specific area"
              },
              hint: {
                text: "For example, the left armpit"
              },
              value: event.symptomTemp.otherLocationDescription,
              classes: "nhsuk-u-width-two-thirds"
            })
          }
        }
      ] | removeEmpty
    }) }}

  {% endif %}


  {% if event.symptomTemp.type == "Other" %}

    {{ input({
      name: "event[symptomTemp][otherDescription]",
      label: {
        text: "Describe the symptom",
        classes: "nhsuk-label--m"
      },
      value: event.symptomTemp.otherDescription,
      classes: "nhsuk-u-width-two-thirds"
    }) }}

  {# Nipple change type #}
  {% elseif event.symptomTemp.type == "Nipple change" %}
    {{ radios({
      idPrefix: "nippleChangeType",
      name: "event[symptomTemp][nippleChangeType]",
      value: event.symptomTemp.nippleChangeType,
      fieldset: {
        legend: {
          text: "Describe the change",
          classes: "nhsuk-fieldset__legend--m",
          isPageHeading: false
        }
      },
      items: [
        {
          value: "discharge",
          text: "Discharge"
        },
        {
          value: "inversion",
          text: "Inversion"
        },
        {
          value: "rash or eczema",
          text: "Rash or eczema"
        },
        {
          value: "shape change",
          text: "Shape change"
        },
        {
          value: "colour change",
          text: "Colour change"
        },
        {
          value: "other",
          text: "Other",
          conditional: {
            html: input({
              name: "event[symptomTemp][nippleChangeDescription]",
              label: {
                text: "Describe the specific area"
              },
              value: event.symptomTemp.nippleChangeDescription,
              classes: "nhsuk-u-width-two-thirds"
            })
          }
        }
      ]
    }) }}

  {# Skin change type #}
  {% elseif event.symptomTemp.type == "Skin change" %}

    {{ radios({
      idPrefix: "skinChangeType",
      name: "event[symptomTemp][skinChangeType]",
      value: event.symptomTemp.skinChangeType,
      fieldset: {
        legend: {
          text: "How has the skin changed?",
          classes: "nhsuk-fieldset__legend--m",
          isPageHeading: false
        }
      },
      items: [
        {
          value: "sores or cysts",
          text: "Sores or cysts"
        },
        {
          value: "dimples or indentation",
          text: "Dimples or indentation"
        },
        {
          value: "rash",
          text: "Rash"
        },
        {
          value: "colour change",
          text: "Colour change"
        },
        {
          value: "other",
          text: "Other",
          conditional: {
            html: input({
              name: "event[symptomTemp][skinChangeDescription]",
              label: {
                text: "Describe the change"
              },
              value: event.symptomTemp.skinChangeDescription,
              classes: "nhsuk-u-width-two-thirds"
            })
          }
        }
      ]
    }) }}
  {% endif %}

  {# Dates #}
  {% set dateKnownHtml %}
      {{ dateInput({
        id: "dateStarted",
        namePrefix: "event[symptomTemp][dateStarted]",
        fieldset: {
          legend: {
            text: "Date symptom started",
            classes: "nhsuk-u-visually-hidden",
            isPageHeading: false
          }
        },
        hint: {
          text: "For example, 3 2025"
        },
        items: [
          {
            name: "month",
            classes: "nhsuk-input--width-2",
            value: event.symptomTemp.dateStarted.month
          },
          {
            name: "year",
            classes: "nhsuk-input--width-4",
            value: event.symptomTemp.dateStarted.year
          }
        ]
      }) }}
    {% endset %}

    {% set approximateDateHtml %}
      {{ input({
        id: "approximateDateStarted",
        name: "event[symptomTemp][approximateDateStarted]",
        label: {
          text: "Enter an approximate date",
          classes: "nhsuk-u-visually-hidden"
        },
        hint: {
          text: "For example, 9 months ago"
        },
        classes: "nhsuk-u-width-two-thirds",
        value: event.symptomTemp.approximateDateStarted
      }) }}
    {% endset %}

    {# {% set dateRangeOptions = [
      "Less than a week",
      "1 week to a month",
      "1 to 3 months",
      "3 months to a year",
      "1 to 3 years",
      "Over 3 years"
    ] %} #}

    {% set dateRangeOptions = [
      "Less than 3 months",
      "3 months to a year",
      "1 to 3 years",
      "Over 3 years"
    ] %}

    {% set dateRadioItems = [] %}

    {% for item in dateRangeOptions %}
      {% set dateRadioItems = dateRadioItems | push({
        value: item,
        text: item
      }) %}
    {% endfor %}

    {% set dateRadioItems = dateRadioItems | push({
      divider: "or"
    }) %}

    {% set dateRadioItems = dateRadioItems | push({
      value: "dateKnown",
      text: "Since a specific date",
      conditional: {
        html: dateKnownHtml
      }
    }) %}

    {% set dateRadioItems = dateRadioItems | push({
      divider: "or"
    }) %}

    {% set dateRadioItems = dateRadioItems | push({
      value: "notSure",
      text: "Not sure"
    }) %}



    {# Radios for when were they taken - choices 'Date known' and 'Enter approximate date' and 'Not sure'  #}
    {{ radios({
      idPrefix: "dateType",
      name: "event[symptomTemp][dateType]",
      fieldset: {
        legend: {
          text: "How long has this symptom existed?",
          classes: "nhsuk-fieldset__legend--m",
          isPageHeading: false
        }
      },
      value: event.symptomTemp.dateType,
      items: dateRadioItems
    }) }}

    {% set stymptomStoppedHtml %}
      {{ input({
        name: "event[symptomTemp][approximateDateStopped]",
        label: {
          text: "Describe when"
        },
        hint: {
          text: "For example, 3 days ago"
        },
        value: event.symptomTemp.approximateDateStopped,
        classes: "nhsuk-u-width-two-thirds"
      }) }}
    {% endset %}

    {# todo: this is hacky! #}
    <br>

    {{ checkboxes({
      idPrefix: "isIntermittent",
      name: "event[symptomTemp][isIntermittent]",
      items: [
        {
          value: "yes",
          text: "The symptom is intermittent"
        }
      ]
    }) }}

    {{ checkboxes({
      idPrefix: "hasStopped",
      name: "event[symptomTemp][hasStopped]",
      items: [
        {
          value: "yes",
          text: "The symptom has recently resolved",
          conditional: {
            html: stymptomStoppedHtml
          }
        }
      ]
    }) }}

  {{ radios({
    idPrefix: "hasBeenInvestigated",
    name: "event[symptomTemp][hasBeenInvestigated]",
    value: event.symptomTemp.hasBeenInvestigated,
    fieldset: {
      legend: {
        text: "Has this been investigated?",
        classes: "nhsuk-fieldset__legend--m",
        isPageHeading: false
      }
    },
    items: [
      {
        value: "yes",
        text: "Yes",
        conditional: {
          html: textarea({
            name: "event[symptomTemp][investigatedDescription]",
            label: {
              text: "Provide details"
            },
            hint: {
              text: "Include where, when and the outcome"
            },
            value: event.symptomTemp.investigatedDescription,
            _classes: "nhsuk-u-width-two-thirds"
          })
        }
      },
      {
        value: "no",
        text: "No"
      }
    ]
  }) }}



  {{ textarea({
    name: "event[symptomTemp][additionalInfo]",
    label: {
      text: "Additional info (optional)",
      classes: "nhsuk-label--m"
    },
    rows: 4,
    value: event.symptomTemp.additionalInfo
  }) }}

  <div class="nhsuk-button-group">
    {{ button({
      text: "Save symptom",
      attributes: {
        name: "action",
        value: "save"
      }
    }) }}

    {# {{ button({
      text: "Save and add another",
      classes: "nhsuk-button--secondary",
      attributes: {
        name: "action",
        value: "save-and-add"
      }
    }) }} #}
    {% set saveSymptomFirst = true %}
    {% include "add-symptom-button-menu.njk" %}
  </div>

  {# Only show link if this is a previously saved symptom #}
  {% if event.symptomTemp.id %}
    {% set deleteHref %}
      ./delete/{{ event.symptomTemp.id }}{{ "" | urlWithReferrer(referrerChain) }}
    {% endset %}
    <p class="nhsuk-u-margin-top-4">
      <a href="{{ deleteHref }}" class="nhsuk-link app-link--warning">
        Delete this symptom
      </a>
    </p>
  {% endif %}
  {# {% include "screening-cannot-proceed-link.njk" %} #}

{% endblock %}

