
{% extends 'layout.html' %}

{% set pageHeading = "Current symptoms" %}

{% set formAction = "./current-symptoms" %}


{% set hideBackLink = true %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="{{ gridColumn or 'nhsuk-grid-column-two-thirds' }}">

    {% if flash.error %}
      {{ errorSummary({
        "titleText": "There is a problem",
        "errorList": flash.error
      }) }}
    {% endif %}

    <form action="{{formAction or './'}}" method="POST">
      <h1>
        <span class="nhsuk-caption-l">{{( participant | getFullName ) or "Jane Smith" }} pre-screening questionnaire</span>
        {{ pageHeading }}
      </h1>

      {# Skin changes question #}
      {% set skinChangesYesHtml %}
        {{ checkboxes({
          name: "questionnaire[skinChangeTypes]",
          items: [
            {
              value: "rash",
              text: "Rash"
            },
            {
              value: "tethering",
              text: "Tethering"
            },
            {
              value: "dimpling",
              text: "Dimpling"
            }
          ]
        }) }}
        
        {{ textarea({
          name: "questionnaire[skinChangeDetails]",
          id: "skinChangeDetails",
          label: {
            text: "Please provide details of location and how long you’ve noticed these"
          }
        }) }}
      {% endset -%}

      {{ radios({
        idPrefix: "skinChanges",
        name: "questionnaire[skinChanges]",
        fieldset: {
          legend: {
            text: "Have you noticed any skin changes on your breasts recently?",
            classes: "nhsuk-fieldset__legend--s",
            isPageHeading: false
          }
        },
        items: [
          {
            value: "yes",
            text: "Yes",
            conditional: {
              html: skinChangesYesHtml
            }
          },
          {
            value: "no",
            text: "No"
          }
        ]
      }) }}

      {# Lumps question #}
      {% set lumpsYesHtml %}
        {{ textarea({
          name: "questionnaire[lumpDetails]",
          id: "lumpDetails",
          label: {
            text: "Please describe the location and how long you've noticed the lump"
          },
          hint: {
            text: "For example: 'Upper right breast, noticed 2 weeks ago'"
          }
        }) }}
      {% endset -%}

      {{ radios({
        idPrefix: "lumpsNoticed",
        name: "questionnaire[lumpsNoticed]",
        fieldset: {
          legend: {
            text: "Have you noticed any lumps in your breasts?",
            classes: "nhsuk-fieldset__legend--s",
            isPageHeading: false
          }
        },
        items: [
          {
            value: "yes",
            text: "Yes",
            conditional: {
              html: lumpsYesHtml
            }
          },
          {
            value: "no",
            text: "No"
          }
        ]
      }) }}

      {# Breast shape changes #}
      {% set shapeChangesYesHtml %}
        {{ textarea({
          name: "questionnaire[shapeChangeDetails]",
          id: "shapeChangeDetails",
          label: {
            text: "Please describe the changes you've noticed and when you first noticed them"
          }
        }) }}
      {% endset -%}

      {{ radios({
        idPrefix: "shapeChanges",
        name: "questionnaire[shapeChanges]",
        fieldset: {
          legend: {
            text: "Have you noticed a change in the shape of your breasts recently?",
            classes: "nhsuk-fieldset__legend--s",
            isPageHeading: false
          }
        },
        items: [
          {
            value: "yes",
            text: "Yes",
            conditional: {
              html: shapeChangesYesHtml
            }
          },
          {
            value: "no",
            text: "No"
          }
        ]
      }) }}

      {% set nippleSymptomDetailsHtml %}
  {{ textarea({
    name: "questionnaire[nippleSymptomDetails]",
    id: "nippleSymptomDetails",
    label: {
      text: "Please provide details of which nipple and how long you've noticed this"
    }
  }) }}
{% endset -%}

{{ checkboxes({
  idPrefix: "nippleSymptoms",
  name: "questionnaire[nippleSymptoms]",
  fieldset: {
    legend: {
      text: "Have you noticed any changes to your nipples?",
      classes: "nhsuk-fieldset__legend--s"
    }
  },
  hint: {
    text: "Select all that apply"
  },
  items: [
    {
      value: "distortion",
      text: "Change in the shape or position"
    },
    {
      value: "eczema",
      text: "Dry, red, itchy or scaly skin"
    },
    {
      value: "discharge",
      text: "Blood-stained discharge"
    },
    {
      value: "inversion",
      text: "Nipple pulling inward or changing direction"
    },
    {
      divider: "or"
    },
    {
      value: "none",
      text: "No, I have not noticed any changes",
      behaviour: "exclusive"
    }
  ],
  conditional: {
    html: nippleSymptomDetailsHtml
  }
}) }}

      {# Breast scars #}
      {% set scarsYesHtml %}
        {{ textarea({
          name: "questionnaire[scarLocation]",
          id: "scarLocation",
          label: {
            text: "Where are the scars located?"
          }
        }) }}

        {{ textarea({
          name: "questionnaire[scarReason]",
          id: "scarReason",
          label: {
            text: "What was the reason for the scarring?"
          },
          hint: {
            text: "For example: surgery, injury, etc."
          }
        }) }}
      {% endset -%}

      {{ radios({
        idPrefix: "breastScars",
        name: "questionnaire[breastScars]",
        fieldset: {
          legend: {
            text: "Do you have any scars on your breasts?",
            classes: "nhsuk-fieldset__legend--s",
            isPageHeading: false
          }
        },
        items: [
          {
            value: "yes",
            text: "Yes",
            conditional: {
              html: scarsYesHtml
            }
          },
          {
            value: "no",
            text: "No"
          }
        ]
      }) }}

      {{ button({
        text: "Continue"
      }) }}
    </form>
  </div>
</div>


{% endblock %}
