
{% extends 'layout.html' %}

{% set pageHeading = "Summary" %}

{% set formAction = "./complete" %}


{% set hideBackLink = true %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="{{ gridColumn or 'nhsuk-grid-column-two-thirds' }}">

    {% if flash.error %}
      {{ errorSummary({
        "titleText": "There is a problem",
        "errorList": flash.error
      }) }}
    {% endif %}

    <form action="{{formAction or './'}}" method="POST">
      <h1>
        <span class="nhsuk-caption-l">{{( participant | getFullName ) or "Jane Smith" }} pre-screening questionnaire</span>
        {{ pageHeading }}
      </h1>

      {% include "summary-lists/questionnaire.njk" %}

      {{ button({
        text: "Confirm and submit"
      }) }}

      <p>
        <a href="/clinics/{{clinicId}}/participants/{{participantId}}/questionnaire/health-status">
          Go back and make changes
        </a>
      </p>

    </form>
  </div>
</div>


{% endblock %}
