
{% extends 'layout-app.html' %}

{% set pageHeading = "Hormone replacement therapy (HRT)" %}

{% set gridColumn = "nhsuk-grid-column-two-thirds" %}

{% set formAction = './../record-medical-information' | getReturnUrl(referrerChain) %}

{# {% set back = {
  href: "/clinics/" + clinicId,
  text: "Back to clinic"
} %}
 #}

{% block pageContent %}

  {{ participant | log("Participant") }}

  {# <h1 class="nhsuk-heading-l">
    <span class="nhsuk-caption-l">
      {{ participant | getFullName }}
    </span>
    {{ pageHeading }}
  </h1> #}

  {% set currentlyTakingHtml %}

    {{ input({
      name: "event[medicalInformation][hrt][hrtDuration]",
      value: event.medicalInformation.hrt.hrtDuration,
      label: {
        text: "For how long?"
      },
      classes: "nhsuk-u-width-two-thirds",
      hint: {
        text: "For example, 18 months"
      }
    }) }}

  {% endset %}

  {% set recentlyStoppedHtml %}

    {{ input({
      name: "event[medicalInformation][hrt][hrtDurationSinceStopped]",
      value: event.medicalInformation.hrt.hrtDurationSinceStopped,
      label: {
        text: "Describe when they stopped"
      },
      classes: "nhsuk-u-width-two-thirds",
      hint: {
        text: "For example, two weeks ago"
      }
    }) }}

    {{ input({
      name: "event[medicalInformation][hrt][hrtDurationBeforeStopping]",
      value: event.medicalInformation.hrt.hrtDurationBeforeStopping,
      label: {
        text: "How long had they been taking HRT for?"
      },
      classes: "nhsuk-u-width-two-thirds",
      hint: {
        text: "For example, 5 years"
      }
    }) }}

  {% endset %}

  <span class="nhsuk-caption-l">
    {{ participant | getShortName }}
  </span>
  {{ radios({
    name: "event[medicalInformation][hrt][hrtQuestion]",
    idPrefix: "hrtQuestion",
    value: event.medicalInformation.hrt.hrtQuestion,
    fieldset: {
      legend: {
        text: "Is " + (participant | getShortName) + " currently taking HRT?",
        classes: "nhsuk-fieldset__legend--l",
        isPageHeading: true
      }
    },
    items: [
    {
      value: "yes",
      text: "Yes",
      conditional: {
        html: currentlyTakingHtml
      }
    },
    {
      value: "no-recently-stopped",
      text: "No, but stopped recently",
      conditional: {
        html: recentlyStoppedHtml
      }
    },
    {
      value: "no",
      text: "No"
    }
  ]
  }) }}

  {{ button({
    text: "Continue"
  }) }}

  {% include "screening-cannot-proceed-link.njk" %}

{% endblock %}

