
{% extends 'layout-app.html' %}

{% set pageHeading = "Today’s clinics" %}


{% block pageContent %}

{% set todaysClinics = data.clinics | getTodaysClinics %}


<h1>
  {{pageHeading}}
</h1>

  {% if todaysClinics.length === 0 %}
    <p class="govuk-body">No clinics scheduled for today.</p>
  {% else %}
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr>
          <th class="govuk-table__header">Location</th>
          <th class="govuk-table__header">Time</th>
          <th class="govuk-table__header">Actions</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        {% for clinic in todaysClinics %}
          {% set unit = data.breastScreeningUnits | findById(clinic.breastScreeningUnitId) %}
          {% set events = data.events | getClinicEvents(clinic.id) %}
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">{{ unit.name }}</td>
            <td class="govuk-table__cell">{{ clinic.date | formatDate }}</td>
            <td class="govuk-table__cell">
              <a href="/clinics/{{ clinic.id }}" class="govuk-link">View clinic</a>
              ({{ events.length }} participants)
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}

{% endblock %}
