{# app/views/index.html #}

{% extends 'layout-app.html' %}

{% set hideBackLink = true %}

{% block pageContent %}

<h1>
  {{serviceName}}
  <span class="nhsuk-caption-xl nhsuk-caption--bottom">Prototype kit {{version}}</span>
</h1>

<p>
  Index page to link to bits of the prototype.
</p>

{{ button({
  text: "Dashboard",
  href: "/dashboard"
}) }}

<h2>Screening appointment</h2>
{% set exampleParticipant = "/clinics/wtrl7jud/events/5gpn41oi" %}
<ul>
  <li>
    <a href="{{ exampleParticipant }}">Initial appointment</a>
  </li>
  <li>
    <a href="{{ exampleParticipant }}/personal-details/ethnicity">Ethnicity</a>
  </li>
  <li>
    <a href="{{ exampleParticipant }}/previous-mammograms/add">Add details of a previous mammogram</a>
  </li>
  <li>
    <a href="{{ exampleParticipant }}/attended-not-screened-reason">Appointment cannot go ahead</a>
  </li>
  <li>
    <a href="{{ exampleParticipant }}/medical-information">Medical information</a>
  </li>
  <li>
    <a href="{{ exampleParticipant }}/record-medical-information">Record medical information</a>
    <ul>
      <li>
        <a href="{{ exampleParticipant }}/medical-information/symptoms/add?referrerChain={{ exampleParticipant }}/record-medical-information">Add a symptom</a>
      </li>
      <li>
        <a href="{{ exampleParticipant }}/medical-information/hormone-replacement-therapy?referrerChain={{ exampleParticipant }}/record-medical-information">Hormone replacement therapy</a>
      </li>
      <li>
        <a href="{{ exampleParticipant }}/medical-information/pregnancy-and-breastfeeding?referrerChain={{ exampleParticipant }}/record-medical-information">Pregnancy and breastfeeding</a>
      </li>
    </ul>
  </li>
  <li>
    <a href="{{ exampleParticipant }}/awaiting-images">Awaiting images</a>
  </li>
  <li>
    <a href="{{ exampleParticipant }}/imaging">Imaging</a>
  </li>
  <li>
    <a href="{{ exampleParticipant }}/confirm">Confirm</a>
  </li>
</ul>

<h2>Other sections</h2>

<ul>
  <li>
    <a href="/clinics">Clinics</a>
    <ul>
      <li><a href="/clinics/wtrl7jud">First clinic today</a></li>
    </ul>
  </li>

  <li>
    <a href="/reading">Image reading</a>
  </li>
  <li>
    <a href="/participants">Participants</a>
    <ul>
      <li><a href="/participants/bc724e9f">Participant view</a></li>
    </ul>
  </li>
  <li>
    <a href="/settings">Settings</a>
  </li>
  <li>
    <a href="/playground">Code playground</a>
  </li>
</ul>

{% endblock %}
