
{% extends 'layout-app.html' %}

{% set hideBackLink = true %}

{% block pageContent %}

<h1>
  {{serviceName}}
  <span class="nhsuk-caption-xl nhsuk-caption--bottom">Prototype kit {{version}}</span>
</h1>

<p>
  Index page to link to bits of the prototype.
</p>

{# {{ data.people[0].name() | log}} #}


{# {% set person = data.helpers.people.findById(personId) %} #}
{{ person.fullName }}



{{ button({
  text: "Go to dashboard",
  href: "/dashboard"
}) }}

<p><a href="/clinics">Clinics</a></p>

{% endblock %}
