
{% extends "layout-app.html" %}

{% set gridColumn = "nhsuk-grid-column-full" %}



{# Custom header with image reading stats and participant name #}
{% block header %}
  {{ super()}}

  <div class="app-reading-status">
    <div class="nhsuk-width-container">
      <div class="app-reading-status__row">
        <div class="app-reading-status__col">
          <strong>Reading progress:</strong>
          <span>{{ progress.current }} of {{ progress.total }} participants</span>
        </div>

        <div class="app-reading-status__col">
          <strong>Status:</strong>
          <span>
            {{ progress.completed }} read,
            {{ progress.total - progress.completed }} remaining
            {%- if progress.skippedEvents | length > 0 -%}
              , {{ progress.skippedEvents | length }} skipped
               {# <a href="#">(go to first unread)</a> #}
            {% endif %}
          </span>
        </div>
      </div>

      {% if participant %}
        <div class="app-reading-status__row">
          <div class="app-reading-status__participant">
            <div class="app-reading-status__detail">
              <strong>Participant:</strong>
              <span>{{ participant | getFullName }}</span>
              {% if participant | getAge %}
                <span>({{ participant | getAge }} years)</span>
              {% endif %}
            </div>

            <div class="app-reading-status__detail">
              <strong>NHS:</strong>
              <span>{{ participant.medicalInformation.nhsNumber | formatNhsNumber }}</span>
            </div>

            <div class="app-reading-status__detail">
              <strong>SX:</strong>
              <span>{{ participant.sxNumber }}</span>
            </div>

            {% if currentEvent %}
              <div class="app-reading-status__detail">
                <strong>Screened:</strong>
                <span>{{ currentEvent.timing.startTime | formatDate }}</span>
              </div>
            {% endif %}
          </div>
        </div>
      {% endif %}
    </div>
  </div>
{% endblock header %}



{% if not hideSecondaryNavigation %}
  {% set mainClasses = "nhsuk-u-padding-top-3" %}

  {% set backHref %}
    /clinics/{{ clinicId }}/reading
  {% endset %}
  {% set back = {
      href: backHref | trim,
      text: "Back to reading list"
    }
  %}
{% endif %}

{% block pageNavigation %}
  {% if not hideSecondaryNavigation %}
    {% include "reading/secondary-navigation.njk" %}
  {% endif %}
{% endblock pageNavigation %}