
{% extends "layout.html" %}


{% block beforeContent %}
{% if not hideBackLink %}
  {{ backLink({
    href: back.href or "javascript:history.back();",
    text: back.text or "Go back"
  }) }}
{% endif %}


{% endblock %}


{% block content %}
{{ data | log }}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    {% if flash.error %}
      {{ errorSummary({
        "titleText": "There is a problem",
        "errorList": flash.error
      }) }}
    {% endif %}

    {% if formAction or isForm %}
      <form action="{{formAction or 'GET'}}">
    {% endif %}
    {% block pageContent %}{% endblock %}
    {% if formAction or isForm %}
      </form>
    {% endif %}
  </div>
</div>
{% endblock %}
