
{% extends "layout-app.html" %}

{% set gridColumn = gridColumn or "nhsuk-grid-column-full" %}

{% set isClinicContext = batch.clinicId %}
{% set isBatchContext = not isClinicContext %}
{# {% for clinic in clinics %}
          {% set location = clinic.location %}
          {% set stats = clinic.readingStatus %}

          <tr>
            <td>
              <a href="/reading/clinics/{{ clinic.id }}" class="nhsuk-link">
                {% if location.type === 'mobile_unit' %}
                  {{ location.name }} at {{ clinic.siteName }}
                {% else %}
                  {{ location.name }}
                {% endif %} #}


{# Custom header with image reading stats and participant name #}
{% block header %}
  {{ super()}}
  {{ participant | log("Participant") }}
  {{ event | log("Event") }}
  {{ data.imageReadingTemp | log("ImageReadingTemp")}}
  {{ batch | log("Batch")}}
  <div class="app-reading-status">
    <div class="nhsuk-width-container">
      <div class="app-reading-status__row">
        <div class="app-reading-status__col">
          <strong>
            {% if isBatchContext %}
              Batch:
            {% else %}
              Clinic:
            {% endif %}

          </strong>
          {% if isBatchContext %}
            {{ batch.name }}
          {% else %}
            {% set locationName %}
              {% if location.type === 'mobile_unit' %}
                {{ location.name }} at {{ clinic.siteName }}
              {% else %}
                {{ location.name }}
              {% endif %}
            {% endset %}
            <span>{{ locationName }} - {{ clinic.date | formatDate |  noWrap }}</span>
          {% endif %}

        </div>
        <div class="app-reading-status__col">
          <strong>Progress:</strong>
          {{ progress | log("Progress") }}
          {{ data.readingSession | log("Reading session") }}

          <span>{{ progress.userReadCount }} read,
            {{ progress.userReadableCount }} remaining
            {%- if progress.skippedEvents | length > 0 -%}
              , {{ progress.skippedEvents | length }} skipped
               {# <a href="#">(go to first unread)</a> #}
            {% endif %}</span>
        </div>

      </div>

      {% if participant %}
        <div class="app-reading-status__row">
          <div class="app-reading-status__participant">
            <div class="app-reading-status__detail">
              <strong>{{ participant | getFullName }}</strong>
              {% if participant | getAge %}
                <span>({{ participant | getAge }} years)</span>
              {% endif %}
            </div>

            <div class="app-reading-status__detail">
              <strong>DOB:</strong>
              <span>{{ participant.demographicInformation.dateOfBirth | formatDate }}</span>
            </div>

            <div class="app-reading-status__detail">
              <strong>NHS:</strong>
              <span>{{ participant.medicalInformation.nhsNumber | formatNhsNumber }}</span>
            </div>

            <div class="app-reading-status__detail">
              <strong>SX:</strong>
              <span>{{ participant.sxNumber }}</span>
            </div>

            {% if currentEvent %}
              <div class="app-reading-status__detail">
                <strong>Screened:</strong>
                <span>{{ currentEvent.timing.startTime | formatDate }}</span>
              </div>
            {% endif %}
          </div>
        </div>
      {% endif %}
    </div>
  </div>
{% endblock header %}

{% if not hideSecondaryNavigation %}
  {% set mainClasses = "nhsuk-u-padding-top-3" %}

  {% set backHref %}
    /reading/batch/{{ batchId }}
  {% endset %}

  {% block beforeContent %}

    {{ backLink({
      href: "/reading/batch/" ~ batchId,
      text: "Batch list" if isBatchContext else "Clinic list"
    }) }}

    {% if hideSecondaryNavigation %}
      {{ backLink({
        href: "javascript:history.back();",
        text: "Back"
      }) }}

    {% endif %}

    {% if (progress.hasPreviousUserReadable or progress.hasNextUserReadable) and not hideSecondaryNavigation %}
      <div class="nhsuk-grid-row app-position-relative nhsuk-u-margin-bottom-3">
        <div class="nhsuk-grid-column-two-thirds">
          {% if progress.hasPreviousUserReadable %}
            {{ backLink({
              href: "/reading/batch/" ~ batchId ~ "/events/" ~ progress.previousUserReadableId,
              text: "Previous case"
            }) }}
          {% endif %}
        </div>

        {% if progress.hasNextUserReadable %}
          <div class="nhsuk-grid-column-one-third app-align-right">
            {# {{ appForwardLink({
              href: "/reading/clinics/" ~ clinicId ~ "/events/" ~ progress.nextUserReadableId ~ "?skipped=" ~ eventId,
              text: "Skip to next unread"
            }) }} #}
            {% if event | canUserReadEvent %}
              {{ appForwardLink({
                href: "/reading/batch/" ~ batchId ~ "/events/" ~ eventId ~ "/skip",
                text: "Skip to next"
              }) }}
            {% else %}
            {# We already have a reading so don't need to skip #}
              {{ appForwardLink({
                href: "/reading/batch/" ~ batchId ~ "/events/" ~ progress.nextUserReadableId,
                text: "Next to read"
              }) }}
            {% endif %}

          </div>
        {% endif %}

      </div>
    {% endif %}


  {% endblock %}

{% endif %}

{% block pageNavigation %}
  {% if not hideSecondaryNavigation %}
    {% include "reading/opinion-ui.njk" %}
    {# <hr class="nhsuk-section-break nhsuk-section-break--m nhsuk-section-break--visible"> #}
    <div class="nhsuk-u-margin-bottom-4"></div>
    {% include "reading/secondary-navigation.njk" %}


  {% endif %}
{% endblock pageNavigation %}

{% block mammogramViewer %}
  {% if participant and data.settings.reading.showPacsViewer | falsify %}
    <!-- Meta tags to control mammogram viewer -->
    <meta name="mammogram-viewer" content="show">
    <meta name="participant-name" content="{{ participant | getFullName }}">
    <meta name="event-id" content="{{ eventId }}">
  {% else %}
    <!-- Default: mammogram viewer should be hidden -->
    <meta name="mammogram-viewer" content="hide">
  {% endif %}
{% endblock %}