
{% extends "layout.html" %}



{% block beforeContent %}
{% if not hideBackLink %}
  {{ backLink({
    href: back.href or "javascript:history.back();",
    text: back.text or "Go back"
  }) }}
{% endif %}


{% endblock %}

{% block header %}
  {{ headerNew({
    account: {
      items: [
        {
          href: "#",
          text: data.currentUser.email,
          icon: true
        },
        {
          href: "#",
          text: "Log out"
        }
      ]
    },
    service: {
      name: serviceName
    },
    primaryLinks: [
      {
        url: "/dashboard",
        label: "Home",
        current: true if navActive == "home"
      },
      {
        url: "/clinics",
        label: "Clinics",
        current: true if navActive == "clinics"
      },
      {
        url: "/participants",
        label: "Participants",
        current: true if navActive == "participants"
      },
      {
        url: "#",
        label: "Messages",
        current: true if navActive == "messages"
      }, {
        url: "#",
        label: "Help and support",
        current: true if navActive == "help"
      }
    ]
  }) }}
 {#  {{ serviceheader({
    service: {
      name: serviceName,
      href: "/home" if not public else "/"
    } if not transactionalService,
    homeHref: "/home" if not public else "/",
    transactional: true if transactionalService,
    transactionalService: transactionalService,
    primaryLinks: navigation.primaryLinks if not public,
    account: navigation.account if not public
  }) }} #}
{% endblock %}


{% block content %}
{{ data | log }}
<div class="nhsuk-grid-row">
  <div class="{{ gridColumn or 'nhsuk-grid-column-two-thirds' }}">

    {% if flash.error %}
      {{ errorSummary({
        "titleText": "There is a problem",
        "errorList": flash.error
      }) }}
    {% endif %}

    {% if formAction or isForm %}
      <form action="{{formAction or './'}}" method="{{ formMethod or 'GET'}}">
    {% endif %}
    {% block pageContent %}{% endblock %}
    {% if formAction or isForm %}
      </form>
    {% endif %}
  </div>
</div>
{% endblock %}
