<!--
  This is the main layout where you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Extends the layout from /docs/views/template.html -->
{% extends "template.html" %}

{%- from '_components/header/macro.njk' import headerNew %}
{%- from '_components/count/macro.njk' import appCount %}
{%- from '_components/event-status/macro.njk' import eventStatus %}
{%- from '_components/forward-link/macro.njk' import appForwardLink %}

{%- from '_components/notification-banner/macro.njk' import appNotificationBanner %}
{%- from '_components/secondary-navigation/macro.njk' import appSecondaryNavigation %}
{%- from '_components/button-menu/macro.njk' import buttonMenu %}

{%- from '_components/summary-list/macro.njk' import appSummaryListRow %}
{%- from '_components/summary-list/macro.njk' import appSummaryList as summaryList %}


<!-- Add your custom CSS or Sass in /app/assets/sass/main.scss -->
{% block headCSS %}
  <link href="/css/main.css" rel="stylesheet">
{% endblock %}

<!-- Set the page title -->
{% block pageTitle -%}
  {%- if pageHeading -%}
    {{- pageHeading }} -
  {%- endif -%}
  {{ " " + serviceName }} - NHS
{%- endblock %}

<!-- Edit the header -->
<!-- Header code examples can be found at https://service-manual.nhs.uk/design-system/components/header -->
{% block header %}
  {{ header({
    "service": {
        "name": serviceName,
        "href": "/"
      },
      "showNav": "false",
      "showSearch": "false"
    })
  }}
{% endblock %}

<!-- Edit the footer -->
<!-- Footer code examples can be found at https://service-manual.nhs.uk/design-system/components/footer -->
{% block footer %}
  {{ footer({
    "links": [
      {
        "URL": "/",
        "label": "Home"
      },
      {
        "URL": "/settings",
        "label": "Settings"
      },
      {
        "URL": "/clear-data",
        "label": "Clear data"
      },
      {
        "URL": "https://github.com/NHSDigital/manage-screening-events-prototype",
        "label": "Github"
      }
    ]
  })}}
{% endblock %}

{% block bodyEnd %}
  {% block scripts %}
    <!-- Custom JavaScript files can be added to this file -->
    {% include "_includes/scripts.html" %}
    <!-- For adding page specific JavsScript -->
    {% block pageScripts %}{% endblock %}
  {% endblock %}
{% endblock %}
